@charset "utf-8";

.hide {display:block; text-indent:-9999px; overflow:hidden; white-space:nowrap;}
.bh_wp {width:1200px; margin:10px auto;}
.left_sort {width:208px; height:348px; border:1px solid #e7530a; background:#f9f9f9;}
.sort_box {padding:10px; border-bottom:1px solid #fff;}
.sort_box:last-child {border-bottom:none;}
.sort_box h3 {background:url(../images/sort_arrow.gif) no-repeat right center;}
.sort_box h3 a {font-size:16px; font-weight:700; color:#333;}
.st_list li {float:left; min-width:80px; line-height:180%;}
.st_list li a {color:#666; font-size:12px;}
.slides {position:relative; width:760px; height:350px;}
.slidesjs-navigation {display:none;}
.slidesjs-pagination {position:absolute; z-index:99; right:30px; bottom:10px;}
.slidesjs-pagination li {float:left; margin-left:5px;}
.slidesjs-pagination li a {display:block; width:40px; height:4px; background:#fff; text-indent:-9999px; overflow:hidden;}
.slidesjs-pagination li .active {background:#a72b39;}
.rig_show {width:210px;}
.r_slides {width:210px; height:170px; position:relative;}
.r_slides .slidesjs-pagination {right:10px;}
.pc_act h2 {background:url(../images/pc_act.gif) no-repeat; width:85px; height:20px;}
.act_left {width:980px; height:320px;}
.act_list {width:990px;}
.act_list li {position:relative; width:155px; height:155px; float:left; overflow:hidden; margin:0 10px 10px 0;}
.act_info {position:absolute; bottom:-130px; left:0; padding:5px; width:145px; height:145px; background:#000; filter:alpha(opacity=60); background:rgba(0,0,0,.5); color:#fff; font-family:microsoft YaHei;}
.ainfo {color:#cfcd15;}
.sg_btn {display:block; width:60px; height:20px; position:absolute; bottom:5px; left:47.5px; border-radius:3px; background:#ff7200; color:#fff; text-align:center; line-height:20px; font-family:SimSun;}
.sg_btn:hover {text-decoration:none;}
.may_like {width:208px; height:318px; border:1px solid #ddd;}
.may_like h3 {height:40px; background-color: #ff7200; padding-left:10px;line-height: 40px;color: white;}
.ml_list {padding:5px 10px;}
.ml_list li {background:url(../images/dot.gif) no-repeat left center; padding-left:10px; width:170px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:22px;}
.ml_list li a {color:#666;}
.bh_title {height:37px; line-height:37px; border:1px solid #ddd; border-bottom:2px solid #ff7200;}
.bh_title h2 {width:210px; height:38px; position:relative; top:-1px; left:-1px; background:#ff7200; text-align:center; line-height:38px; color:#fff; font-family:microsoft YaHei; font-size:16px;}
.bh_cont {border:1px solid #ddd; border-top:none;}
.brand_tabs li {width:208px; height:75px; border-bottom:1px solid #ddd; position:relative;}
.left_brand {border-right:1px solid #ddd;}
.right_brand {border-left:1px solid #ddd;}
.brand_tabs li:last-child {border-bottom:none;}
.brand_tabs .cur {background-color:#fef6f7;}
.left_brand .cur b {position:absolute; width:7px; height:13px; background:url(../images/left_bd.gif) no-repeat; right:-7px; top:31px;}
.right_brand .cur b {position:absolute; width:7px; height:13px; background:url(../images/right_bd.gif) no-repeat; left:-7px; top:31px;}
.brand_box {width:760px; padding:10px; position:relative; display:none;}
.b_slides {position:absolute; width:360px; height:210px; top:10px; left:210px;}
.b_slides .slidesjs-pagination {right:10px;}
.blist {width:800px; height:435px; overflow:hidden;}
.blist li {width:167px; height:210px; float:left; margin:0 30px 15px 0;}
.bname {margin-top:5px; height:36px;}
.bname a {color:#333; line-height:150%;}
.b_price {font-family:Microsoft YaHei; font-size:14px; color:#e7530a;}
.blist .bl_01 {margin-right:425px;}
.bh_banner {display:block; width:100%; height:300px;}
.bh_left {width:208px; height:462px; border-right:1px solid #ddd;}
.course_ranking {padding:10px 10px 5px;}
.course_ranking h3 {line-height:28px; border-bottom:1px dotted #e0e0e0; text-align:center; color:#e7530a; font-family:Microsoft YaHei; font-size:16px;}
.cs_top li {line-height:38px; border-bottom:1px dotted #e0e0e0;}
.top_num {display:inline-block; zoom:1; *display:inline; background:url(../images/num_bg.gif) no-repeat; width:18px; height:18px; text-align:center; line-height:18px; color:#fff; font-weight:700; vertical-align:middle;}
.cs_top li a {color:#666; margin-left:10px; display:inline-block; zoom:1; *display:inline; width:160px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; vertical-align:middle;}
.ranking_wp {width:188px; height:160px; position:relative;}
.ranking_wp .slidesjs-pagination {right:auto; width:100%; text-align:center;}
.ranking_wp .slidesjs-pagination li {float:none; display:inline-block; zoom:1; *display:inline; margin:0 5px;}
.ranking_wp .slidesjs-pagination li a {width:10px; height:10px; background:url(../images/pg_bg.gif) no-repeat;}
.ranking_wp .slidesjs-pagination li .active {background:url(../images/pg_cur_bg.gif) no-repeat;}
.cs_slides {width:208px; height:257px; position:relative; border-top:1px solid #e0e0e0;}
.cs_slides .slidesjs-pagination {right:10px;}
.bh_center {width:760px; padding:10px; position:relative;}
.bh_right {border-left:1px solid #ddd; height:462px;}
.img_top, .img_bottom {display:block;}
.img_top {margin-bottom:10px; border-bottom:1px solid #e0e0e0;}
.img_bottom {border-top:1px solid #e0e0e0;}