<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.goodscategory.dao.OGoodsCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.api.bean.OGoodsCategory" >
    <id column="cat_id" property="catId" jdbcType="BIGINT" />
    <result column="cat_name" property="catName" jdbcType="VARCHAR" />
    <result column="cat_parent_id" property="catParentId" jdbcType="BIGINT" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
    <result column="cat_sort" property="catSort" jdbcType="INTEGER" />
    <result column="cat_grade" property="catGrade" jdbcType="INTEGER" />
    <result column="cat_seo_title" property="catSeoTitle" jdbcType="VARCHAR" />
    <result column="cat_seo_keyword" property="catSeoKeyword" jdbcType="VARCHAR" />
    <result column="cat_seo_desc" property="catSeoDesc" jdbcType="VARCHAR" />
    <result column="cat_is_show" property="catIsShow" jdbcType="CHAR" />
    <result column="cat_delflag" property="catDelflag" jdbcType="CHAR" />
    <result column="cat_create_name" property="catCreateName" jdbcType="VARCHAR" />
    <result column="cat_create_time" property="catCreateTime" jdbcType="TIMESTAMP" />
    <result column="cat_modified_name" property="catModifiedName" jdbcType="VARCHAR" />
    <result column="cat_modified_time" property="catModifiedTime" jdbcType="TIMESTAMP" />
    <result column="cat_del_name" property="catDelName" jdbcType="VARCHAR" />
    <result column="cat_del_time" property="catDelTime" jdbcType="TIMESTAMP" />
    <result column="cat_rate" property="catRate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    cat_id, cat_name, cat_parent_id, type_id, cat_sort, cat_grade, cat_seo_title, cat_seo_keyword, 
    cat_seo_desc, cat_is_show, cat_delflag, cat_create_name, cat_create_time, cat_modified_name, 
    cat_modified_time, cat_del_name, cat_del_time, cat_rate jhj
  </sql>

  <!--查询商品品牌 2015年08月25日17:54:38 lih-->
  <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT  <include refid="Base_Column_List"/>
    FROM np_goods_category
    where cat_delflag='0'
    limit #{start},#{end}
  </select>

  <select id="count" resultType="java.lang.Integer">
    SELECT count(1)
    FROM np_goods_category
    where cat_delflag='0'
  </select>
</mapper>