*{margin:0;padding:0;}
body{background:#efefef;font-family:Microsoft YaHei;}
input,textarea,button,code{font-family:Microsoft YaHei;outline:none;}
li{list-style-type:none;}
a{ text-decoration:none;color:#000;}
i,em{font-style:normal;}

.pas{ width:100%; height:auto; background:#FFF; margin:15px 0;}
.pinp{ width:96%; min-height:60px; line-height:60px; margin-left:2%; border-bottom:1px dashed #e2e2e2; background:#FFFFFF;}
.pinp label{ display:inline-block; color:#000000; margin-left:2px; width:100px; float:left; text-align: right;margin-right: 8px;}
.pinp input{width:70%; height:30px; margin-top:15px; border:none;font-size:16px;}
.pinp a{height:30px; line-height:30px;border-radius:3px; background:#efefef; float:right; border:none;padding:0 6px; margin-top:15px;color:#fff;}
.mmbtn{width:94%; height:50px; line-height:50px; margin: 10px 3% 20px 3%; color:#FFFFFF; text-align:center; background:#f53f3e; border-radius:2px; font-size:18px; border:none;}
p{position:relative;}
code{position:absolute;left:100px;bottom:2px;line-height:16px;font-size:12px;color:red;}