<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.information.dao.InformationOnePageMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.information.bean.InformationOnePage" >
    <id column="info_op_id" property="infoOPId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="short_title" property="shortTitle" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="info_op_tag_id" property="infoOPTagId" jdbcType="BIGINT"/>
    <result column="delflag" property="delflag" jdbcType="CHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="img_src" property="imgSrc" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="CHAR" />
    <association property="infoOPTag" column="info_op_tag_id" select="com.ningpai.information.dao.InfoOPTagMapper.selectByPrimaryKey">

    </association>
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.ningpai.information.bean.InformationOnePage" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <resultMap id="BaseResultMapVo" type="com.ningpai.information.vo.InformationOnePageVo">
    <id column="info_op_id" jdbcType="BIGINT" property="infoOPId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="info_op_tag_id" property="infoOPTagId" jdbcType="BIGINT"/>
    <result column="img_src" property="imgSrc" jdbcType="VARCHAR" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_show" property="isShow" jdbcType="CHAR" />
    <association property="infoOPTag" column="info_op_tag_id" select="com.ningpai.information.dao.InfoOPTagMapper.selectByPrimaryKey">
            </association>
  </resultMap>

  <sql id="Base_Column_List" >
    info_op_id, title, short_title, keyword, description, mark, url, info_temp_id, delflag, create_user_id, 
    create_date, update_user_id, update_date, info_op_tag_id, img_src, is_show
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <!-- 查询sql开始 -->
  <!-- 根据主键查询-->
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from np_information_onepage
    where info_op_id = #{infoOPId,jdbcType=BIGINT}
  </select>
  <!-- 根据模板和标签查询单页 -前台用 -->
  <select id="selectByTempTag" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from np_information_onepage
    where info_op_tag_id = #{infoOPTagId,jdbcType=BIGINT}
    and info_temp_id = #{infoTempId,jdbcType=BIGINT}
    and is_show = '1' and delflag = '0'
    order by create_date desc,update_date desc
  </select>
  <!-- 根据单页标题查找单页数量  -->
  <select id="selectInfoOPCountByTitle" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(info_op_id) from np_information_onepage
    where title = #{title,jdbcType=VARCHAR}
    and delflag = '0'
  </select>
  <!-- 根据单页标签查询单页数量，判断是否可删除标签  -->
  <select id="selectInfoOPCountByTag" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(info_op_id) from np_information_onepage
    where info_op_tag_id = #{infoOPTagId,jdbcType=BIGINT}
    and delflag = '0'
  </select>
  <!-- 查询所有的行数（分页用） -->
  <select id="queryTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	select count(info_op_id) from np_information_onepage 
	where delflag = '0'
  	<if test="condition!=null and condition!='' and condition==1">
  		and title like  CONCAT(CONCAT('%', #{searchText},'%')) 
  	</if>
  </select>
  <!-- 根据分页参数查询单独页列表 -->
  <select id="queryByPageBean" resultMap="BaseResultMapVo"
	parameterType="java.util.Map">
    select 
  		<include refid="Base_Column_List" />
  	from np_information_onepage 
  	where delflag = '0'
  	<if test="condition!=null and condition!='' and condition==1">
  		and title like  CONCAT(CONCAT('%', #{searchText},'%')) 
  	</if>
  	order by create_date desc,update_date desc
  	limit #{startRowNum},#{endRowNum}
  </select>
  <!-- 查询sql结束 -->
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from np_information_onepage
    where info_op_id = #{infoOPId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ningpai.information.bean.InformationOnePage" >
    insert into np_information_onepage (info_op_id, title, short_title, keyword, description, mark, url, info_temp_id, delflag, 
    create_user_id, create_date, update_user_id, update_date, content, info_op_tag_id, img_src, is_show)
    values (#{infoOPId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{shortTitle,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{mark,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{infoTempId,jdbcType=BIGINT}, 
      #{delflag,jdbcType=CHAR}, #{createUserId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}, 
      #{infoOPTagId,jdbcType=BIGINT}, #{imgSrc,jdbcType=VARCHAR}, #{isShow,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.information.bean.InformationOnePage" >
    insert into np_information_onepage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoOPId != null" >
        info_op_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="shortTitle != null" >
        short_title,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="infoTempId != null" >
        info_temp_id,
      </if>
      <if test="delflag != null" >
        delflag,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="infoOPTagId != null" >
        info_op_tag_id,
      </if>
      <if test="imgSrc != null" >
        img_src,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoOPId != null" >
        #{infoOPId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="shortTitle != null" >
        #{shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="infoTempId != null" >
        #{infoTempId,jdbcType=BIGINT},
      </if>
      <if test="delflag != null" >
        #{delflag,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="infoOPTagId != null" >
        #{infoOPTagId,jdbcType=BIGINT},
      </if>
      <if test="imgSrc != null" >
        #{imgSrc,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.information.bean.InformationOnePage" >
    update np_information_onepage
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="shortTitle != null" >
        short_title = #{shortTitle,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="infoTempId != null" >
        info_temp_id = #{infoTempId,jdbcType=BIGINT},
      </if>
      <if test="delflag != null" >
        delflag = #{delflag,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="infoOPTagId != null" >
        info_op_tag_id = #{infoOPTagId,jdbcType=BIGINT},
      </if>
      <if test="imgSrc != null" >
        img_src = #{imgSrc,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=CHAR},
      </if>
    </set>
    where info_op_id = #{infoOPId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ningpai.information.bean.InformationOnePage" >
    update np_information_onepage
    set title = #{title,jdbcType=VARCHAR},
      short_title = #{shortTitle,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      info_temp_id = #{infoTempId,jdbcType=BIGINT},
      delflag = #{delflag,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      info_op_tag_id = #{infoOPTagId,jdbcType=BIGINT},
      img_src = #{imgSrc,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=CHAR}
    where info_op_id = #{infoOPId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ningpai.information.bean.InformationOnePage" >
    update np_information_onepage
    set title = #{title,jdbcType=VARCHAR},
      short_title = #{shortTitle,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      mark = #{mark,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      info_temp_id = #{infoTempId,jdbcType=BIGINT},
      delflag = #{delflag,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      info_op_tag_id = #{infoOPTagId,jdbcType=BIGINT},
      img_src = #{imgSrc,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=CHAR}
    where info_op_id = #{infoOPId,jdbcType=BIGINT}
  </update>
  <!-- 根据单页标签修改单页 -->
  <update id="updateTagByTagId" parameterType="java.lang.Long" >
    update np_information_onepage
    set info_op_tag_id = null
    where info_op_tag_id = #{infoOPTagId,jdbcType=BIGINT}
  </update>
</mapper>