<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.web.dao.ThirdOrderMapper">
	<resultMap type="com.ningpai.order.bean.vo.OrderInfoBean" id="orderMap">
 	 	<result column="order_id"  property="orderId" jdbcType="BIGINT"/>
 	 	<result column="customer_id"  property="customerId" jdbcType="BIGINT"/>
 	 	<result column="shopping_addr_id"  property="addressId" jdbcType="BIGINT"/>
 	 	<result column="order_code"  property="orderNo" jdbcType="VARCHAR"/>
 	 	<result column="order_status"  property="orderStatus" jdbcType="BIGINT"/>
 	 	<result column="order_price"  property="moneyPaid" jdbcType="DECIMAL"/>
 	 	<result column="order_old_price"  property="oldPrice" jdbcType="DECIMAL"/>
 	 	<result column="order_pre_price"  property="prePrice" jdbcType="DECIMAL"/>
 	 	<result column="order_line_pay" property="orderLinePay" jdbcType="VARCHAR"/>
 	 	<result column="order_cargo_status"  property="orderCargoStatus" jdbcType="VARCHAR"/>
 	 	<result column="pay_time"  property="payTime" jdbcType="TIMESTAMP"/>
 	 	<result column="create_time"  property="addTime" jdbcType="TIMESTAMP"/>
 	 	<result column="order_cancel_time"  property="cancelTime" jdbcType="TIMESTAMP"/>
 	 	<result column="express_price"  property="shippingFee" jdbcType="DECIMAL"/>
 	 	<result column="invoice_type"  property="invoiceType" jdbcType="VARCHAR"/>
 	 	<result column="order_cancel_remark"  property="cancelRemark" jdbcType="VARCHAR"/>
 	 	<result column="invoice_title"  property="invoiceTitle" jdbcType="VARCHAR"/>
 	 	<result column="invoice_content"  property="invoiceContent" jdbcType="VARCHAR"/>
 	 	<result column="share_flag"  property="shareFlag" jdbcType="VARCHAR"/>
 	 	<result column="pay_id"  property="payId" jdbcType="BIGINT"/>
 	 	<result column="shipping_province"  property="shippingProvince" jdbcType="VARCHAR"/>
 	 	<result column="shipping_city"  property="shippingCity" jdbcType="VARCHAR"/>
 	 	<result column="shipping_county"  property="shippingCounty" jdbcType="VARCHAR"/>
 	 	<result column="shipping_address"  property="shippingAddress" jdbcType="VARCHAR"/>
 	 	<result column="shipping_person"  property="shippingPerson" jdbcType="VARCHAR"/>
 	 	<result column="shipping_phone"  property="shippingPhone" jdbcType="VARCHAR"/>
 	 	<result column="shipping_mobile"  property="shippingMobile" jdbcType="VARCHAR"/>
 	 	<association property="address" column="shopping_addr_id" select="com.ningpai.web.dao.ThirdOrderAddressMapper.selectByPrimaryKey"></association>
 	 	<association property="pay" column="pay_id" select="selectpay"></association>
 	 	<collection property="expressno" column="order_id"  javaType="ArrayList" select="selectexpressNo"></collection>
 	 	<collection property="goods" column="order_id" javaType="ArrayList"  select="selectGoodsByOrderId"></collection>
 	 </resultMap>
 	 
 	 <!-- 物流单号 -->
	 <resultMap  id="expressno" type="com.ningpai.order.bean.vo.ExpressNoVo">
	 	<id column="relation_id" property="relationId" jdbcType="BIGINT"/>
	 	<result column="express_no" property="expressNo" jdbcType="VARCHAR"/>
	 	<result column="express_name" property="expressName" jdbcType="VARCHAR"/>
	 </resultMap>
	 
  	 <!-- goods -->
 	 <resultMap type="com.ningpai.order.bean.vo.GoodsBean" id="goodsMap">
 	 	<result column="goods_info_id"  property="goodsId" jdbcType="BIGINT"/>
 	 	<result column="goods_info_num"  property="goodsNum" jdbcType="BIGINT"/>
 	 	<result column="goods_info_name"  property="goodsName" jdbcType="VARCHAR"/>
 	 	<result column="goods_info_price"  property="goodsPrice" jdbcType="DECIMAL"/>
 	 	<result column="goods_info_img_id"  property="goodsImg" jdbcType="VARCHAR"/>
 	 	<result column="goods_info_item_no"  property="goodsNo" jdbcType="VARCHAR"/>
 	 	<result column="evaluate_flag"  property="evaluateFlag" jdbcType="CHAR"/>
 	 	<result column="share_flag"  property="shareFlag" jdbcType="CHAR"/>
 	 </resultMap>
 	 
  	 <!-- 支付方式 -->
 	 <resultMap id="payMap" type="com.ningpai.order.bean.vo.PayBean" >
	    <id column="pay_id" property="payId" jdbcType="BIGINT" />
	    <result column="pay_name" property="payName" jdbcType="VARCHAR" />
	 </resultMap>
 	 
 	 <sql id="ordersql">
		o.order_id,o.order_code,o.order_price,o.order_pre_price,o.order_old_price,o.pay_time, o.create_time,
		o.order_status,o.customer_id ,o.shopping_addr_id,o.pay_id,o.express_price, order_cargo_status,o.shipping_province,o.shipping_city,o.shipping_county,o.shipping_address,o.shipping_person,o.shipping_phone,o.shipping_mobile,
		o.invoice_type,o.invoice_title,o.invoice_content,o.order_cancel_time,o.order_cancel_remark,o.order_line_pay,
		(select count(g.share_flag)
		from np_order_goods g 
		where g.order_id= o.order_id and g.del_flag = '0' and g.share_flag = '0') share_flag
	</sql>
	<select id="selectThirdOrderCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(1)
		FROM
			np_order
		WHERE
			1 = 1
		<if test="businessId != null" >
        AND business_id =  #{businessId,jdbcType=BIGINT}
      	</if>
      	<if test="orderStatus != null" >
        AND order_status =  #{orderStatus,jdbcType=BIGINT}
      	</if>
        AND dealer_type = '2'
        AND del_flag = '0'
	</select>
	
	<!-- 按条件查询订单 -->
	<select id="selectThirdOrderList" parameterType="java.util.Map" resultMap="orderMap">
		select
		<include refid="ordersql"/>
		from np_order o
		<if test="paramString != null" >
			 inner join np_order_goods g on o.order_id=g.order_id
			 inner join np_goods_info gi on gi.goods_info_id=g.goods_id
			 inner join np_goods gs on gs.goods_id=gi.goods_id 
		</if>
		where o.business_id= #{businessId,jdbcType=BIGINT} and
		<if test="paramString != null" >
        	 gs.goods_name like  CONCAT(CONCAT('%', #{paramString}),'%') or o.order_no like CONCAT(CONCAT('%', #{paramString}),'%')   and
      	</if>
		<if test="orderStatus == 0" >
        	(o.order_status = '0' or o.order_status = '1' or o.order_status = '2') and
      	</if>
		<if test="orderStatus == 3" >
        	o.order_status ='3' and
      	</if>
      	<if test="orderStatus == 4" >
        	o.order_status = '4'  and
      	</if>
		o.del_flag = '0' and
		dealer_type = '2'
		order by o.create_time desc
		limit #{start},#{number}
	</select>
	<!-- 查询订单物流单号 -->
	<select id="selectexpressNo" resultMap="expressno" parameterType="java.lang.Long">
		select relation_id,express_no,express_name
		from np_order_container_relation
		where order_id = #{orderId,jdbcType=BIGINT}
	</select>
	  	<!-- 查询订单内商品 -->
	<select id="selectGoodsByOrderId" parameterType="java.lang.Long" resultMap="goodsMap">
		select
		gi.goods_info_id ,gi.goods_info_name,o.goods_info_price,o.goods_info_num,gi.goods_info_img_id,o.evaluate_flag,gi.goods_info_item_no,o.share_flag
		from np_order_goods o 
		inner join np_goods_info gi on gi.goods_info_id =o.goods_info_id
		inner join np_goods g on gi.goods_id=g.goods_id
		where o.order_id=#{orderId,jdbcType=BIGINT} and o.del_flag = '0'
		order by o.goods_info_price desc
	</select>
	<!-- 查询支付方式 -->
	<select id="selectpay" resultMap="payMap" parameterType="java.lang.Long" >
	   select 
	   pay_id, pay_name
	   from np_sys_pay
	   where pay_id = #{payId,jdbcType=BIGINT}
	</select>
</mapper>