<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.marketing.dao.FullbuyCouponMarketingMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.marketing.bean.FullbuyCouponMarketing" >
    <id column="fullbuy_coupon_marketing_id" property="fullbuyCouponMarketingId" jdbcType="BIGINT" />
    <result column="marketing_id" property="marketingId" jdbcType="BIGINT" />
    <result column="full_price" property="fullPrice" jdbcType="DECIMAL" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    fullbuy_coupon_marketing_id, marketing_id, full_price, coupon_id, del_flag
  </sql>
  
  
  
  <!-- 查询满送优惠券信息 -->
  <select id="selectFullbuyCouponMarketingListByMarketingId" resultMap="BaseResultMap" parameterType="java.util.List" >
    select 
    <include refid="Base_Column_List" />
    from np_fullbuy_coupon_marketing
    where del_flag = '0' and  marketing_id = #{fullbuyCouponMarketingId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from np_fullbuy_coupon_marketing
    where fullbuy_coupon_marketing_id = #{fullbuyCouponMarketingId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from np_fullbuy_coupon_marketing
    where fullbuy_coupon_marketing_id = #{fullbuyCouponMarketingId,jdbcType=BIGINT}
  </delete>
  
  	<!-- 批量插入 -->
    <insert id="insertFullbuyCouponMarketing" parameterType="java.util.List" >
    insert into np_fullbuy_coupon_marketing (fullbuy_coupon_marketing_id, marketing_id, 
      full_price, coupon_id, del_flag
      )
    values
       <foreach collection="list" separator="," item="fcm" index="index" >  
          (#{fcm.fullbuyCouponMarketingId,jdbcType=BIGINT}, #{fcm.marketingId,jdbcType=BIGINT}, 
      #{fcm.fullPrice,jdbcType=DECIMAL}, #{fcm.couponId,jdbcType=BIGINT}, #{fcm.delFlag,jdbcType=CHAR}
      )
     </foreach>  
  </insert>
  
  <insert id="insert" parameterType="com.ningpai.marketing.bean.FullbuyCouponMarketing" >
    insert into np_fullbuy_coupon_marketing (fullbuy_coupon_marketing_id, marketing_id, 
      full_price, coupon_id, del_flag
      )
    values (#{fullbuyCouponMarketingId,jdbcType=BIGINT}, #{marketingId,jdbcType=BIGINT}, 
      #{fullPrice,jdbcType=DECIMAL}, #{couponId,jdbcType=BIGINT}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.marketing.bean.FullbuyCouponMarketing" >
    insert into np_fullbuy_coupon_marketing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fullbuyCouponMarketingId != null" >
        fullbuy_coupon_marketing_id,
      </if>
      <if test="marketingId != null" >
        marketing_id,
      </if>
      <if test="fullPrice != null" >
        full_price,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fullbuyCouponMarketingId != null" >
        #{fullbuyCouponMarketingId,jdbcType=BIGINT},
      </if>
      <if test="marketingId != null" >
        #{marketingId,jdbcType=BIGINT},
      </if>
      <if test="fullPrice != null" >
        #{fullPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.marketing.bean.FullbuyCouponMarketing" >
    update np_fullbuy_coupon_marketing
    <set >
      <if test="marketingId != null" >
        marketing_id = #{marketingId,jdbcType=BIGINT},
      </if>
      <if test="fullPrice != null" >
        full_price = #{fullPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where fullbuy_coupon_marketing_id = #{fullbuyCouponMarketingId,jdbcType=BIGINT}
  </update>
  <update id="deleteFullbuyCouponMarketing" parameterType="java.lang.Long" >
    update np_fullbuy_coupon_marketing
    set 
      del_flag = '1'
    where marketing_id = #{marketingId,jdbcType=BIGINT}
  </update>
</mapper>