<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.dao.PromotionLogoMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.marketing.bean.PromotionLogo" >
    <id column="promotion_logo_id" property="promotionLogoId" jdbcType="BIGINT" />
    <result column="promotion_logo_name" property="promotionLogoName" jdbcType="VARCHAR" />
    <result column="promotion_logo_url" property="promotionLogoUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="temp1" property="temp1" jdbcType="VARCHAR" />
    <result column="temp2" property="temp2" jdbcType="VARCHAR" />
    <result column="temp3" property="temp3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    promotion_logo_id, promotion_logo_name, promotion_logo_url, create_time, modify_time, 
    del_flag, temp1, temp2, temp3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from np_promotion_logo
    where promotion_logo_id = #{promotionLogoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from np_promotion_logo
    where promotion_logo_id = #{promotionLogoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ningpai.marketing.bean.PromotionLogo" useGeneratedKeys="true" keyProperty="promotionLogoId" >
    insert into np_promotion_logo (promotion_logo_name, promotion_logo_url, 
      create_time, modify_time, del_flag, 
      temp1, temp2, temp3
      )
    values (#{promotionLogoName,jdbcType=VARCHAR}, #{promotionLogoUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}, 
      #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.marketing.bean.PromotionLogo" useGeneratedKeys="true" keyProperty="promotionLogoId" >
    insert into np_promotion_logo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      promotion_logo_name,
      promotion_logo_url,
      create_time,
      modify_time,
      del_flag,
      temp1,
      temp2,
      temp3,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{promotionLogoName,jdbcType=VARCHAR},
      #{promotionLogoUrl,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP},
      #{delFlag,jdbcType=CHAR},
      #{temp1,jdbcType=VARCHAR},
      #{temp2,jdbcType=VARCHAR},
      #{temp3,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.marketing.bean.PromotionLogo" >
    update np_promotion_logo
    <set >
      <if test="promotionLogoName != null" >
        promotion_logo_name = #{promotionLogoName,jdbcType=VARCHAR},
      </if>
      <if test="promotionLogoUrl != null" >
        promotion_logo_url = #{promotionLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="temp1 != null" >
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where promotion_logo_id = #{promotionLogoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ningpai.marketing.bean.PromotionLogo" >
    update np_promotion_logo
    set promotion_logo_name = #{promotionLogoName,jdbcType=VARCHAR},
      promotion_logo_url = #{promotionLogoUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where promotion_logo_id = #{promotionLogoId,jdbcType=BIGINT}
  </update>
  
  <select id="queryallpromotionlogoCount" resultType="java.lang.Integer">
   select  count(1)
    from np_promotion_logo
    where 1=1 and del_flag='0'  
    <if test="promotionLogoName !=null and promotionLogoName !=''">
      and promotion_logo_name like  CONCAT(CONCAT('%', #{promotionLogoName,jdbcType=VARCHAR},'%'))  
    </if>
  </select>
  
  <!-- 查询促销Logo列表 -->
  <select id="queryallpromotionlogo" resultMap="BaseResultMap" parameterType="java.util.Map">
   select  <include refid="Base_Column_List" />
    from np_promotion_logo
    where 1=1 and del_flag='0'
    <if test="promotionLogoName !=null and promotionLogoName !=''">
       and promotion_logo_name like  CONCAT(CONCAT('%', #{promotionLogoName,jdbcType=VARCHAR},'%'))  
    </if>
    order by create_time desc
    limit #{start},#{number}
  </select>

<!-- 删除促销LOGO -->
 <update id="delAllPromotionLogo" parameterType="java.util.List" >
    update np_promotion_logo
    set del_flag = '1'
    where promotion_logo_id in 
     <foreach collection="list" item="promotionLogoId" open="(" separator="," close=")">
       #{promotionLogoId,jdbcType=BIGINT}
    </foreach>
  </update>
  
  <!-- 验证促销LOGO名称是否可用 -->
  <select id="checklogoname" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from np_promotion_logo where 1=1 and del_flag='0' and promotion_logo_name = #{promotionLogoName,jdbcType=VARCHAR}
  </select>
  
   <!-- 查询促销Logo列表 -->
  <select id="queryalllogolist" resultMap="BaseResultMap" >
   select  <include refid="Base_Column_List" />
    from np_promotion_logo
    where 1=1 and del_flag='0'
    order by create_time desc
  </select>
  
   <!-- 查询刚刚插入的Id -->
  <select id="selectLastId" resultType="java.lang.Long" >
        select LAST_INSERT_ID()
  </select>
</mapper>