<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>螃蟹详情页</title>
	<link rel="stylesheet" type="text/css" href="css/base.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="header">
		<div class="header_wp">
			<a class="logo fl mt5" href="javascript:;"><span>固城湖</span></a>
			<div class="fr">
				<!-- <a class="lg_bt" href="javascript:;">登录</a> -->
				<a class="od_bt" href="javascript:;">订单</a>
				<a class="sc_bt" href="javascript:;">购物车</a>
			</div>
		</div><!--/header_wp-->
	</div><!--/header-->

	<div class="container">
		<div class="intro_box">
			<div class="intro_wp pr">
				<div class="intro_cont pa">
					<h2>超值特惠8只装礼券</h2>
					<p class="h_des">公蟹3.6-3.9两<span class="ml20">4只</span></p>
					<p class="h_des">母蟹2.6-2.9两<span class="ml20">4只</span></p>
					<strong class="mt20">好友分享</strong>
					<p class="w300">我们来自美丽富饶的固城湖核心产区纯天然无公害！每一只大闸蟹都有源头可溯……</p>
					<del>原价：888.00</del>
					<p class="p_price">限时特卖价：<span>¥</span><strong>188</strong></p>
					<a class="buy_btn" href="../../order/addproducttoshopmcarl.html?productId=3288&goodsNum=1&distinctId=1103">立即购买</a>
				</div><!--/intro_cont-->
			</div><!--/intro_wp-->
		</div><!--/intro_box-->

		<div class="content mt20">
			<img alt="" src="images/images_02.jpg" />
			<img alt="" src="images/images_03.jpg" />
			<img alt="" src="images/images_04.jpg" />
			<img alt="" src="images/images_05.jpg" />
			<img alt="" src="images/images_06.jpg" />
			<img alt="" src="images/images_07.jpg" />
			<img alt="" src="images/images_08.jpg" />
			<img alt="" src="images/images_09.jpg" />
			<img alt="" src="images/images_10.jpg" />
		</div><!--/content-->

	</div><!--/container-->

	<div class="footer">Copyright © 2004-2014  宁派ningpai.com 版权所有</div>
</body>
</html>