<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningpai.third.auth.mapper.ThirdManagerMapper">
  <resultMap id="BaseResultMap" type="com.ningpai.third.auth.bean.ThirdManager">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userkey" jdbcType="VARCHAR" property="userkey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="mod_time" jdbcType="TIMESTAMP" property="modTime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="flag" jdbcType="CHAR" property="flag" />
  </resultMap>
  <resultMap type="com.ningpai.customer.bean.Customer" id="custMap">
  	<id column="customer_id" jdbcType="BIGINT" property="customerId" />
  	<result column="third_id" jdbcType="BIGINT" property="thirdId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, username, userkey, create_time, mod_time, login_time, flag
  </sql>
  
 
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from np_third_manager
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from np_third_manager
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ningpai.third.auth.bean.ThirdManager">
    insert into np_third_manager (id, username, userkey, 
      create_time, mod_time, login_time, 
      flag)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{userkey,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modTime,jdbcType=TIMESTAMP}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.third.auth.bean.ThirdManager">
    insert into np_third_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="userkey != null">
        userkey,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modTime != null">
        mod_time,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userkey != null">
        #{userkey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null">
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.third.auth.bean.ThirdManager">
    update np_third_manager
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userkey != null">
        userkey = #{userkey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null">
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ningpai.third.auth.bean.ThirdManager">
    update np_third_manager
    set username = #{username,jdbcType=VARCHAR},
      userkey = #{userkey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectCustByCid" parameterType="java.lang.Long" resultMap="custMap">
  	select third_id,customer_id from np_customer where customer_id =#{cid,jdbcType=BIGINT}
  </select>
</mapper>