<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.thirdaudit.mapper.ThirdStorePointMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.thirdaudit.bean.ThirdStorePoint" >
    <id column="store_point_id" property="storePointId" jdbcType="BIGINT" />
    <result column="third_id" property="thirdId" jdbcType="BIGINT" />
    <result column="point_detail" property="pointDetail" jdbcType="VARCHAR" />
    <result column="point_type" property="pointType" jdbcType="CHAR" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_point_id, third_id, point_detail, point_type, point, create_time, modified_time, 
    del_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from np_third_store_point
    where store_point_id = #{storePointId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from np_third_store_point
    where store_point_id = #{storePointId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ningpai.thirdaudit.bean.ThirdStorePoint" >
    insert into np_third_store_point (store_point_id, third_id, point_detail, 
      point_type, point, create_time, 
      modified_time, del_time, del_flag
      )
    values (#{storePointId,jdbcType=BIGINT}, #{thirdId,jdbcType=BIGINT}, #{pointDetail,jdbcType=VARCHAR}, 
      #{pointType,jdbcType=CHAR}, #{point,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{delTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.thirdaudit.bean.ThirdStorePoint" >
    insert into np_third_store_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storePointId != null" >
        store_point_id,
      </if>
      <if test="thirdId != null" >
        third_id,
      </if>
      <if test="pointDetail != null" >
        point_detail,
      </if>
      <if test="pointType != null" >
        point_type,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storePointId != null" >
        #{storePointId,jdbcType=BIGINT},
      </if>
      <if test="thirdId != null" >
        #{thirdId,jdbcType=BIGINT},
      </if>
      <if test="pointDetail != null" >
        #{pointDetail,jdbcType=VARCHAR},
      </if>
      <if test="pointType != null" >
        #{pointType,jdbcType=CHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.thirdaudit.bean.ThirdStorePoint" >
    update np_third_store_point
    <set >
      <if test="thirdId != null" >
        third_id = #{thirdId,jdbcType=BIGINT},
      </if>
      <if test="pointDetail != null" >
        point_detail = #{pointDetail,jdbcType=VARCHAR},
      </if>
      <if test="pointType != null" >
        point_type = #{pointType,jdbcType=CHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where store_point_id = #{storePointId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ningpai.thirdaudit.bean.ThirdStorePoint" >
    update np_third_store_point
    set third_id = #{thirdId,jdbcType=BIGINT},
      point_detail = #{pointDetail,jdbcType=VARCHAR},
      point_type = #{pointType,jdbcType=CHAR},
      point = #{point,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where store_point_id = #{storePointId,jdbcType=BIGINT}
  </update>
</mapper>