<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.site.customer.dao.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.ningpai.customer.bean.Customer">
        <id column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="customer_username" property="customerUsername" jdbcType="VARCHAR"/>
        <result column="customer_password" property="customerPassword" jdbcType="VARCHAR"/>
        <result column="customer_nickname" property="customerNickname" jdbcType="VARCHAR"/>
        <result column="is_mobile" property="isMobile" jdbcType="CHAR"/>
        <result column="is_email" property="isEmail" jdbcType="CHAR"/>
        <result column="is_flag" property="isFlag" jdbcType="CHAR"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR"/>
        <result column="del_time" property="delTime" jdbcType="TIMESTAMP"/>
        <result column="customer_img" property="customerImg" jdbcType="VARCHAR"/>
        <result column="aead_time" jdbcType="TIMESTAMP" property="aeadTime"/>
        <result column="is_temp_cust" property="isTempCust" jdbcType="VARCHAR"/>
        <result column="login_key" property="loginKey" jdbcType="VARCHAR"/>
        <result column="is_site_manager" jdbcType="CHAR" property="isSiteManager"/>
        <result column="isEnterprise" jdbcType="CHAR" property="isEnterprise"/>

    </resultMap>
    <resultMap type="com.ningpai.site.customer.vo.CustomerAllInfo" id="cusinfoMap" extends="BaseResultMap">
        <result column="info_mobile" jdbcType="VARCHAR" property="infoMobile"/>
        <result column="info_email" jdbcType="VARCHAR" property="infoEmail"/>
        <result column="info_realname" jdbcType="VARCHAR" property="infoRealname"/>
        <result column="info_cardid" jdbcType="VARCHAR" property="infoCardid"/>
        <result column="info_gender" jdbcType="CHAR" property="infoGender"/>
        <result column="point_level_name" jdbcType="VARCHAR" property="pointLevelName"/>
        <result column="point_level_id" jdbcType="BIGINT" property="pointLevelId"/>
        <result column="info_birthday" jdbcType="VARCHAR" property="infoBirthday"/>
        <result column="info_regip" jdbcType="VARCHAR" property="infoRegip"/>
        <result column="info_province" jdbcType="VARCHAR" property="infoProvince"/>
        <result column="info_city" jdbcType="VARCHAR" property="infoCity"/>
        <result column="info_county" jdbcType="VARCHAR" property="infoCounty"/>
        <result column="infoStreet" jdbcType="VARCHAR" property="infoStreet"/>
        <result column="info_marital" jdbcType="CHAR" property="infoMarital"/>
        <result column="info_salary" jdbcType="VARCHAR" property="infoSalary"/>
        <result column="info_interest" jdbcType="VARCHAR" property="infoInterest"/>
        <result column="balance_sum" jdbcType="DECIMAL" property="balanceSum"/>
        <result column="info_point_sum" jdbcType="INTEGER" property="infoPointSum"/>
        <result column="info_address" jdbcType="VARCHAR" property="infoAddress"/>
        <result column="info_qq" jdbcType="VARCHAR" property="infoQQ"/>
        <result column="wangwangNo" jdbcType="VARCHAR" property="wangwangNo"/>
        <result column="order_line_pay" property="orderLinePay" jdbcType="VARCHAR"/>
        <result column="isEnterprise" jdbcType="CHAR" property="isEnterprise"/>
    </resultMap>
    <resultMap type="com.ningpai.site.customer.vo.CustomerAllInfo" id="allCusinfoMap" extends="cusinfoMap">
        <collection property="orders" column="customer_id" javaType="ArrayList"
                    select="selectOrderByCustomerId"></collection>
    </resultMap>

    <resultMap type="com.ningpai.site.customer.vo.CustomerAllInfo" id="addressMap" extends="BaseResultMap">
        <collection property="addresses" column="customer_id" javaType="ArrayList"
                    select="com.ningpai.site.customer.dao.CustomerAddressMapper.selectByCId"></collection>
    </resultMap>
    <!-- order  -->
    <resultMap type="com.ningpai.site.customer.vo.OrderInfoBean" id="orderMap">
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="shopping_addr_id" property="addressId" jdbcType="BIGINT"/>
        <result column="order_code" property="orderNo" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderStatus" jdbcType="BIGINT"/>
        <result column="order_price" property="moneyPaid" jdbcType="DECIMAL"/>
        <result column="order_old_price" property="oldPrice" jdbcType="DECIMAL"/>
        <result column="order_pre_price" property="prePrice" jdbcType="DECIMAL"/>
        <result column="order_line_pay" property="orderLinePay" jdbcType="VARCHAR"/>
        <result column="order_cargo_status" property="orderCargoStatus" jdbcType="VARCHAR"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="order_cancel_time" property="cancelTime" jdbcType="TIMESTAMP"/>
        <result column="express_price" property="shippingFee" jdbcType="DECIMAL"/>
        <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR"/>
        <result column="order_cancel_remark" property="cancelRemark" jdbcType="VARCHAR"/>
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="invoice_content" property="invoiceContent" jdbcType="VARCHAR"/>
        <result column="share_flag" property="shareFlag" jdbcType="VARCHAR"/>
        <result column="pay_id" property="payId" jdbcType="BIGINT"/>
        <result column="shipping_province" property="shippingProvince" jdbcType="VARCHAR"/>
        <result column="shipping_city" property="shippingCity" jdbcType="VARCHAR"/>
        <result column="shipping_county" property="shippingCounty" jdbcType="VARCHAR"/>
        <result column="shipping_address" property="shippingAddress" jdbcType="VARCHAR"/>
        <result column="shipping_person" property="shippingPerson" jdbcType="VARCHAR"/>
        <result column="shipping_phone" property="shippingPhone" jdbcType="VARCHAR"/>
        <result column="shipping_mobile" property="shippingMobile" jdbcType="VARCHAR"/>
        <result column="shipping_postcode" property="shippingPostcode" jdbcType="VARCHAR"/>
        <result column="order_express_type" property="orderExpressType" jdbcType="VARCHAR"/>
        <result column="express_type_name" property="expressName" jdbcType="VARCHAR"/>
        <result column="coupon_no" property="couponNo" jdbcType="VARCHAR"/>
        <result column="order_integral" property="orderIntegral" jdbcType="BIGINT"/>
        <result column="customer_remark" property="customerRemark" jdbcType="VARCHAR"/>
        <result column="back_price" property="backPrice" jdbcType="DECIMAL"/>
        <association property="address" column="shopping_addr_id"
                     select="com.ningpai.site.customer.dao.CustomerAddressMapper.selectByPrimaryKey"></association>
        <!--  	 	<association property="express" column="dm_id" select="selectEspress"></association> -->
        <association property="pay" column="pay_id" select="selectpay"></association>
        <collection property="expressno" column="order_id" javaType="ArrayList" select="selectexpressNo"></collection>
        <collection property="goods" column="order_id" javaType="ArrayList" select="selectGoodsByOrderId"></collection>
    </resultMap>

    <!-- goods -->
    <resultMap type="com.ningpai.site.customer.vo.GoodsBean" id="goodsMap">
        <result column="goods_info_id" property="goodsId" jdbcType="BIGINT"/>
        <result column="goods_info_num" property="goodsNum" jdbcType="BIGINT"/>
        <result column="goods_info_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_info_price" property="goodsPrice" jdbcType="DECIMAL"/>
        <!-- 2015.11.02 wuyanbo add 会员价 -->
        <result column="goods_info_vip_price" property="goodsVipPrice" jdbcType="DECIMAL"/>
        <result column="goods_info_img_id" property="goodsImg" jdbcType="VARCHAR"/>
        <result column="goods_info_item_no" property="goodsNo" jdbcType="VARCHAR"/>
        <result column="evaluate_flag" property="evaluateFlag" jdbcType="CHAR"/>
        <result column="share_flag" property="shareFlag" jdbcType="CHAR"/>
        <result column="back_flag" property="backFlag" jdbcType="CHAR"/>
        <result column="goods_info_sum_price" property="goodsInfoSumPrice" jdbcType="DECIMAL"/>
        <collection property="specVo" column="goods_info_id" javaType="ArrayList"
                    ofType="com.ningpai.comment.bean.GoodsProductReleSpecVo"
                    select="com.ningpai.goods.dao.GoodsProductReleSpecMapper.queryAllByProductId"
                ></collection>
    </resultMap>

    <!-- 配送方式 -->
    <resultMap id="expressMap" type="com.ningpai.site.customer.vo.ExpressBean">
        <id column="expid" property="expid" jdbcType="BIGINT"/>
        <result column="exp_company" property="expCompany" jdbcType="VARCHAR"/>
        <result column="exp_price" property="expPrice" jdbcType="DECIMAL"/>
        <result column="exp_accept" property="expAccept" jdbcType="VARCHAR"/>
        <result column="exp_comment" property="expComment" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 支付方式 -->
    <resultMap id="payMap" type="com.ningpai.site.customer.vo.PayBean">
        <id column="pay_id" property="payId" jdbcType="BIGINT"/>
        <result column="pay_name" property="payName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 物流单号 -->
    <resultMap id="expressno" type="com.ningpai.site.customer.vo.ExpressNoVo">
        <id column="relation_id" property="relationId" jdbcType="BIGINT"/>
        <result column="express_no" property="expressNo" jdbcType="VARCHAR"/>
        <result column="express_name" property="expressName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- province -->
    <resultMap id="proviceMap" type="com.ningpai.site.customer.vo.ProvinceBean">
        <id column="province_id" property="provinceId" jdbcType="BIGINT"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- city -->
    <resultMap id="cityMap" type="com.ningpai.site.customer.vo.CityBean">
        <id column="city_id" property="cityId" jdbcType="BIGINT"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- district -->
    <resultMap id="districtMap" type="com.ningpai.site.customer.vo.DistrictBean">
        <id column="district_id" property="districtId" jdbcType="BIGINT"/>
        <result column="district_name" property="districtName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- district -->
    <resultMap id="streetMap" type="com.ningpai.site.customer.vo.StreetBean">
        <id column="street_id" property="streetId" jdbcType="BIGINT"/>
        <result column="street_name" property="streetName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    customer_id, customer_username, customer_password, customer_nickname, is_mobile, 
    is_email, is_flag, login_ip, login_time, create_time, modified_time, del_flag, del_time, 
    customer_img,aead_time,is_temp_cust,login_key,isEnterprise
  </sql>
    <sql id="emailmobilesql">
   c.customer_id, customer_username, customer_password, customer_nickname, is_mobile, 
   is_email, is_flag, login_ip, login_time, create_time, c.modified_time, c.del_flag, c.del_time, 
   customer_img,aead_time,isEnterprise
  </sql>

    <sql id="cusSql">
		c.customer_id, c.customer_username, c.customer_password, c.customer_nickname,
		c.is_mobile, c.is_email, c.is_flag, c.login_ip, c.login_time, c.create_time, 
		c.modified_time, c.del_flag, c.del_time,c.customer_img,c.is_temp_cust,c.login_key,c.isEnterprise,
		i.info_realname,i.info_mobile,i.info_email,i.info_cardid,i.info_gender,/**/
		i.point_level_name,i.point_level_id,i.info_birthday ,i.info_regip,i.info_province,
		i.info_city,i.info_county,i.infoStreet,i.info_marital,i.info_salary,i.info_interest,
		i.balance_sum,i.info_point_sum,i.info_address,i.info_qq,i.wangwangNo,c.is_site_manager,c.isEnterprise
	</sql>
    <!-- order sql -->
    <sql id="ordersql">
		o.order_id,o.order_code,o.order_price,o.order_pre_price,o.order_old_price,o.pay_time, o.create_time,o.customer_remark,
		o.order_status,o.customer_id ,o.shopping_addr_id,o.pay_id,o.express_price, order_cargo_status,o.shipping_province,o.shipping_city,o.shipping_county,o.shipping_address,o.shipping_person,o.shipping_phone,o.shipping_mobile,
		o.shipping_postcode,o.invoice_type,o.invoice_title,o.invoice_content,o.order_cancel_time,o.order_cancel_remark,o.order_line_pay,o.order_integral,o.coupon_no,o.back_price,
		(select count(g.share_flag)
		from np_order_goods g 
		where g.order_id= o.order_id and g.del_flag = '0' and g.share_flag = '0') share_flag
	</sql>
    <!-- espress sql -->
    <sql id="espresssql">
	    expid, exp_company, exp_price, exp_accept, exp_comment, create_time, modify_time,del_flag
  	</sql>
    <select id="selectByPrimaryKey" resultMap="cusinfoMap" parameterType="java.lang.Long">
        select
        <include refid="cusSql"/>
        from np_customer c left join np_customer_info i on
        i.customer_id=c.customer_id
        where c.customer_id = #{customerId,jdbcType=BIGINT}
    </select>
    <!-- 根据会员编号查找会员 -->
    <select id="queryCustomerById" parameterType="java.lang.Long" resultMap="allCusinfoMap">
        select
        <include refid="cusSql"/>
        from np_customer c left join np_customer_info i on
        i.customer_id=c.customer_id
        where c.customer_id = #{customerId,jdbcType=BIGINT} and c.del_flag ='0'
    </select>
    <!-- 根据会员名检验会员是否存在 -->
    <select id="checkexistsByCustName" parameterType="java.lang.String" resultType="java.lang.Long">
		select
		count(1)
		from np_customer c
		where c.customer_username = #{username,jdbcType=BIGINT} and c.del_flag ='0' 
	</select>
    <!-- 根据会员名和类型检验会员是否存在 -->
    <select id="checkExistsByCustNameAndType" parameterType="java.util.Map" resultType="java.lang.Long">
        <if test="uType == 'username'">
            select
            count(1)
            from np_customer c
            where c.customer_username = #{username} and c.del_flag ='0'
        </if>
        <if test="uType == 'mobile'">
            select
            count(1)
            from np_customer_info i
            INNER JOIN np_customer c on c.customer_id = i.customer_id
            where i.info_mobile= #{username} and i.del_flag ='0' and c.del_flag = '0'
        </if>
        <if test="uType == 'email'">
            select
            count(1)
            from np_customer_info i
            INNER JOIN np_customer c on c.customer_id = i.customer_id
            where i.info_email= #{username} and i.del_flag ='0' and c.del_flag = '0'
        </if>


    </select>
    <!-- 根据用户名密码查找用户 -->
    <select id="selectCustomerByNamePwd" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from np_customer
        where
        <if test="username != null and username!=''">
            customer_username = #{username}
        </if>
        <if test="infoEmail !=null and infoEmail!='' ">
            i.info_email = #{infoEmail}
        </if>
        <if test="infoMobile != null and infoMobile!=''">
            i.info_mobile = #{infoMobile}
        </if>
        <if test="password != null and password !=''">
            and customer_password = md5(#{password})
        </if>
        and del_flag = '0'
    </select>
    <!-- 根据类型和密码查找用户 -->
    <select id="selectCustomerByNamePwdAndType" resultMap="BaseResultMap" parameterType="java.util.Map">
        <if test="uType == 'username'">
            select
            <include refid="Base_Column_List"/>
            from np_customer
            where
            <if test="username != null and username!=''">
                customer_username = #{username}
            </if>
            <if test="password != null and password !=''">
                and customer_password = md5(#{password})
            </if>
            and del_flag = '0'
        </if>
        <if test="uType == 'mobile'">
            select
            <include refid="emailmobilesql"/>
            from np_customer_info i
            INNER JOIN np_customer c on c.customer_id = i.customer_id
            where i.info_mobile= #{username} and i.del_flag ='0' and c.del_flag = '0' and c.customer_password =
            md5(#{password})
        </if>
        <if test="uType == 'email'">
            select
            <include refid="emailmobilesql"/>
            from np_customer_info i
            INNER JOIN np_customer c on c.customer_id = i.customer_id
            where i.info_email= #{username} and i.del_flag ='0' and c.del_flag = '0' and c.customer_password =
            md5(#{password})
        </if>
    </select>

    <select id="queryAddressByCustomerId" parameterType="java.lang.Long" resultMap="addressMap">
        select
        <include refid="Base_Column_List"/>
        from np_customer
        where customer_id = #{customerId,jdbcType=BIGINT}
    </select>
    <!-- 根据会员编号查询订单 -->
    <select id="selectOrderByCustomerId" parameterType="java.lang.Long" resultMap="orderMap">
        select
        <include refid="ordersql"/>
        from np_order o
        where o.customer_id= #{customerId,jdbcType=BIGINT} and o.del_flag = '0'
        order by create_time desc
        limit 0,5
    </select>

    <select id="searchTotalCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select
        count(o.order_id)
        from np_order o
        where o.customer_id= #{customerId,jdbcType=BIGINT} and
        <if test="paramString != null">
            gs.goods_name like CONCAT(CONCAT('%', #{paramString}),'%') or o.order_no like CONCAT(CONCAT('%',
            #{paramString}),'%') and
        </if>
        <if test="type == 0">
            (o.order_status = '0' or o.order_status = '1' or o.order_status = '2') and
        </if>
        <if test="type == 3">
            o.order_status ='3' and
        </if>
        <if test="type == 4">
            o.order_status = '4' and
        </if>
        <if test="date != null">
            <if test="date == 0">
                <![CDATA[
		    		o.create_time>= date_sub(now(), INTERVAL  30 DAY)  AND o.create_time<= now() and 
		    	]]>
            </if>
            <if test="date == 1">
                <![CDATA[
		    		o.create_time<= date_sub(now(), INTERVAL  30 DAY) and
		    	]]>
            </if>
        </if>
        o.del_flag = '0'
    </select>

    <select id="searchTotalCountO" parameterType="java.util.Map" resultType="java.lang.Long">
        select
        count(o.order_id)
        from np_order o
        <if test="goodsName != null">
            inner join np_order_goods g on o.order_id=g.order_id
            inner join np_goods_info gi on gi.goods_info_id=g.goods_id
            inner join np_goods gs on gs.goods_id=gi.goods_id
        </if>
        where o.customer_id= #{customerId,jdbcType=BIGINT} and
        <if test="goodsName != null">
            gs.goods_name like CONCAT(CONCAT('%', #{goodsName}),'%') and
        </if>
        <if test="status != null">
            o.order_status =#{status,jdbcType=BIGINT} and
        </if>
        <if test="shipStatus != null">
            o.shipping_status =#{shipStatus,jdbcType=BIGINT} and
        </if>
        <if test="refundStatus != null">
            o.refund_status =#{refundStatus,jdbcType=VARCHAR} and
        </if>
        o.del_flag = '0'
    </select>
    <!--查询可以投诉的订单总数-->
    <select id="queryCountForComplain" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from  np_order o
        where o.customer_id= #{customerId,jdbcType=BIGINT}
        and o.del_flag = '0' and order_status='3'
    </select>


    <!-- 按条件查询订单 -->
    <select id="selectOrderByCustomerIdAndStatus" parameterType="java.util.Map" resultMap="orderMap">
        select
        <include refid="ordersql"/>
        from np_order o
        <if test="paramString != null">
            inner join np_order_goods g on o.order_id=g.order_id
            inner join np_goods_info gi on gi.goods_info_id=g.goods_id
            inner join np_goods gs on gs.goods_id=gi.goods_id
        </if>
        where o.customer_id= #{customerId,jdbcType=BIGINT} and
        <if test="paramString != null">
            gs.goods_name like CONCAT(CONCAT('%', #{paramString}),'%') or o.order_no like CONCAT(CONCAT('%',
            #{paramString}),'%') and
        </if>
        <if test="type == 0">
            (o.order_status = '0' or o.order_status = '1' or o.order_status = '2') and
        </if>
        <if test="type == 3">
            o.order_status ='3' and
        </if>
        <if test="type == 4">
            o.order_status = '4' and
        </if>
        <if test="date != null">
            <if test="date == 0">
                <![CDATA[
		    		o.create_time>= date_sub(now(), INTERVAL  30 DAY)  AND o.create_time<= now() and 
		    	]]>
            </if>
            <if test="date == 1">
                <![CDATA[
		    		o.create_time<= date_sub(now(), INTERVAL  30 DAY) and
		    	]]>
            </if>
        </if>
        o.del_flag = '0'
        order by o.create_time desc
        limit #{startRowNum},#{endRowNum}
    </select>

    <!--查询用户可以投诉的订单 -->
    <select id="selectOrdersForComplain" parameterType="java.util.Map" resultMap="orderMap">
        select
        <include refid="ordersql"/>
        from np_order o
        where o.customer_id= #{customerId,jdbcType=BIGINT} and
        o.del_flag = '0' and o.order_status='3'
        order by o.create_time desc
        limit #{startRowNum},#{endRowNum}
    </select>


    <!-- 按条件查询订单 -->
    <select id="selectOrderParamMap" parameterType="java.util.Map" resultMap="orderMap">
        select
        <include refid="ordersql"/>
        from np_order o
        where o.customer_id= #{customerId,jdbcType=BIGINT} and o.del_flag = '0'
        order by o.create_time desc
        limit #{startRowNum},#{endRowNum}
    </select>
    <!-- 根据订单 会员编号查找订单 -->
    <select id="queryOrderByCustIdAndOid" parameterType="java.util.Map" resultMap="orderMap">
        select
        <include refid="ordersql"/>,e.express_type_name,o.order_express_type
        from np_order o left join np_order_express e on e.order_id=o.order_id
        where o.customer_id = #{customerId} and o.order_id= #{orderId,jdbcType=BIGINT} and o.del_flag = '0'
    </select>
    <!-- 查询订单内商品 -->
    <select id="selectGoodsByOrderId" parameterType="java.lang.Long" resultMap="goodsMap">
		select
		gi.goods_info_id ,gi.goods_info_name,o.goods_info_price,o.goods_info_num,gi.goods_info_img_id,o.evaluate_flag,gi.goods_info_item_no,o.share_flag,o.goods_info_sum_price,o.back_flag,
		gi.goods_info_vip_price
		from np_order_goods o 
		inner join np_goods_info gi on gi.goods_info_id =o.goods_info_id
		inner join np_goods g on gi.goods_id=g.goods_id
		where o.order_id=#{orderId,jdbcType=BIGINT} and o.del_flag = '0'
		order by o.goods_info_price desc
	</select>
    <!-- 查询配送方式 -->
    <select id="selectEspress" resultMap="expressMap" parameterType="java.lang.Long">
        select
        <include refid="espresssql"/>
        from np_sys_express
        where expid = #{expid,jdbcType=BIGINT}
    </select>
    <!-- 查询支付方式 -->
    <select id="selectpay" resultMap="payMap" parameterType="java.lang.Long">
	    select 
	    pay_id, pay_name
	    from np_sys_pay
	    where pay_id = #{payId,jdbcType=BIGINT}
	  </select>
    <!-- 查询订单物流单号 -->
    <select id="selectexpressNo" resultMap="expressno" parameterType="java.lang.Long">
			select relation_id,express_no,express_name
			from np_order_container_relation
			where order_id = #{orderId,jdbcType=BIGINT}
		</select>

    <!-- 修改昵称 -->
    <update id="modifyCustNickName" parameterType="com.ningpai.site.customer.vo.CustomerAllInfo">
        update np_customer set
        <if test="customerNickname != null">
            customer_nickname = #{customerNickname,jdbcType=VARCHAR}
        </if>
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>
    <!-- 修改会员信息 -->
    <update id="modifyCustomerInfo" parameterType="com.ningpai.site.customer.vo.CustomerAllInfo">
        update np_customer_info
        <set>
            <if test="infoRealname != null">
                info_realname = #{infoRealname,jdbcType=VARCHAR},
            </if>
            <if test="infoCardid != null">
                info_cardid = #{infoCardid,jdbcType=VARCHAR},
            </if>
            <if test="infoGender != null">
                info_gender = #{infoGender,jdbcType=CHAR},
            </if>
            <if test="infoBirthday != null">
                info_birthday = #{infoBirthday,jdbcType=VARCHAR},
            </if>
            <if test="infoRegip != null">
                info_regip = #{infoRegip,jdbcType=VARCHAR},
            </if>
            <if test="infoProvince != null">
                info_province = #{infoProvince,jdbcType=VARCHAR},
            </if>
            <if test="infoCity != null">
                info_city = #{infoCity,jdbcType=VARCHAR},
            </if>
            <if test="infoCounty != null">
                info_county = #{infoCounty,jdbcType=VARCHAR},
            </if>
            <if test="infoStreet != null">
                infoStreet = #{infoStreet,jdbcType=VARCHAR},
            </if>
            <if test="infoAddress != null">
                info_address = #{infoAddress,jdbcType=VARCHAR},
            </if>
            <if test="infoMarital != null">
                info_marital = #{infoMarital,jdbcType=CHAR},
            </if>
            <if test="infoSalary != null">
                info_salary = #{infoSalary,jdbcType=VARCHAR},
            </if>
            <if test="infoInterest != null">
                info_interest = #{infoInterest,jdbcType=VARCHAR},
            </if>
            <if test="infoEmail != null">
                info_email = #{infoEmail,jdbcType=VARCHAR},
            </if>
            <if test="infoMobile != null">
                info_mobile = #{infoMobile,jdbcType=VARCHAR},
            </if>
            <if test="balanceSum != null">
                balance_sum = #{balanceSum,jdbcType=DECIMAL},
            </if>
            <if test="infoPointSum != null">
                info_point_sum = #{infoPointSum,jdbcType=INTEGER},
            </if>
            <if test="infoType != null">
                info_type = #{infoType,jdbcType=INTEGER},
            </if>
            <if test="infoRegisterTime != null">
                info_register_time = #{infoRegisterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime == null">
                modified_time = SYSDATE(),
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="infoPhone != null">
                info_phone = #{infoPhone,jdbcType=VARCHAR},
            </if>
            <if test="infoZip != null">
                info_zip = #{infoZip,jdbcType=VARCHAR},
            </if>
            <if test="delTime != null">
                del_time = #{delTime,jdbcType=TIMESTAMP},
            </if>
            <if test="infoQQ  != null">
                info_qq = #{infoQQ ,jdbcType=VARCHAR},
            </if>
            <if test="wangwangNo != null">
                wangwangNo = #{wangwangNo,jdbcType=VARCHAR},
            </if>
        </set>
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    	delete from np_customer
    	where customer_id = #{customerId,jdbcType=BIGINT}
  	</delete>
    <!-- 将订单状态修改为已收货 -->
    <update id="comfirmOfGooods" parameterType="java.lang.Long">
  		update np_order set order_status='3' , get_goods_time=SYSDATE()
  		where order_id= #{orderId,jdbcType=BIGINT}
  	</update>
    <!-- 将订单状态修改为订单完成 -->
    <update id="modifyOrderStatusToSuccess" parameterType="java.lang.Long">
  		update np_order_info set order_status='2',success_time=SYSDATE()
  		where order_id= #{orderId,jdbcType=BIGINT}
  	</update>
    <insert id="insert" parameterType="com.ningpai.customer.bean.Customer">
    insert into np_customer (customer_id, customer_username, customer_password, 
      customer_nickname, is_mobile, is_email, 
      is_flag, login_ip, login_time, 
      create_time, modified_time, del_flag, 
      del_time, customer_img)
    values (#{customerId,jdbcType=BIGINT}, #{customerUsername,jdbcType=VARCHAR}, md5(#{customerPassword,jdbcType=VARCHAR}), 
      #{customerNickname,jdbcType=VARCHAR}, #{isMobile,jdbcType=CHAR}, #{isEmail,jdbcType=CHAR}, 
      #{isFlag,jdbcType=CHAR}, #{loginIp,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}, 
      #{delTime,jdbcType=TIMESTAMP}, #{customerImg,jdbcType=VARCHAR})
  	</insert>

    <!-- 查询所有省份-->
    <select id="selectAllProvince" resultMap="proviceMap">
		select
		p.province_id,p.province_name
		from np_sys_province p
		where p.del_flag = '0' 
	</select>

    <!--获取单个省份对象-->
    <select id="selectprovinceByPid" resultMap="proviceMap" parameterType="java.util.Map">
        select
		p.province_id,p.province_name
		from np_sys_province p
		where p.del_flag = '0' and p.province_id = #{provinceId,jdbcType=BIGINT}

    </select>
    <!-- 查询所有城市根据省份编号-->
    <select id="selectAllCityByPid" resultMap="cityMap" parameterType="java.lang.Long">
		select 
    	c.city_id,c.city_name
   		from np_sys_city c
    	where c.province_id = #{provinceId,jdbcType=BIGINT}
    	and c.del_flag = '0' 
	</select>

    <!-- 查询所有区县根据城市编号-->
    <select id="selectAllDistrictByCid" resultMap="districtMap" parameterType="java.lang.Long">
		select
		d.district_id,d.district_name
		from np_sys_district d
		where d.city_id = #{cityId,jdbcType=BIGINT}
    	and d.del_flag = '0' 
	</select>

    <!-- 根据区县编号查询所有街道-->
    <select id="getAllStreetByDid" resultMap="streetMap" parameterType="java.lang.Long">
		select
		s.street_id,s.street_name
		from np_sys_street s
		where s.district_id = #{dId,jdbcType=BIGINT}
    	and s.del_flag = '0' 
	</select>

    <insert id="insertSelective" parameterType="com.ningpai.customer.bean.Customer">
        insert into np_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerUsername != null">
                customer_username,
            </if>
            <if test="customerPassword != null">
                customer_password,
            </if>
            <if test="customerNickname != null">
                customer_nickname,
            </if>
            <if test="isMobile != null">
                is_mobile,
            </if>
            <if test="isEmail != null">
                is_email,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="loginIp != null">
                login_ip,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="delTime != null">
                del_time,
            </if>
            <if test="customerImg != null">
                customer_img,
            </if>
            <if test="loginKey != null">
                login_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerUsername != null">
                #{customerUsername,jdbcType=VARCHAR},
            </if>
            <if test="customerPassword != null">
                md5(#{customerPassword,jdbcType=VARCHAR}),
            </if>
            <if test="customerNickname != null">
                #{customerNickname,jdbcType=VARCHAR},
            </if>
            <if test="isMobile != null">
                #{isMobile,jdbcType=CHAR},
            </if>
            <if test="isEmail != null">
                #{isEmail,jdbcType=CHAR},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=CHAR},
            </if>
            <if test="loginIp != null">
                #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="delTime != null">
                #{delTime,jdbcType=TIMESTAMP},
            </if>
            <if test="customerImg != null">
                #{customerImg,jdbcType=VARCHAR},
            </if>
            <if test="loginKey != null">
                #{loginKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.customer.bean.Customer">
        update np_customer
        <set>
            <if test="customerUsername != null">
                customer_username = #{customerUsername,jdbcType=VARCHAR},
            </if>
            <if test="customerPassword != null">
                customer_password = md5(#{customerPassword,jdbcType=VARCHAR}),
            </if>
            <if test="customerNickname != null">
                customer_nickname = #{customerNickname,jdbcType=VARCHAR},
            </if>
            <if test="isMobile != null">
                is_mobile = #{isMobile,jdbcType=CHAR},
            </if>
            <if test="isEmail != null">
                is_email = #{isEmail,jdbcType=CHAR},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag,jdbcType=CHAR},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="delTime != null">
                del_time = #{delTime,jdbcType=TIMESTAMP},
            </if>
            <if test="aeadTime != null">
                aead_time = #{aeadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="customerImg != null">
                customer_img = #{customerImg,jdbcType=VARCHAR},
            </if>
            <if test="isTempCust != null">
                is_temp_cust = #{isTempCust,jdbcType=VARCHAR},
            </if>
            <if test="loginKey != null">
                login_key=#{loginKey,jdbcType=VARCHAR},
            </if>
            modified_time = SYSDATE()
        </set>
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ningpai.customer.bean.Customer">
    update np_customer
    set customer_username = #{customerUsername,jdbcType=VARCHAR},
      customer_password = md5(#{customerPassword,jdbcType=VARCHAR}),
      customer_nickname = #{customerNickname,jdbcType=VARCHAR},
      is_mobile = #{isMobile,jdbcType=CHAR},
      is_email = #{isEmail,jdbcType=CHAR},
      is_flag = #{isFlag,jdbcType=CHAR},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      customer_img = #{customerImg,jdbcType=VARCHAR}
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
    <!-- 根据用户ID和密码查询用户 -->
    <select id="checkCustomerPwd" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from np_customer
        where
        customer_id = #{customerId,jdbcType=BIGINT}
        and customer_password=md5(#{password})
    </select>
    <!-- 获取会员订单状态数量 待处理 待评价 待付款  待收货 待自提 -->
    <select id="selectpendingOrderNotice" parameterType="java.util.Map" resultType="java.lang.Long">
        <if test="flag == 0">
            select
            count(o.order_id)
            from np_order o
            where o.customer_id= #{customerId,jdbcType=BIGINT} and o.del_flag = '0' and
            o.order_status not in ('3','4')
        </if>
        <if test="flag == 1">
            select
            count(o.order_id)
            from np_order o
            where o.customer_id=#{customerId,jdbcType=BIGINT}
            and o.del_flag = '0' and o.order_status = '3' and o.order_id in (select o.order_id from np_order_goods n
            where n.order_id =o.order_id and n.evaluate_flag ='0')
        </if>
        <if test="flag == 3">
            select
            count(o.order_id)
            from np_order o
            where o.customer_id= #{customerId,jdbcType=BIGINT} and o.del_flag = '0' and
            o.order_status ='0'
        </if>
        <if test="flag == 4">
            select
            count(o.order_id)
            from np_order o
            where o.customer_id= #{customerId,jdbcType=BIGINT} and o.del_flag = '0' and
            o.order_status ='2'
        </if>
        <if test="flag == 5">
            select
            count(o.order_id)
            from np_order o
            where o.customer_id= #{customerId,jdbcType=BIGINT} and o.del_flag = '0' and
            o.order_status ='2' and order_express_type='1'
        </if>
    </select>

    <!-- 查询降价商品 -->
    <select id="selectReducePriceNum" parameterType="java.util.Map" resultType="java.lang.Long">
  	select 
	count(1)
	from np_customer_follow f
	<![CDATA[
		where  f.customer_id =#{customerId,jdbcType=BIGINT} and f.del_flag = '0' and
		EXISTS (
		select 1 from np_goods_info g
		where f.goods_id=g.goods_info_id and f.follow_price>g.goods_info_prefer_price
		)

        ]]>
    </select>

    <!-- 查询到货通知数量 -->
    <select id="selectGoodsArriveNum" parameterType="java.util.Map" resultType="java.lang.Long">
  	select 
	count(1)
	from np_goods_lack_register l
	where l.customer_id =#{customerId,jdbcType=BIGINT} 
	and l.delFlag ='0' and l.lack_register_notice_status='1'
  </select>
    <!-- 查询活动商品 -->
    <select id="selectActivityGoodsNum" parameterType="java.util.Map" resultType="java.lang.Long">
	  <![CDATA[

	  	select count(1) 
		from np_marketing market ,np_marketing_scope m
		inner join np_customer_follow f on f.goods_id = m.scope_id 
		where m.flag = '0' and m.scope_type = '2' 
		and market.flag = '0'  
		and m.marketing_id = market.marketing_id 
		and market.marketing_begin <= now()
		and market.marketing_end >=now()
		and f.del_flag = '0'
		and f.customer_id = #{customerId,jdbcType=BIGINT} 

        ]]>
  </select>

    <!-- 查询未读咨询回复数量 -->
    <select id="selectNoReadNum" parameterType="java.util.Map" resultType="java.lang.Long">
  	select 
	count(1)
	from np_comment_replay r
	where r.customer_id =#{customerId,jdbcType=BIGINT} 
	and r.del_flag ='0' and r.is_read = '0'
  </select>
    <!-- 取消订单 -->
    <update id="cancelOrder" parameterType="java.util.Map">
  	update np_order set order_status ='4' ,order_cancel_time = SYSDATE(),order_cancel_remark = #{reason}
  	where order_id =#{orderId,jdbcType=BIGINT}
  </update>
    <!-- 删除订单 -->
    <update id="delOrder" parameterType="java.lang.Long">
  	update np_order set del_flag ='1' where order_id =#{orderId,jdbcType=BIGINT} 
  </update>
    <update id="updateCustInfoByPrimaryKeySelective" parameterType="com.ningpai.site.customer.vo.CustomerAllInfo">
        update np_customer_info
        <set>
            <!--       <if test="customerId != null"> -->
            <!--         customer_id = #{customerId,jdbcType=BIGINT}, -->
            <!--       </if> -->
            <if test="infoRealname != null">
                info_realname = #{infoRealname,jdbcType=VARCHAR},
            </if>
            <if test="infoCardid != null">
                info_cardid = #{infoCardid,jdbcType=VARCHAR},
            </if>
            <if test="infoGender != null">
                info_gender = #{infoGender,jdbcType=CHAR},
            </if>
            <if test="pointLevelName != null">
                point_level_name=(select p.point_level_name from np_customer_point_level p where
                p.point_lelvel_id=#{pointLevelName,jdbcType=VARCHAR}),
            </if>
            <if test="infoBirthday != null">
                info_birthday = #{infoBirthday,jdbcType=VARCHAR},
            </if>
            <if test="infoRegip != null">
                info_regip = #{infoRegip,jdbcType=VARCHAR},
            </if>
            <if test="infoProvince != null and infoProvince != ''">
                info_province = #{infoProvince,jdbcType=VARCHAR},
            </if>
            <if test="infoCity != null">
                info_city = #{infoCity,jdbcType=VARCHAR},
            </if>
            <if test="infoCounty != null">
                info_county = #{infoCounty,jdbcType=VARCHAR},
            </if>
            <if test="infoStreet != null">
                infoStreet = #{infoStreet,jdbcType=VARCHAR},
            </if>
            <if test="infoAddress != null">
                info_address = #{infoAddress,jdbcType=VARCHAR},
            </if>
            <if test="infoMarital != null">
                info_marital = #{infoMarital,jdbcType=CHAR},
            </if>
            <if test="infoSalary != null">
                info_salary = #{infoSalary,jdbcType=VARCHAR},
            </if>
            <if test="infoInterest != null">
                info_interest = #{infoInterest,jdbcType=VARCHAR},
            </if>
            <if test="infoEmail != null">
                info_email = #{infoEmail,jdbcType=VARCHAR},
            </if>
            <if test="infoMobile != null">
                info_mobile = #{infoMobile,jdbcType=VARCHAR},
            </if>
            <if test="balanceSum != null">
                balance_sum = #{balanceSum,jdbcType=DECIMAL},
            </if>
            <if test="infoPointSum != null">
                info_point_sum = #{infoPointSum,jdbcType=INTEGER},
            </if>
            <if test="infoType != null">
                info_type = #{infoType,jdbcType=INTEGER},
            </if>
            <if test="infoRegisterTime != null">
                info_register_time = #{infoRegisterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="infoPhone != null">
                info_phone = #{infoPhone,jdbcType=VARCHAR},
            </if>
            <if test="infoZip != null">
                info_zip = #{infoZip,jdbcType=VARCHAR},
            </if>
            <if test="delTime != null">
                del_time = #{delTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>

    <select id="selectCustomerByUname" resultMap="cusinfoMap" parameterType="java.util.Map">
        select
        <include refid="cusSql"/>
        from np_customer c left join np_customer_info i on i.customer_id=c.customer_id
        where
        <if test="username != null and username!=''">
            c.customer_username = #{username}
        </if>
        and c.del_flag = '0' and ( c.is_seller = '0' or c.is_seller = '1' or c.is_seller = '2')
    </select>

    <update id="updateCus" parameterType="com.ningpai.customer.bean.Customer">
        UPDATE np_customer
        SET
        <if test="isShare != null">
            is_share = #{isShare,jdbcType=CHAR}
        </if>
        where
        customer_id = #{customerId,jdbcType=BIGINT}
    </update>
    <!--更新 当前会员登陆错误的次数 并且登陆时间为当前时间-->
    <update id="updateCusErrorCount" parameterType="com.ningpai.customer.bean.Customer">
        UPDATE np_customer
        SET
        <if test="loginErrorCount != null">
            login_error_count = #{loginErrorCount,jdbcType=BIGINT},
        </if>
        <if test="loginTime != null">
            login_time = #{loginTime,jdbcType=TIMESTAMP},
        </if>
        login_lock_time = #{loginLockTime,jdbcType=TIMESTAMP}
        where
        customer_id = #{customerId,jdbcType=BIGINT}
    </update>


    <update id="updateCusLock" parameterType="com.ningpai.customer.bean.Customer">
        UPDATE np_customer
        SET
        <if test="loginErrorCount != null">
            login_error_count = #{loginErrorCount,jdbcType=BIGINT},
        </if>
        <if test="loginTime != null">
            login_time = #{loginTime,jdbcType=TIMESTAMP},
        </if>
        login_lock_time = #{loginLockTime,jdbcType=TIMESTAMP}
        where
        customer_id = #{customerId,jdbcType=BIGINT}
    </update>


    <select id="selectDistrictBeanById" resultMap="districtMap" parameterType="java.util.Map">
      select district_id,district_name from np_sys_district where district_id = #{districtId,jdbcType=BIGINT}
    </select>

    <!-- 根据会员id和订单编号是否存在-->
    <select id="checkexistsByIdAndCode" parameterType="java.util.Map" resultType="java.lang.Long">
		SELECT count(1) from np_order o
		LEFT JOIN np_customer c on o.customer_id=c.customer_id
		where o.del_flag='0' and c.customer_id=#{customerId,jdbcType=BIGINT} 
		and o.order_code=#{orderCode,jdbcType=VARCHAR}
	</select>

    <!-- 修改会员等级 前台点击个人中心处调用 houyichang 2015/9/25 -->
    <update id="updCustLevel" parameterType="java.util.Map">
        update np_customer_info t set t.point_level_id=#{pointLevelId,jdbcType=BIGINT},t.point_level_name=#{pointLevelName,jdbcType=VARCHAR}
        where t.customer_id=#{customerId,jdbcType=BIGINT}
    </update>

</mapper>