<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpaihsite.goods.dao.GoodsProductReleSpecMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.goods.bean.GoodsProductReleSpec" >
    <id column="rele_spec_detail_id" property="releSpecDetailId" jdbcType="BIGINT" />
    <result column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
    <result column="spec_detail_id" property="specDetailId" jdbcType="BIGINT" />
    <result column="spec_id" property="specId" jdbcType="BIGINT" />
    <result column="spec_value_remark" property="specValueRemark" jdbcType="VARCHAR" />
  </resultMap>
  <!-- VoResultMap -->
  <resultMap type="com.ningpai.site.goods.vo.GoodsProductReleSpecVo" id="VoResultMap">
  	<id column="rele_spec_detail_id" property="releSpecDetailId" jdbcType="BIGINT" />
    <result column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
    <result column="spec_value_remark" property="specValueRemark" jdbcType="VARCHAR" />
    <association property="spec" column="spec_id" select="com.ningpaihsite.goods.dao.GoodsSpecMapper.querySpecVoBySpecId"></association>
    <association property="goodsSpecDetail" column="spec_detail_id" select="com.ningpaihsite.goods.dao.GoodsSpecDetailMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    rele_spec_detail_id, goods_info_id, spec_detail_id, spec_id,spec_value_remark
  </sql>
  <!-- 根据货品ID查询所有关联的规格值 -->
  <select id="queryAllByProductId" parameterType="java.lang.Long" resultMap="VoResultMap">
  	select 
    <include refid="Base_Column_List" />
    from np_goods_info_rele_spec_detail
    where goods_info_id=#{productId}
  </select>
</mapper>