<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.web.dao.ThreePartMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.site.threepart.bean.ThreePart" >
    <id column="three_part_id" property="threePartId" jdbcType="BIGINT" />
    <result column="three_part_uid" property="threePartUid" jdbcType="VARCHAR" />
    <result column="three_part_token" property="threePartToken" jdbcType="VARCHAR" />
    <result column="three_part_member_id" property="threePartMemberId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    three_part_id, three_part_uid, three_part_token, three_part_member_id
  </sql>
  
  
   <select id="selectThreePart" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from np_three_part
    where three_part_uid = #{threePartUid,jdbcType=BIGINT}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from np_three_part
    where three_part_id = #{threePartId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from np_three_part
    where three_part_id = #{threePartId,jdbcType=BIGINT}
  </delete>
  <insert id="insertThreePart" parameterType="com.ningpai.site.threepart.bean.ThreePart" >
    insert into np_three_part (three_part_id, three_part_uid, three_part_token, 
      three_part_member_id)
    values (#{threePartId,jdbcType=BIGINT}, #{threePartUid,jdbcType=VARCHAR}, #{threePartToken,jdbcType=VARCHAR}, 
      #{threePartMemberId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.site.threepart.bean.ThreePart" >
    insert into np_three_part
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="threePartId != null" >
        three_part_id,
      </if>
      <if test="threePartUid != null" >
        three_part_uid,
      </if>
      <if test="threePartToken != null" >
        three_part_token,
      </if>
      <if test="threePartMemberId != null" >
        three_part_member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="threePartId != null" >
        #{threePartId,jdbcType=BIGINT},
      </if>
      <if test="threePartUid != null" >
        #{threePartUid,jdbcType=VARCHAR},
      </if>
      <if test="threePartToken != null" >
        #{threePartToken,jdbcType=VARCHAR},
      </if>
      <if test="threePartMemberId != null" >
        #{threePartMemberId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.site.threepart.bean.ThreePart" >
    update np_three_part
    <set >
      <if test="threePartUid != null" >
        three_part_uid = #{threePartUid,jdbcType=VARCHAR},
      </if>
      <if test="threePartToken != null" >
        three_part_token = #{threePartToken,jdbcType=VARCHAR},
      </if>
      <if test="threePartMemberId != null" >
        three_part_member_id = #{threePartMemberId,jdbcType=BIGINT},
      </if>
    </set>
    where three_part_id = #{threePartId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ningpai.site.threepart.bean.ThreePart" >
    update np_three_part
    set three_part_uid = #{threePartUid,jdbcType=VARCHAR},
      three_part_token = #{threePartToken,jdbcType=VARCHAR},
      three_part_member_id = #{threePartMemberId,jdbcType=BIGINT}
    where three_part_id = #{threePartId,jdbcType=BIGINT}
  </update>
</mapper>