<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.system.dao.FriendLinkMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.system.bean.FriendLink" >
    <id column="link_id" property="linkId" jdbcType="BIGINT" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="link_logo" property="linkLogo" jdbcType="VARCHAR" />
    <result column="link_sort" property="linkSort" jdbcType="INTEGER" />
    <result column="is_hidden" property="isHidden" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    link_id, link_name, link_url, link_logo, link_sort, is_hidden, create_time, modify_time, 
    del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from np_sys_link
    where link_id = #{linkId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update  np_sys_link set del_flag='1' 
    where link_id = #{linkId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.ningpai.system.bean.FriendLink" >
    insert into np_sys_link (link_id, link_name, link_url, 
      link_logo, link_sort, is_hidden, 
      create_time, modify_time, del_flag
      )
    values (#{linkId,jdbcType=BIGINT}, #{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{linkLogo,jdbcType=VARCHAR}, #{linkSort,jdbcType=INTEGER}, #{isHidden,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ningpai.system.bean.FriendLink" >
    insert into np_sys_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="linkId != null" >
        link_id,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="linkLogo != null" >
        link_logo,
      </if>
      <if test="linkSort != null" >
        link_sort,
      </if>
      <if test="isHidden != null" >
        is_hidden,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="linkId != null" >
        #{linkId,jdbcType=BIGINT},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkLogo != null" >
        #{linkLogo,jdbcType=VARCHAR},
      </if>
      <if test="linkSort != null" >
        #{linkSort,jdbcType=INTEGER},
      </if>
      <if test="isHidden != null" >
        #{isHidden,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ningpai.system.bean.FriendLink" >
    update np_sys_link
    <set >
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="linkLogo != null and linkLogo != ''" >
        link_logo = #{linkLogo,jdbcType=VARCHAR},
      </if>
      <if test="linkSort != null" >
        link_sort = #{linkSort,jdbcType=INTEGER},
      </if>
      <if test="isHidden != null" >
        is_hidden = #{isHidden,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where link_id = #{linkId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ningpai.system.bean.FriendLink" >
    update np_sys_link
    set link_name = #{linkName,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      link_logo = #{linkLogo,jdbcType=VARCHAR},
      link_sort = #{linkSort,jdbcType=INTEGER},
      is_hidden = #{isHidden,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where link_id = #{linkId,jdbcType=BIGINT}
  </update>
  
  <select id="findByPageBean" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select <include refid="Base_Column_List"/> 
  	from np_sys_link where del_flag='0'
  		<!-- 若为1 按照链接名称查询 -->
  		<if test="condition == 1">
  			and link_name like  CONCAT(CONCAT('%', #{searchText},'%'))
            <if test="searchTextTwo != null and searchTextTwo != ''">
                and link_url like  CONCAT(CONCAT('%', #{searchTextTwo},'%'))
            </if>
      </if>
  		<!-- 若为2 按照链接地址查询 -->
  		<if test="condition == 2">
  			and link_url like  CONCAT(CONCAT('%', #{searchText},'%')) 
  		</if>
      order by link_sort
  	 limit #{startRowNum},#{endRowNum}
  </select>
  
  <select id="findTotalCount" resultType="int" parameterType="com.ningpai.system.util.SelectBean">
  	select count(link_id) from np_sys_link where del_flag='0'
  		<!-- 若为1 按照链接名称查询 -->
  		<if test="condition == 1">
  			and link_name like  CONCAT(CONCAT('%', #{searchText},'%'))
            <if test="searchTextTwo != null and searchTextTwo != ''">
                and link_url like  CONCAT(CONCAT('%', #{searchTextTwo},'%'))
            </if>
      </if>
  		<!-- 若为2 按照链接地址查询 -->
  		<if test="condition == 2">
  			and link_url like  CONCAT(CONCAT('%', #{searchText},'%')) 
  		</if>
  </select>
<!--查询所有-->
    <select id="selectAllFriendLink" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List"/>
        from np_sys_link where del_flag='0'
    </select>
</mapper>