html {
	margin: 0;
	color: #424242;
	line-height: 20px;
	background-color: #ffffff;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	margin: 0;
	padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,audio,canvas,video
	{
	display: block
}

audio,canvas,video {
	display: inline-block
}

audio:not ([controls] ){
	display: none
}

body,button,input,select,textarea {
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", "tahoma", "arial",
		"\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53";
	font-size: 12px;
	line-height: 20px;
	color: #666;
	background-color: #fff
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

iframe {
	*display: block
}

fieldset,img {
	border: 0
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

em,s {
	font-style: italic
}

s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-decoration: none
}

address,caption,cite,code,dfn,th,var {
	font-style: normal;
	font-weight: 500
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

caption,th {
	text-align: left
}

ol,ul {
	list-style: none;
	list-style-type: none
}

q:before,q:after {
	content: ''
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	height: auto;
	vertical-align: middle;
	border: 0
}

img {
	-ms-interpolation-mode: bicubic
}

#map_canvas img {
	max-width: none
}

button,input,select,textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}

button,input {
	*overflow: visible;
	line-height: normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

ins,a,s {
	text-decoration: none;
	font-style: normal
}

a {
	color: #666;
	text-decoration: none;
	cursor: pointer
}

a:hover,.order_list table tr.promotion td a:hover {
	color: #00cccb;
	text-decoration: none
}

a:active {
	outline: 0
}

ul,li {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999
}

h1 {
	font-size: 26px;
	line-height: 34px
}

h2 {
	font-size: 20px;
	line-height: 28px
}

h3 {
	font-size: 16px;
	line-height: 22px
}

h4 {
	font-size: 14px;
	line-height: 20px
}

h5 {
	font-size: 12px;
	line-height: 18px
}

h6 {
	font-size: 12px;
	line-height: 16px
}

h1 small {
	font-size: 20px
}

h2 small {
	font-size: 14px
}

h3 small {
	font-size: 12px
}

h4 small {
	font-size: 12px
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%
}

.table-cell i {
	display: inline;
	vertical-align: middle;
	height: 100%
}

.clearfix,.clear,.form li,.proDashboard dl {
	*zoom: 1
}

.clearfix:before,.clear:before,.form li:before,.clearfix:after,.clear:after,.form li:after,.proDashboard dl:before,.proDashboard dl:after
	{
	display: table;
	content: ""
}

.clearfix:after,.clear:after,.form li :after,.proDashboard dl:after {
	clear: both
}

.inline-block,.inlineBlock {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.inline-list,.inlineList {
	letter-spacing: -4px
}

.inline-list li,.inlineList li {
	letter-spacing: 0;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.float-list,.floatList {
	*zoom: 1
}

.float-list:before,.floatList:before,.float-list:after,.floatList:after
	{
	display: table;
	content: ""
}

.float-list:after,.floatList:after {
	clear: both
}

.float-list li,.floatList li {
	float: left
}

.float-list li a,.floatList li a,.float-list li span,.floatList li span
	{
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.img {
	display: block;
	text-align: center;
	vertical-align: middle
}

.pos-relative {
	position: relative;
	*zoom: 1
}

.hide-text {
	font-size: 0;
	text-indent: -9999em;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.hide,.fn-hide {
	display: none
}

.hidden {
	visibility: hidden
}

.transparent-white {
	background: rgba(255, 255, 255, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66ffffff', EndColorStr='#66ffffff');
	overflow: hidden
}

.transparent-black {
	background: rgba(0, 0, 0, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66000000', EndColorStr='#66000000');
	overflow: hidden
}

.transparent-green {
	background: rgba(0, 141, 121, 0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66008d79', EndColorStr='#66008d79');
	overflow: hidden
}

.transparent-blue {
	background: rgba(223, 238, 245, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66dfeef5', EndColorStr='#66dfeef5');
	overflow: hidden
}

.tleft,.t-left {
	text-align: left
}

.tright,.t-right {
	text-align: right
}

.tcenter,.t-center {
	text-align: center
}

.left {
	float: left
}

.right {
	float: right
}

.word-wrap {
	white-space: normal;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto
}

.word-wrap td {
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto
}

.red {
	color: #C00
}

.fillL {
	padding-left: 10px
}

.fillR {
	padding-right: 10px
}

.fillT {
	padding-top: 10px
}

.fillB {
	padding-bottom: 10px
}

.pushL {
	margin-left: 10px
}

.pushR {
	margin-right: 10px
}

.pushT {
	margin-top: 10px
}

.pushB {
	margin-bottom: 10px
}

.toB,.toBb {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: #666 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 3px
}

.toT,.toTt {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: transparent transparent #666 transparent;
	border-style: dashed dashed solid dashed;
	border-width: 3px
}

.toR,.toRr {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: transparent transparent transparent #666;
	border-style: dashed dashed dashed solid;
	border-width: 3px
}

.toL,.toLl {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: transparent #666 transparent transparent;
	border-style: dashed solid dashed dashed;
	border-width: 3px
}

html,body {
	width: 100%
}

.icons-sprite,.icons-arrow,.icons-cart,.icons-close,.icons-cp_01,.icons-cp_02,.icons-cp_03,.icons-cp_04,.icons-home,.icons-menu,.icons-next,.icons-prev,.icons-search,.icons-star,.icons-svc_01,.icons-svc_02,.icons-svc_03,.icons-svc_04,.icons-svc_05,.icons-top,.section_headerTop .cartfd .cartit span s,.section_headerTop .slot_headerTop01 .left li .favorite s,.section_headerTop .slot_headerTop01 .siteNav li.navCenter>a s,.section-header .content .search .mallSearch-input .btnSearch,.section-header .content .mainnav .home .index_icon,.section-header .content .mainnav .showlist .btnnav a em,.section-footer #footer .footerImg a.footerImg01,.section-footer #footer .footerImg a.footerImg02,.section-footer #footer .footerImg a.footerImg03,.section-footer #footer .footerImg a.footerImg04,.section-03 .recommend .body .j-prev,.section-03 .recommend .body .j-next,.sideBar a#backtoTop,.bh-dialog .dia-tit .dia-close
	{
	background-image: url('icons-s39437c1d7a.png');
	background-repeat: no-repeat
}

.icons-arrow {
	background-position: 0 -33px
}

.icons-cart {
	background-position: 0 0
}

.icons-close {
	background-position: -39px -33px
}

.icons-cp_01 {
	background-position: 0 -254px
}

.icons-cp_02 {
	background-position: 0 -214px
}

.icons-cp_03 {
	background-position: 0 -174px
}

.icons-cp_04 {
	background-position: 0 -134px
}

.icons-home {
	background-position: -54px -33px
}

.icons-menu {
	background-position: -7px -33px
}

.icons-next {
	background-position: -72px -51px
}

.icons-prev {
	background-position: -38px -51px
}

.icons-search {
	background-position: -72px -33px
}

.icons-star {
	background-position: -25px -33px
}

.icons-svc_01 {
	background-position: -33px -101px
}

.icons-svc_02 {
	background-position: -66px -101px
}

.icons-svc_03 {
	background-position: -24px 0
}

.icons-svc_04 {
	background-position: 0 -101px
}

.icons-svc_05 {
	background-position: -57px 0
}

.icons-top {
	background-position: 0 -51px
}

@font-face {
	font-family: 'iconfont';
	src: url("iconfont.eot");
	src: url("iconfont.eot?#iefix") format("embedded-opentype"),
		url("iconfont.woff") format("woff"), url("iconfont.ttf")
		format("truetype"), url("iconfont.svg#iconfont") format("svg")
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}


.section_headerTop {
	height: 44px;
	padding: 5px 0;
	background: #fff
}

.section_headerTop #logo_n {
	width: 250px;
	height: 88px;
	margin: 0 auto;
	background: #fff;
	position:relative;
	z-index:9;
}

.section_headerTop #logo_n a {
	display: block;
	width: 250px;
	height: 55px;
	padding-top:25px;
	text-align:center;
}

.section_headerTop .cartfd {
	position: absolute;
	top: 5px;
	right: 0;
	bottom: auto;
	left: auto
}

.section_headerTop .cartfd .cartBanner {
	display: none
}

.section_headerTop .cartfd .cartit {
	*zoom: 1;
	cursor: pointer
}

.section_headerTop .cartfd .cartit:before,.section_headerTop .cartfd .cartit:after
	{
	display: table;
	content: ""
}

.section_headerTop .cartfd .cartit:after {
	clear: both
}

.section_headerTop .cartfd .cartit span {
	float: left;
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	font-size: 14px
}

.section_headerTop .cartfd .cartit span s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	background-position: 0 0;
	width: 24px;
	height: 22px;
	margin-right: 10px
}

.section_headerTop .cartfd .cartit strong {
	line-height: 40px;
	text-align: center;
	color: #00cccb;
	font-size: 14px
}

.section_headerTop .cartfd .cartit strong b {
	display: none
}

.section_headerTop .slot_headerTop01 {
	width: 1200px;
	margin: 0 auto;
	position: relative
}

.section_headerTop .slot_headerTop01 .left {
	*zoom: 1;
	padding: 10px 0px
}

.section_headerTop .slot_headerTop01 .left:before,.section_headerTop .slot_headerTop01 .left:after
	{
	display: table;
	content: ""
}

.section_headerTop .slot_headerTop01 .left:after {
	clear: both
}

.section_headerTop .slot_headerTop01 .left li {
	float: left
}

.section_headerTop .slot_headerTop01 .left li a,.section_headerTop .slot_headerTop01 .left li span
	{
	padding: 0 10px;
	vertical-align: middle
}

.section_headerTop .slot_headerTop01 .left li .favorite s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	background-position: -25px -33px;
	width: 14px;
	height: 12px;
	margin-right: 5px;
	margin-top: -3px
}

.section_headerTop .slot_headerTop01 .left li .welcome,.section_headerTop .slot_headerTop01 .left li .site_register
	{
	background: url(line.png) no-repeat left center
}

.section_headerTop .slot_headerTop01 .left .local-choose {
	position: relative;
	margin-left: 10px
}

.section_headerTop .slot_headerTop01 .left .local-choose>a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	padding: 0 5px
}

.section_headerTop .slot_headerTop01 .left .local-choose>a span {
	padding: 0
}

.section_headerTop .slot_headerTop01 .left .local-choose>a .iconfont {
	font-size: 12px;
	margin-left: 5px
}

.section_headerTop .slot_headerTop01 .left .local-choose .localInfo {
	position: absolute;
	top: 20px;
	right: auto;
	bottom: auto;
	left: 0;
	z-index: 999999;
	background: #fff;
	min-width: 200px;
	border: 1px solid #ccc;
	padding: 10px 5px;
	display: none
}

.section_headerTop .slot_headerTop01 .left .local-choose .localInfo a {
	padding: 0 5px;
	line-height: 25px;
	white-space: nowrap
}

.section_headerTop .slot_headerTop01 .left .local-choose:hover>a {
	border: solid #ccc;
	border-width: 1px 1px 0;
	background: #fff;
	padding: 0 4px;
	margin-top: -1px;
	position: inherit;
	z-index: 100
}

.section_headerTop .slot_headerTop01 .left .local-choose:hover .localInfo
	{
	display: block
}

.section_headerTop .slot_headerTop01 .siteNav {
	float: right;
	*zoom: 1
}

.section_headerTop .slot_headerTop01 .siteNav:before,.section_headerTop .slot_headerTop01 .siteNav:after
	{
	display: table;
	content: ""
}

.section_headerTop .slot_headerTop01 .siteNav:after {
	clear: both
}

.section_headerTop .slot_headerTop01 .siteNav li {
	float: left;
	padding: 0 5px;
	background: url(line.png) no-repeat left center
}

.section_headerTop .slot_headerTop01 .siteNav li>a {
	padding: 0 5px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}

.section_headerTop .slot_headerTop01 .siteNav li:first-child {
	background: none
}

.section_headerTop .slot_headerTop01 .siteNav li.navCenter {
	position: relative
}

.section_headerTop .slot_headerTop01 .siteNav li.navCenter>a s {
	background-position: 0 -33px;
	width: 7px;
	height: 4px;
	margin-left: 5px;
	vertical-align: middle
}

.section_headerTop .slot_headerTop01 .siteNav li.navCenter .navInfo {
	position: absolute;
	top: 20px;
	right: auto;
	bottom: auto;
	left: 5px;
	z-index: 99;
	background: #fff;
	min-width: 80px;
	border: 1px solid #ccc;
	padding: 5px 0;
	display: none
}

.section_headerTop .slot_headerTop01 .siteNav li.navCenter .navInfo a {
	display: block;
	padding: 0 5px;
	line-height: 25px
}

.section_headerTop .slot_headerTop01 .siteNav li.navCenter:hover>a {
	border: solid #ccc;
	border-width: 1px 1px 0;
	background: #fff;
	padding: 0 4px;
	margin-top: -1px;
	position: inherit;
	z-index: 100
}

.section_headerTop .slot_headerTop01 .siteNav li.navCenter:hover .navInfo
	{
	display: block
}

.content {
	width: 1200px;
	margin: 0 auto
}

.section-header {
	background: #fff;
	height: 40px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee
}

.section-header .content {
	position: relative
}

.section-header .content #logo {
	padding-top: 20px
}

.section-header .content #logo .logoBanner {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	border-left: 1px solid #efefef;
	margin-left: 10px;
	padding-left: 10px
}

.section-header .content .search .mallSearch-input {
	*zoom: 1;
	border-right: 1px solid #eee
}

.section-header .content .search .mallSearch-input:before,.section-header .content .search .mallSearch-input:after
	{
	display: table;
	content: ""
}

.section-header .content .search .mallSearch-input:after {
	clear: both
}

.section-header .content .search .mallSearch-input .inputSearch {
	float: left;
	width: 245px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
	margin-right: 5px;
    position: relative;
    bottom: 1px;
}

.section-header .content .search .mallSearch-input .btnSearch {
	float: left;
	width: 18px;
	height: 18px;
	border: none;
	margin: 11px 12px 0px 0px;
	cursor: pointer;
	background-position: -72px -33px
}

.section-header .content .mainnav {
	position: relative
}

.section-header .content .mainnav .logo {
	position: absolute;
	left: 50%;
	bottom: 1px;
	width: 250px;
	height: 80px;
	z-index: 999
}

.section-header .content .mainnav .home {
	width: 18px;
	height: 18px;
	padding: 11px 20px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	float: left
}

.section-header .content .mainnav .home .index_icon {
	width: 18px;
	height: 18px;
	display: block;
	background-position: -54px -33px
}

.section-header .content .mainnav .navLinks {
	padding-left: 130px;
	float: left
}

.section-header .content .mainnav .navLinks ul {
	*zoom: 1
}

.section-header .content .mainnav .navLinks ul:before,.section-header .content .mainnav .navLinks ul:after
	{
	display: table;
	content: ""
}

.section-header .content .mainnav .navLinks ul:after {
	clear: both
}

.section-header .content .mainnav .navLinks ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid #eee
}

.section-header .content .mainnav .navLinks ul li a {
	display: block;
	font-size: 14px;
	color: #333333;
	padding: 0 20px
}

.section-header .content .mainnav .navLinks ul li a:hover,.section-header .content .mainnav .navLinks ul li a.on
	{
	color: #00cccb
}

.section-header .content .mainnav .showlist {
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 60px;
	border-right: 1px solid #eeeeee
}

.section-header .content .mainnav .showlist .btnnav {
	display: block
}

.section-header .content .mainnav .showlist .btnnav a {
	display: block;
	padding: 0px 20px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 500;
	color: #00cccb
}

.section-header .content .mainnav .showlist .btnnav a em {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 18px;
	height: 12px;
	margin: 0 10px;
	background-position: -7px -33px
}

.section-header .content .mainnav .showlist .dropdown-menu {
	position: absolute;
	top: 40px;
	right: auto;
	bottom: auto;
	left: 0;
	width: 798px;
	min-height: 468px;
	padding-bottom: 10px;
	border: 1px solid #eeeeee;
	background: #fff;
	z-index: 100;
	display: none
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list {
	padding: 15px;
	border-bottom: 1px solid #eeeeee;
	*zoom: 1
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list.hover
	{
	background: url("../images/list_bg.gif") repeat
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list.hover .menu-list-left
	{
	color: #00cccb
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list:before,.section-header .content .mainnav .showlist .dropdown-menu .menu-list:after
	{
	display: table;
	content: ""
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list:after
	{
	clear: both
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list .menu-list-left
	{
	width: 126px;
	float: left;
	text-align: center;
	color: #333333;
	font-size: 16px;
	line-height: 25px
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list .menu-list-left .arial
	{
	font-family: "Arial"
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list .menu-list-rig
	{
	width: 640px;
	float: right
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list .menu-list-rig a
	{
	display: inline-block;
	padding: 10px;
	color: #666;
	font-size: 14px;
	background: #fff;
	box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
	margin: 0px 10px 10px 15px
}

.section-header .content .mainnav .showlist .dropdown-menu .menu-list .menu-list-rig a:hover
	{
	box-shadow: 5px 5px 0 0 #00cccb
}

.section-header .content .mainnav .showlist .menuView {
	position: absolute;
	top: 40px;
	right: auto;
	bottom: auto;
	left: 210px;
	width: 570px;
	min-height: 480px;
	background: #fff;
	box-shadow: 0 0 3px #ccc;
	z-index: 99
}

.section-header .content .mainnav .showlist .menuView ul {
	padding: 0 20px 40px
}

.section-header .content .mainnav .showlist .menuView ul li {
	padding: 5px 0;
	border-bottom: 1px dashed #00cccb;
	*zoom: 1
}

.section-header .content .mainnav .showlist .menuView ul li:before,.section-header .content .mainnav .showlist .menuView ul li:after
	{
	display: table;
	content: ""
}

.section-header .content .mainnav .showlist .menuView ul li:after {
	clear: both
}

.section-header .content .mainnav .showlist .menuView ul li h3 {
	float: left;
	width: 65px
}

.section-header .content .mainnav .showlist .menuView ul li h3 a {
	color: #00cccb;
	line-height: 28px;
	font-size: 12px;
	margin-right: 15px
}

.section-header .content .mainnav .showlist .menuView ul li p {
	float: left;
	width: 460px;
	line-height: 28px
}

.section-header .content .mainnav .showlist .menuView ul li p a {
	padding: 0 8px;
	border-left: 1px solid #666;
	font-size: 12px;
	white-space: nowrap
}

.section-header .content .mainnav .showlist .menuView .menuImg {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	width: 200px;
	height: 384px;
	overflow: hidden
}

.miniCart {
	right: 0;
	position: absolute;
	width: 294px;
	z-index: 999999;
	*zoom: 1
}

.mCartHandler {
	background-color: #F4F4F4;
	cursor: pointer;
	height: 40px;
	overflow: hidden;
	position: relative;
	z-index: 999998;
	border: 1px solid #00cccb;
	border-top: none
}

.mCartHandler h3 {
	float: left;
	color: #464646;
	font-size: 12px;
	height: 40px;
	padding-left: 24px;
	line-height: 40px
}

.mcCashier {
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	padding-left: 20px;
	visibility: visible
}

.mcGenius {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 12px;
	height: 12px;
	z-index: 999999
}

.mcGenius s {
	width: 12px;
	height: 12px;
	background: url(sprite.png) no-repeat -73px -375px
}

.bmcGenius s {
	background-position: -73px -360px
}

.mcTotal {
	float: left;
	height: 40px;
	margin-top: 2px;
	line-height: 40px;
	color: #ff0000;
	font-weight: 600
}

.mcGo {
	float: left;
	height: 40px;
	margin-top: 2px;
	line-height: 40px;
	color: #ff0000;
	font-weight: 600
}
.mcGo a:hover{color:#666}

.mcTotal {
	padding-right: 20px
}

.mcRmb {
	font-family: arial
}

.mcTotalFee {
	font-weight: 400
}

.mcGo {
	position: relative;
	margin-top: 0;
	width: 64px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background-color: #00cccb;
	color: #ffffff
}

.no-mcGo {
	background-color: #bebebe;
	color: #979797
}

.mc_e1,.mcNumTotal {
	display: none
}

.mc_e1 {
	padding: 10px 0 10px 100px
}

.mCartBox {
	background-color: #FFFFFF;
	border: 1px solid #00cccb;
	max-height: 335px;
	overflow-y: auto;
	padding: 0 2px;
	*position: relative
}

.emCartBox {
	padding: 20px 30px 20px 40px;
	background: url(sprite24.png) no-repeat -54px -391px
}

.mcBoxTop {
	padding: 10px 12px;
	border-bottom: 1px solid #D8D8D8
}

.mcBtn {
	position: absolute;
	top: 10px;
	right: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	padding: 1px 10px
}

.mcChk,.mcElect {
	float: left
}

.mcElect {
	padding-top: 2px
}

.mcBoxList {
	background-color: #fff;
	margin: 0 12px
}

.mCartError {
	position: absolute;
	bottom: 9px;
	left: 0;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	width: 272px;
	border: 1px solid #00cccb;
	background: #f5f5f5;
	opacity: 0.9;
	color: #9a1206
}

.mcFloat {
	position: absolute;
	top: 0
}

.mcOrder {
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 0
}

.mcOrder .mcChk,.mcOrder .mcItem,.mcOrder .mcSqe,.mcOrder .mcAmount,.mcOrder .mcCost
	{
	float: left
}

.mcOrder .mcChk {
	padding-top: 15px
}

.mcOrder .mcItem {
	width: 52px
}

.mcOrder .mcItem .img {
	width: 50px;
	height: 50px;
	border: 1px solid #c9c8c6;
	background-color: #fff;
	display: table
}

.mcOrder .mcItem .img img {
	width: 50px;
	height: 50px
}

.mcOrder .mcSqe p {
	width: 48px;
	overflow: hidden;
	padding: 0 0 0 6px;
	height: 44px;
	line-height: 22px
}

.mcOrder .mcAmount {
	padding: 15px 6px 0;
	width: 54px
}

.mcAmount .minus,.mcAmount .plus {
	visibility: hidden
}

.mcOrder .mcCost {
	width: 54px;
	*width: 46px;
	overflow: hidden;
	*overflow: visible;
	white-space: nowrap;
	text-align: right;
	position: relative;
	*position: inherit
}

.mcOrder .mcCost .del {
	position: absolute;
	right: 2px;
	top: 0px;
	display: none
}

.mcOrder .mcCost .mcPrice {
	padding: 15px 0 0;
	display: block
}

.totalCart {
	text-align: right;
	font-size: 14px;
	letter-spacing: -3px;
	position: absolute;
	top: 5px;
	right: 0;
	padding: 10px 0;
	background: url(bar.png) left -883px repeat-x
}

.totalCart .totalNum {
	border: 1px solid #d3cdbf;
	padding: 10px;
	border-width: 1px 0 0 1px;
	border-radius: 2px 0 0;
	letter-spacing: 0
}

.totalCart .totalFee {
	border: 1px solid #d3cdbf;
	padding: 10px 0 10px 10px;
	border-width: 1px 1px 0 0;
	border-radius: 0 2px 0 0;
	letter-spacing: 0
}

.totalNum strong,.totalFee strong {
	padding: 0 10px;
	color: #00cccb
}

.totalCart .goBtn {
	color: #00cccb;
	padding: 10px;
	background-color: #00cccb;
	color: #fff;
	border-radius: 2px 0 0 2px
}

.totalCart .no-goBtn {
	color: #999;
	background-color: #bebebe
}

.bh-mask {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none
}

.bh-dialog {
	width: 440px;
	min-height: 230px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -220px;
	background: #fff;
	z-index: 10000;
	border-radius: 5px;
	overflow: hidden;
	display: none
}

.bh-dialog .dia-tit {
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	*zoom: 1;
	background: #00cccb
}

.bh-dialog .dia-tit:before,.bh-dialog .dia-tit:after {
	display: table;
	content: ""
}

.bh-dialog .dia-tit:after {
	clear: both
}

.bh-dialog .dia-tit h4 {
	float: left;
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
	line-height: 30px
}

.bh-dialog .dia-tit .dia-close {
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 7px;
	background-position: -39px -33px
}

.bh-dialog .dia-cont {
	padding: 20px 30px;
	min-height: 100px
}

.bh-dialog .dia-cont p {
	font-size: 1.6em;
	line-height: 150%
}

.bh-dialog .dia-btn {
	text-align: center
}

.bh-dialog .dia-btn a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #00cccb;
	font-size: 1.4em
}