.box {
    float: left;
    position: relative;
    padding: 1px;
    top: 10%;
    opacity: 0.5;
    z-index: 9999;
    opacity: 1;
}

.box2 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: none;
    z-index: 10000;
    position: fixed;
    background: rgba(0, 0, 0, 0.52) none repeat scroll 0% 0%;
    opacity: 1;
}