html {
	margin: 0;
	color: #424242;
	line-height: 20px;
	background-color: #ffffff;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	margin: 0;
	padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,audio,canvas,video
	{
	display: block
}

audio,canvas,video {
	display: inline-block
}

audio:not ([controls] ){
	display: none
}

body,button,input,select,textarea {
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", "tahoma", "arial",
		"\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53";
	font-size: 12px;
	line-height: 20px;
	color: #666;
	background-color: #fff
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

iframe {
	*display: block
}

fieldset,img {
	border: 0
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

em,s {
	font-style: italic
}

s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-decoration: none
}

address,caption,cite,code,dfn,th,var {
	font-style: normal;
	font-weight: 500
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

caption,th {
	text-align: left
}

ol,ul {
	list-style: none;
	list-style-type: none
}

q:before,q:after {
	content: ''
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	vertical-align: middle;
	border: 0
}

img {
	-ms-interpolation-mode: bicubic
}

#map_canvas img {
	max-width: none
}

button,input,select,textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}

button,input {
	*overflow: visible;
	line-height: normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

ins,a,s {
	text-decoration: none;
	font-style: normal
}

a {
	color: #666;
	text-decoration: none;
	cursor: pointer
}

a:hover,.order_list table tr.promotion td a:hover {
	color: #df1738;
	text-decoration: none
}

a:active {
	outline: 0
}

ul,li {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999
}

h1 {
	font-size: 26px;
	line-height: 34px
}

h2 {
	font-size: 20px;
	line-height: 28px
}

h3 {
	font-size: 16px;
	line-height: 22px
}

h4 {
	font-size: 14px;
	line-height: 20px
}

h5 {
	font-size: 12px;
	line-height: 18px
}

h6 {
	font-size: 12px;
	line-height: 16px
}

h1 small {
	font-size: 20px
}

h2 small {
	font-size: 14px
}

h3 small {
	font-size: 12px
}

h4 small {
	font-size: 12px
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%
}

.table-cell i {
	display: inline;
	vertical-align: middle;
	height: 100%
}

.clearfix,.clear,.form li,.proDashboard dl {
	*zoom: 1
}

.clearfix:before,.clear:before,.form li:before,.clearfix:after,.clear:after,.form li:after,.proDashboard dl:before,.proDashboard dl:after
	{
	display: table;
	content: ""
}

.clearfix:after,.clear:after,.form li :after,.proDashboard dl:after {
	clear: both
}

.inline-block,.inlineBlock {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.inline-list,.inlineList {
	letter-spacing: -4px
}

.inline-list li,.inlineList li {
	letter-spacing: 0;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.float-list,.floatList {
	*zoom: 1
}

.float-list:before,.floatList:before,.float-list:after,.floatList:after
	{
	display: table;
	content: ""
}

.float-list:after,.floatList:after {
	clear: both
}

.float-list li,.floatList li {
	float: left
}

.float-list li a,.floatList li a,.float-list li span,.floatList li span
	{
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.img {
	display: block;
	text-align: center;
	vertical-align: middle
}

.pos-relative {
	position: relative;
	*zoom: 1
}

.hide-text {
	font-size: 0;
	text-indent: -9999em;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.hide,.fn-hide {
	display: none
}

.hidden {
	visibility: hidden
}

.transparent-white {
	background: rgba(255, 255, 255, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66ffffff', EndColorStr='#66ffffff');
	overflow: hidden
}

.transparent-black {
	background: rgba(0, 0, 0, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66000000', EndColorStr='#66000000');
	overflow: hidden
}

.transparent-green {
	background: rgba(0, 141, 121, 0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66008d79', EndColorStr='#66008d79');
	overflow: hidden
}

.transparent-blue {
	background: rgba(223, 238, 245, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66dfeef5', EndColorStr='#66dfeef5');
	overflow: hidden
}

.tleft,.t-left {
	text-align: left
}

.tright,.t-right {
	text-align: right
}

.tcenter,.t-center {
	text-align: center
}

.left {
	float: left
}

.right {
	float: right
}

.word-wrap {
	white-space: normal;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto
}

.word-wrap td {
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto
}

.red {
	color: #C00
}

.fillL {
	padding-left: 10px
}

.fillR {
	padding-right: 10px
}

.fillT {
	padding-top: 10px
}

.fillB {
	padding-bottom: 10px
}

.pushL {
	margin-left: 10px
}

.pushR {
	margin-right: 10px
}

.pushT {
	margin-top: 10px
}

.pushB {
	margin-bottom: 10px
}

.toB,.toBb {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: #666 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 3px
}

.toT,.toTt {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: transparent transparent #666 transparent;
	border-style: dashed dashed solid dashed;
	border-width: 3px
}

.toR,.toRr {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: transparent transparent transparent #666;
	border-style: dashed dashed dashed solid;
	border-width: 3px
}

.toL,.toLl {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	*overflow: hidden;
	border-color: transparent #666 transparent transparent;
	border-style: dashed solid dashed dashed;
	border-width: 3px
}

html,body {
	width: 100%
}

.icons-sprite,.icons-arrow,.icons-cart,.icons-cp_01,.icons-cp_02,.icons-cp_03,.icons-cp_04,.icons-next,.icons-prev,.icons-search,.icons-star,.icons-tel,.icons-top,.section-footer #footer .footerImg a.footerImg01,.section-footer #footer .footerImg a.footerImg02,.section-footer #footer .footerImg a.footerImg03,.section-footer #footer .footerImg a.footerImg04,.sideBar a#backtoTop
	{
	background-image: url('icons-s88b0333d81.png');
	background-repeat: no-repeat
}

.icons-arrow {
	background-position: 0 -40px
}

.icons-cart {
	background-position: -21px -40px
}

.icons-cp_01 {
	background-position: 0 -144px
}

.icons-cp_02 {
	background-position: 0 -104px
}

.icons-cp_03 {
	background-position: 0 -184px
}

.icons-cp_04 {
	background-position: 0 -64px
}

.icons-next {
	background-position: -55px -40px
}

.icons-prev {
	background-position: -41px -40px
}

.icons-search {
	background-position: -38px 0
}

.icons-star {
	background-position: -7px -40px
}

.icons-tel {
	background-position: -69px -40px
}

.icons-top {
	background-position: 0 0
}

.section-footer {
	padding: 30px 0 50px
}

.section-footer .foot_service {
	width: 1200px;
	margin: 0 auto;
	*zoom: 1;
	border-top: 1px solid #dbdbdb;
	padding-top: 20px;
	text-align: center
}

.section-footer .foot_service:before,.section-footer .foot_service:after
	{
	display: table;
	content: ""
}

.section-footer .foot_service:after {
	clear: both
}

.section-footer .foot_service dl {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	vertical-align: top;
	padding: 0 50px;
	text-align: left;
	margin: 0 20px
}

.section-footer .foot_service dl dt {
	font-size: 14px;
	font-weight: 700
}

.section-footer .foot_service dl dd {
	margin-top: 5px
}

.section-footer .foot_service dl dd a {
	display: block
}

.section-footer #footnavigationer {
	margin-top: 20px
}

.section-footer #footnavigationer .footerNav {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #f0f0f0;
	padding-top: 20px
}

.section-footer #footnavigationer .footerNav a {
	padding: 0 15px 0 10px;
	background: url(s-line.png) no-repeat right center
}

.section-footer #footnavigationer .footerNav a:last-child {
	background: none
}

.section-footer #footer {
	width: 1200px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: center
}

.section-footer #footer .c-right p {
	margin-bottom: 10px
}

.section-footer #footer .c-right p s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 2px;
	height: 13px;
	background: url(s-line.png) no-repeat right center
}

.section-footer #footer .footerImg a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 108px;
	height: 40px;
	margin: 0 5px
}

.section-footer #footer .footerImg a.footerImg01 {
	background-position: 0 -144px
}

.section-footer #footer .footerImg a.footerImg02 {
	background-position: 0 -104px
}

.section-footer #footer .footerImg a.footerImg03 {
	background-position: 0 -184px
}

.section-footer #footer .footerImg a.footerImg04 {
	width: 112px;
	background-position: 0 -64px
}

.show-box {
	position: relative
}

.show-box #slides {
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	z-index: 90
}

.show-box #slides .slide {
	display: block;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center top
}

.show-box #slides .slidesjs-pagination {
	position: absolute;
	top: auto;
	right: auto;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 99
}

.show-box #slides .slidesjs-pagination li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin: 0 2px
}

.show-box #slides .slidesjs-pagination li a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	line-height: 12px;
	background: #b2b2b2;
	background: rgba(102, 102, 102, 0.6);
	border-radius: 50%;
	color: #fff;
	text-indent: -999999px
}

.show-box #slides .slidesjs-pagination li a.active {
	background: #101010
}

.show-box .content {
	width: 1200px;
	margin: 0 auto;
	position: relative
}

.show-box .content .new-side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	width: 200px;
	background: #fff;
	*z-index: 99999;
	z-index: 100
}

.show-box .content .new-side .news {
	border: 1px solid #dcdcdc;
	border-top: none;
	padding: 8px;
	height: 123px
}

.show-box .content .new-side .news h3 {
	font-size: 14px;
	color: #555
}

.show-box .content .new-side .news .news-list {
	margin-top: 3px
}

.show-box .content .new-side .news .news-list li {
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.show-box .content .new-side .img-box {
	height: 400px;
	overflow: hidden
}

.show-box .content .on-sale {
	padding: 410px 0 0 230px;
	height: 260px;
    width:980px;
	overflow: hidden
}

.show-box .content .on-sale h3 {
	line-height: 35px;
	font-size: 14px;
	margin-left: 25px;
	color: #5c5c5c
}

#content {
	width: 1200px;
	margin: 0 auto
}

.big_brand {
	*zoom: 1;
	margin-top: 11px;
	width: 1220px;
	position: relative
}

.big_brand:before,.big_brand:after {
	display: table;
	content: ""
}

.big_brand:after {
	clear: both
}

.big_brand li {
	width: 208px;
	height: 148px;
	border: 1px solid #f1f1f1;
	margin-right: 10px;
	float: left;
	margin-bottom: 10px
}

.big_brand li.mid_brand {
	position: absolute;
	left: 440px;
	top: 0px;
	width: 318px;
	height: 308px;
	z-index: 99
}

.big_brand li.mid_brand a {
	padding: 0px;
	border: none;
	width: 318px;
	height: 308px
}

.big_brand li.mid {
	width: 318px
}

.big_brand li a {
	display: block;
	border: 5px solid #fff;
	width: 178px;
	height: 138px;
	padding: 0px 10px;
	background: #fff
}

.big_brand li a:hover {
	border-color: #ddd
}

.big_brand li a span {
	display: block;
	text-align: center;
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #333
}

.big_brand li a span.name {
	height: 20px;
	font-weight: bold;
	font-size: 16px
}

.big_brand li a span.court {
	height: 24px;
	line-height: 24px;
	font-size: 14px
}

.proLists .title {
	height: 38px;
	line-height: 38px;
	border-bottom: 2px solid #3b3a3d;
	padding-top: 10px;
	*zoom: 1
}

.proLists .title:before,.proLists .title:after {
	display: table;
	content: ""
}

.proLists .title:after {
	clear: both
}

.proLists .title h2 {
	float: left;
	width: 200px;
	line-height: 38px;
	font-size: 18px;
	color: #333;
	font-weight: bold
}

.proLists .title .proTabs {
	*zoom: 1;
	position: relative;
	float: right
}

.proLists .title .proTabs:before,.proLists .title .proTabs:after {
	display: table;
	content: ""
}

.proLists .title .proTabs:after {
	clear: both
}

.proLists .title .proTabs a {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color: #666;
	padding: 0px 14px;
	background: url("../css/line_j.png") no-repeat right center
}

.proLists .title .proTabs a:hover {
	color: #df1738
}

.proLists .title .proTabs a:last-child {
	background: none
}

.proLists .title .proTabs .line {
	position: absolute;
	top: auto;
	right: auto;
	bottom: -2px;
	left: 0;
	border-bottom: 2px solid #df1738;
	width: 200px;
	height: 5px;
	text-align: center
}

.proLists .title .proTabs .line:before {
	content: " ";
	width: 0;
	height: 0;
	font-size: 0;
	border: 5px solid;
	border-color: transparent transparent #df1738 transparent;
	line-height: normal;
	vertical-align: top
}

.proLists .proWp {
	*zoom: 1
}

.proLists .proWp:before,.proLists .proWp:after {
	display: table;
	content: ""
}

.proLists .proWp:after {
	clear: both
}

.proLists .proWp .proBox {
	float: left;
	width: 259px;
	border-right: 1px solid #f1f1f1;
	background: #f9f9f9
}

.proLists .proWp .proBox>a {
	display: block;
	height: 279px;
	overflow: hidden
}

.proLists .proWp .proBox .pBrand {
	padding-bottom: 14px
}

.proLists .proWp .proBox .pBrand a {
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px
}

.proLists .proWp .proBox .pLinks {
	background: #f9f9f9;
	height: 84px;
	padding: 10px 15px
}

.proLists .proWp .proBox .pLinks a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin: 5px 0 0 0;
	white-space: nowrap;
	padding: 0px 5px;
	font-size: 14px
}

.proLists .proWp .proBox .pLinks a:hover {
	background: #ea5870;
	color: #fff;
	border-radius: 3px
}

.proLists .proWp .pro_new {
	float: left;
	width: 940px;
	height: 507px;
	overflow: hidden
}

.proLists .proWp .pro_new .pro_upper {
	height: 299px;
	overflow: hidden
}

.proLists .proWp .pro_new .pro_upper .left {
	width: 542px;
	height: 298px;
	position: relative;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden
}

.proLists .proWp .pro_new .pro_upper .left img {
	width: 542px;
	height: 298px
}

.proLists .proWp .pro_new .pro_upper .left:before {
	content: "";
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: -200px;
	width: 80px;
	height: 500px;
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg)
}

.proLists .proWp .pro_new .pro_upper .left:hover::before {
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	left: 450px
}

.proLists .proWp .pro_new .pro_upper .right {
	width: 396px;
	height: 299px
}

.proLists .proWp .pro_new .pro_upper .right .upside {
	width: 395px;
	height: 138px;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1
}

.proLists .proWp .pro_new .pro_upper .right ul {
	*zoom: 1
}

.proLists .proWp .pro_new .pro_upper .right ul:before,.proLists .proWp .pro_new .pro_upper .right ul:after
	{
	display: table;
	content: ""
}

.proLists .proWp .pro_new .pro_upper .right ul:after {
	clear: both
}

.proLists .proWp .pro_new .pro_upper .right ul li {
	float: left;
	width: 197px;
	height: 159px;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden
}

.proLists .proWp .pro_new .pro_upper .right ul li a {
	display: block;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	transition: transform .2s linear
}

.proLists .proWp .pro_new .pro_upper .right ul li a:hover {
	-webkit-transform: translate(-5px, 0);
	-moz-transform: translate(-5px, 0);
	transform: translate(-5px, 0)
}

.proLists .proWp .pro_new .pro_under {
	height: 208px;
	overflow: hidden
}

.proLists .proWp .pro_new .pro_under ul {
	*zoom: 1;
	float: right
}

.proLists .proWp .pro_new .pro_under ul:before,.proLists .proWp .pro_new .pro_under ul:after
	{
	display: table;
	content: ""
}

.proLists .proWp .pro_new .pro_under ul:after {
	clear: both
}

.proLists .proWp .pro_new .pro_under ul li {
	float: left;
	width: 180px;
	height: 207px;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden
}

.proLists .proWp .pro_new .pro_under ul li a {
	display: block;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	transition: transform .2s linear
}

.proLists .proWp .pro_new .pro_under ul li a:hover {
	-webkit-transform: translate(-5px, 0);
	-moz-transform: translate(-5px, 0);
	transform: translate(-5px, 0)
}

.proLists .proWp .pro_new .pro_under ul li.rig_n {
	width: 197px
}

.hotBar {
	margin: 10px auto
}

.hotBar img {
	wdith: 1200px;
	height: 100px
}

.sideBar {
	position: fixed;
	top: 30%;
	right: 0;
	z-index: 999999
}

.sideBar a {
	display: block;
	width: 38px;
	height: 38px;
	border: 1px solid #e8e8e8;
	text-align: center;
	line-height: 38px;
	font-size: 18px;
	color: #333;
	margin-top: -1px;
	background-color: #fff;
	position: relative
}

.sideBar a span {
	display: none;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	background: #df1738;
	color: #fff;
	font-size: 16px;
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0
}

.sideBar a#backtoTop {
	background-position: 0 0
}

.sideBar a.cur {
	background-color: #bbb;
	color: #fff
}

.sideBar a.cur span {
	display: block;
	background: #fff;
	color: #df1738
}

.sideBar a:hover span {
	display: block
}

.regPageHeader {
	height: 100px;
	background: none
}

.section-header.regPageHeader #logo {
	margin: 25px auto 0;
	width: 1200px
}

.regPageHeader #logo a {
	margin-left: 25px
}

.newreg .regPage .head {
	margin: 0 0 30px;
	padding: 0 30px 0 70px;
	border-bottom: 1px solid #df1738;
	text-align: right;
	font-size: 12px
}

.regPage {
	margin-top: -15px;
	*margin-top: -15px
}

.regPage .regPcon {
	border-width: 1px 0 0 !important
}

.regPage .regUser {
	height: 54px;
	line-height: 54px;
	margin-bottom: 0
}

.regPage .head a {
	padding: 0 5px;
	color: #096cc8
}

.regPage .regUser+.regPcon,.regPage .regUser+.regPcon+.regPcon {
	margin: 0;
	width: auto;
	padding: 60px 300px;
	border: 1px solid #df1738;
	border-top: none
}

.regWelcome {
	margin-right: 50px;
	text-align: center
}

.regWelcome h2 {
	color: #df1738;
	font-size: 30px
}

.regWelcome p {
	font-size: 14px;
	margin-bottom: 40px;
	color: #5c5c5c
}

.regPage .regUser ul {
	float: left;
	margin: 0 0 0 630px
}

.regPage .regUser li {
	float: left;
	margin-right: 5px
}

.regPage .regUser li a {
	border: 1px solid #ccc;
	border-width: 1px 1px 0px 1px;
	display: inline-block;
	padding: 7px 20px;
	height: 39px;
	line-height: 39px;
	background-color: #fff
}

.regPage .regUser li a:hover {
	text-decoration: none
}

.regPage .regUser li a:hover span {
	color: #df1738
}

.regPage .regUser li a span {
	color: #333;
	font-weight: bold;
	font-size: 14px
}

.regPage .regUser li a.employee s {
	display: none;
	width: 23px;
	height: 20px;
	background: url("bar.png") no-repeat -234px -1380px;
	vertical-align: middle;
	margin-right: 5px
}

.regPage .regUser li a.employee.current s {
	background-position: -184px -1380px
}

.regPage .regUser li a.company s {
	display: none;
	width: 23px;
	height: 20px;
	background: url("bar.png") no-repeat -208px -1380px;
	vertical-align: middle;
	margin-right: 5px
}

.regPage .regUser li a.company.current s {
	background-position: -256px -1380px
}

.regPage .regUser li a.current {
	border-color: #df1738;
	border-width: 4px 1px 0px 1px;
	height: 37px;
	line-height: 37px
}

.regPage .regUser li a.current span {
	color: #df1738
}

.regPage #footnavigationer,.section-footer #footnavigationer {
	border-top: none
}

#wrapper.regWrape-phone {
	background: #f60
}

.regWrape-phone .regPageHeader {
	margin: 0;
	height: 140px;
	background: #f60
}

.regWrape-phone .regPageHeader #logo {
	margin-top: 0;
	padding-top: 40px;
	width: 300px;
	text-align: center
}

.regWrape-phone .regPageHeader #logo a {
	margin: 5px auto
}

.regWrape-phone .regPageHeader #logo a img {
	padding: 10px 18px;
	height: 40px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #af4b09
}

.regWrape-phone .regPage {
	margin: 0 10px 30px;
	width: auto;
	background: #fff
}

.regWrape-phone .regPage .head {
	margin: 0;
	padding: 0
}

.regWrape-phone .regPage .regUser ul {
	margin: 0;
	width: 100%;
	background: #f60
}

.regWrape-phone .regPage .regUser ul li {
	margin: 0 -1px 0 0;
	width: 50%
}

.regWrape-phone .regPage .regUser ul li a {
	display: block;
	text-align: center;
	border-width: 0;
	background: none
}

.regWrape-phone .regPage .regUser ul li a:hover {
	color: #fff
}

.regWrape-phone .regPage .regUser ul li a:active {
	color: #000
}

.regWrape-phone .regPage .regUser ul li a.current {
	margin-top: 4px;
	background: #fff;
	border-radius: 5px 5px 0 0
}

.regWrape-phone .regPage .regUser ul li a s {
	display: none
}

.regWrape-phone .regPage .regWelcome {
	margin: 0px !important
}

.regWrape-phone .regPage .regPcon {
	padding: 60px 30px !important
}

.regWrape-phone .regPage .regPcon p label {
	display: block;
	float: none;
	padding-left: 10px;
	text-align: left;
	line-height: 28px
}

.regWrape-phone .regPage .regPcon p.label {
	padding-left: 10px
}

.regWrape-phone .regPage .regPcon p.label label {
	display: inline;
	padding-left: 0
}

.regWrape-phone .regPage .regPcon form p {
	margin-left: auto;
	margin-right: auto;
	width: 280px
}

.regWrape-phone .regPage button {
	margin: 10px auto;
	display: block
}

.regWrape-phone .regPage .pisive {
	height: 90px
}

.regWrape-phone .regPage .alertTip,.regWrape-phone .regPage .alertTipError,.regWrape-phone .regPage .onfocus
	{
	top: 80px;
	left: 0px;
	width: 236px
}

.regWrape-phone .regPage .alertTip i,.regWrape-phone .regPage .alertTipError i,.regWrape-phone .regPage .onfocus i
	{
	margin-top: -17px;
	margin-left: 5px;
	border-width: 6px;
	border-style: dashed dashed solid dashed;
	border-color: transparent transparent #e0e080 transparent
}

.regWrape-phone .regPage .alertTip i.border,.regWrape-phone .regPage .alertTipError i.border,.regWrape-phone .regPage .onfocus i.border
	{
	margin-top: -16px;
	margin-left: 5px;
	border-color: transparent transparent #ffffe5 transparent
}

.regWrape-phone .regPage .alertTipError i {
	border-color: transparent transparent #ffc4c4 transparent
}

.regWrape-phone .regPage .alertTipError i.border {
	border-color: transparent transparent #fff3f3 transparent
}

.regWrape-phone .section-footer #footnavigationer #footnavigation {
	display: none
}

.regWrape-phone .section-footer {
	background: #333
}

.regWrape-phone .section-footer #footer {
	padding: 15px 15px 10px;
	width: 100%;
	background: #333
}
.bh-mask {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none
}

.bh-dialog {
	width: 440px;
	min-height: 230px;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -220px;
	background: #fff;
	z-index: 10000;
	border-radius: 5px;
	overflow: hidden;
	display: none
}

.bh-dialog .dia-tit {
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	*zoom: 1;
	background: #df1738
}

.bh-dialog .dia-tit:before,.bh-dialog .dia-tit:after {
	display: table;
	content: ""
}

.bh-dialog .dia-tit:after {
	clear: both
}

.bh-dialog .dia-tit h4 {
	float: left;
	color: #fff;
	font-size: 1.2em;
	font-weight: 500;
	line-height: 30px
}

.bh-dialog .dia-tit .dia-close {
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 7px;
	background:url(icons/close.png) no-repeat;
}

.bh-dialog .dia-cont {
	padding: 20px 30px;
	min-height: 100px
}

.bh-dialog .dia-cont p {
	font-size: 1.6em;
	line-height: 150%
}

.bh-dialog .dia-btn {
	text-align: center
}

.bh-dialog .dia-btn a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #df1738;
	font-size: 1.4em
}
.fl{float:left;}
/*# sourceMappingURL=style.css.map */