<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpaimsite.goods.dao.GoodsProductMapper" >
  <resultMap id="BaseResultMap" type="com.ningpai.goods.bean.GoodsProduct" >
    <id column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_info_item_no" property="goodsInfoItemNo" jdbcType="VARCHAR" />
    <result column="goods_info_name" property="goodsInfoName" jdbcType="VARCHAR"/>
	<result column="goods_info_subtitle" property="goodsInfoSubtitle" jdbcType="VARCHAR"/>
    <result column="goods_info_added" property="goodsInfoAdded" jdbcType="CHAR" />
    <result column="goods_info_added_time" property="goodsInfoAddedTime" jdbcType="TIMESTAMP" />
    <result column="goods_info_stock" property="goodsInfoStock" jdbcType="BIGINT" />
    <result column="goods_info_prefer_price" property="goodsInfoPreferPrice" jdbcType="DECIMAL" />
      <!-- 2015.10.22 wuyanbo 添加会员价格-->
    <result column="goods_info_vip_price" property="goodsInfoVipPrice" jdbcType="DECIMAL" />

      <!--汽车配件类型：“1”表示OEM件，“2”表示常用件          杨国栋 2015.10.31-->
      <result column="goods_info_auto_parts_type" property="goodsInfoAutoPartsType" jdbcType="VARCHAR" />
      <!--OEM号     goodsInfoOem                                     杨国栋 2015.10.31-->
      <result column="goods_info_oem" property="goodsInfoOem" jdbcType="VARCHAR" />
      <!--OEM件的适配车型：用空格隔开      goodsInfoAutoStyle                   杨国栋 2015.10.31-->
      <result column="goods_info_auto_style" property="goodsInfoAutoStyle" jdbcType="VARCHAR" />





    <result column="goods_info_cost_price" property="goodsInfoCostPrice" jdbcType="DECIMAL" />
    <result column="goods_info_market_price" property="goodsInfoMarketPrice" jdbcType="DECIMAL" />
    <result column="goods_info_weight" property="goodsInfoWeight" jdbcType="DECIMAL" />
    <result column="goods_info_img_id" property="goodsInfoImgId" jdbcType="VARCHAR" />
    <result column="goods_info_create_name" property="goodsInfoCreateName" jdbcType="VARCHAR" />
    <result column="goods_info_create_time" property="goodsInfoCreateTime" jdbcType="TIMESTAMP" />
    <result column="goods_info_modified_name" property="goodsInfoModifiedName" jdbcType="VARCHAR" />
    <result column="goods_info_modified_time" property="goodsInfoModifiedTime" jdbcType="TIMESTAMP" />
    <result column="goods_info_del_name" property="goodsInfoDelName" jdbcType="VARCHAR" />
    <result column="goods_info_del_time" property="goodsInfoDelTime" jdbcType="TIMESTAMP" />
    <result column="goods_info_delflag" property="goodsInfoDelflag" jdbcType="CHAR" />
  </resultMap>
  <!-- VoResultMap -->
  <resultMap type="com.ningpai.m.goods.vo.GoodsProductVo" id="ListVoResultMap">
  	<id column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="goods_info_item_no" property="goodsInfoItemNo" jdbcType="VARCHAR" />
    <result column="goods_info_name" property="productName" jdbcType="VARCHAR"/>
	<result column="goods_info_subtitle" property="subtitle" jdbcType="VARCHAR"/>
    <result column="goods_info_added" property="goodsInfoAdded" jdbcType="CHAR" />
    <result column="goods_info_stock" property="goodsInfoStock" jdbcType="BIGINT" />
    <result column="goods_info_prefer_price" property="goodsInfoPreferPrice" jdbcType="DECIMAL" />
      <!--2015.10.22 wuyanbo 添加会员价-->
    <result column="goods_info_vip_price" property="goodsInfoVipPrice" jdbcType="DECIMAL" />

      <!--汽车配件类型：“1”表示OEM件，“2”表示常用件          杨国栋 2015.10.31-->
      <result column="goods_info_auto_parts_type" property="goodsInfoAutoPartsType" jdbcType="VARCHAR" />
      <!--OEM号     goodsInfoOem                                     杨国栋 2015.10.31-->
      <result column="goods_info_oem" property="goodsInfoOem" jdbcType="VARCHAR" />
      <!--OEM件的适配车型：用空格隔开      goodsInfoAutoStyle                   杨国栋 2015.10.31-->
      <result column="goods_info_auto_style" property="goodsInfoAutoStyle" jdbcType="VARCHAR" />




    <result column="goods_info_cost_price" property="goodsInfoCostPrice" jdbcType="DECIMAL" />
    <result column="goods_info_market_price" property="goodsInfoMarketPrice" jdbcType="DECIMAL" />
    <result column="goods_info_weight" property="goodsInfoWeight" jdbcType="DECIMAL" />
    <result column="goods_info_img_id" property="goodsInfoImgId" jdbcType="VARCHAR" />
    <result column="goods_info_delflag" property="goodsInfoDelflag" jdbcType="CHAR" />
    <result column="third_id" property="thirdId" jdbcType="BIGINT" />
  	<result column="is_third" property="isThird" jdbcType="CHAR" />
      <result column="show_mobile" property="showMobile" jdbcType="VARCHAR" />
  	<result column="third_name" property="thirdName" jdbcType="VARCHAR" />
    <collection property="specVo" column="goods_info_id" javaType="ArrayList" ofType="com.ningpai.m.goods.vo.GoodsProductReleSpecVo"
  		select="com.ningpaimsite.goods.dao.GoodsProductReleSpecMapper.queryAllByProductId"
  	></collection>
    <collection property="imageList" column="goods_info_id" javaType="ArrayList" ofType="com.ningpai.goods.bean.GoodsImage"
  		select="com.ningpaimsite.goods.dao.GoodsImageMapper.queryByProductId"
  	></collection>
  </resultMap>
  <!-- DetailResultMap -->
  <resultMap type="com.ningpai.m.goods.vo.GoodsProductVo" id="productDetailResultMap" extends="ListVoResultMap">
  	<result column="goods_info_added_time" property="goodsInfoAddedTime" jdbcType="TIMESTAMP" />
  	<result column="goods_info_create_time" property="goodsInfoCreateTime" jdbcType="TIMESTAMP" />
  	<result column="third_id" property="thirdId" jdbcType="BIGINT" />
  	<result column="is_third" property="isThird" jdbcType="CHAR" />
      <result column="showMobile" property="show_mobile" jdbcType="CHAR" />
  	<result column="third_name" property="thirdName" jdbcType="VARCHAR" />
      <result column="show_mobile" property="showMobile" jdbcType="VARCHAR" />
      <result column="isMailBay" property="isMailBay" jdbcType="VARCHAR" />
  	<association property="goods" column="goods_id"
	    	select="com.ningpaimsite.goods.dao.GoodsMapper.selectGoodsByGoodsId"></association>
    <association property="commentUtilBean" column="goods_info_id" select="com.ningpaimsite.goods.dao.GoodsMapper.queryCommentCountAndScoreByProductId"></association>
  </resultMap>
  <!-- miniResultMap -->
  <resultMap type="com.ningpai.goods.bean.GoodsProduct" id="MiniResultMap">
  	<id column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
    <result column="goods_info_item_no" property="goodsInfoItemNo" jdbcType="VARCHAR" />
    <result column="goods_info_name" property="goodsInfoName" jdbcType="VARCHAR"/>
	<result column="goods_info_subtitle" property="goodsInfoSubtitle" jdbcType="VARCHAR"/>
    <result column="goods_info_prefer_price" property="goodsInfoPreferPrice" jdbcType="DECIMAL" />
      <!--2015.10.22 wuyanbo 添加会员价-->
    <result column="goods_info_vip_price" property="goodsInfoVipPrice" jdbcType="DECIMAL" />

      <!--汽车配件类型：“1”表示OEM件，“2”表示常用件          杨国栋 2015.10.31-->
      <result column="goods_info_auto_parts_type" property="goodsInfoAutoPartsType" jdbcType="VARCHAR" />
      <!--OEM号     goodsInfoOem                                     杨国栋 2015.10.31-->
      <result column="goods_info_oem" property="goodsInfoOem" jdbcType="VARCHAR" />
      <!--OEM件的适配车型：用空格隔开      goodsInfoAutoStyle                   杨国栋 2015.10.31-->
      <result column="goods_info_auto_style" property="goodsInfoAutoStyle" jdbcType="VARCHAR" />




    <result column="goods_info_market_price" property="goodsInfoMarketPrice" jdbcType="DECIMAL" />
    <result column="goods_info_img_id" property="goodsInfoImgId" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 最终购买Vo -->
  <resultMap id="ListFinalBuyResultMap" type="com.ningpai.m.goods.vo.ListFinalBuyVo">
      <result column="precent" property="precent" jdbcType="VARCHAR"/>
      <association property="product" column="goods_info_id" select="queryProductByPrimaryKey"></association>
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    goods_info_id, goods_id, goods_info_item_no,goods_info_name,goods_info_subtitle, goods_info_added, goods_info_added_time, 
    goods_info_stock, goods_info_prefer_price, goods_info_vip_price, goods_info_cost_price, goods_info_market_price,
    goods_info_weight, goods_info_img_id, goods_info_create_name, goods_info_create_time, 
    goods_info_modified_name, goods_info_modified_time, goods_info_del_name, goods_info_del_time, 
    goods_info_delflag,is_third,third_name,third_id,show_mobile
  </sql>
  <sql id="Mini_Column_List" >
     goods_info_id,goods_info_item_no,goods_info_name,goods_info_subtitle,goods_info_prefer_price,goods_info_img_id,goods_info_market_price
  </sql>
  <sql id="List_Column_list">
  	i.goods_info_id, i.goods_id, i.goods_info_item_no,i.goods_info_name,i.goods_info_subtitle, i.goods_info_added, i.goods_info_added_time, 
    i.goods_info_stock, i.goods_info_prefer_price, goods_info_vip_price, i.goods_info_cost_price, i.goods_info_market_price,
    i.goods_info_weight, i.goods_info_img_id, i.goods_info_create_name, i.goods_info_create_time, 
    i.goods_info_modified_name, i.goods_info_modified_time, i.goods_info_del_name, i.goods_info_del_time, 
    i.goods_info_delflag,is_third,third_name,third_id
  </sql>

    <!-- 根据参数查询商品详细信息 -->
    <select id="queryByGoodsInfoDetail" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select i.goods_info_id, i.goods_id, i.goods_info_item_no,i.goods_info_name,i.goods_info_subtitle,
        i.goods_info_added, i.goods_info_added_time,i.goods_info_unadded_time,
        i.goods_info_stock, i.goods_info_prefer_price, i.goods_info_vip_price, i.goods_info_cost_price, i.goods_info_market_price,
        i.goods_info_weight, i.goods_info_img_id, i.goods_info_create_name, i.goods_info_create_time,
        i.goods_info_modified_name, i.goods_info_modified_time, i.goods_info_del_name, i.goods_info_del_time,
        i.goods_info_delflag,good.goods_belo as third_id,i.third_name,i.is_third,i.show_list,i.show_mobile from
        np_goods_info i,np_goods good
        where good.goods_id=i.goods_id and i.goods_info_delflag='0' and good.goods_delflag='0'
        and i.goods_info_id=#{goodsId}
    </select>

  <!-- 根据商品ID查询货品列表 -->
  <select id="queryProductByGoodsId" parameterType="java.lang.Long" resultMap="ListVoResultMap">
  	select 
    <include refid="Base_Column_List" />
    from np_goods_info where goods_id=#{goodsId} and goods_info_delflag='0' and goods_info_added='1'
    and show_mobile='1'
  </select>
  <!-- 根据货品ID查询货品信息 -->
   <select id="queryPrductByProductId" parameterType="java.lang.Long" resultMap="ListVoResultMap">
  	select  <include refid="Base_Column_List" />,isMailBay
    from np_goods_info where goods_info_id=#{productId}
   </select>
   <!-- 根据货品ID查询货品信息 -->
   <select id="queryProductByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    	select  <include refid="Base_Column_List" />
    from np_goods_info where goods_info_id=#{productId}
   </select>
   
   <!-- 根据分类ID查询销量最高的货品 -->
   <select id="queryTopSalesInfoByCatIds" parameterType="java.util.Map" resultMap="BaseResultMap">
   	select <include refid="List_Column_list" /> from np_goods_info i left join (select sum(goods_info_num) as count, np_order_goods.goods_info_id from np_order_goods 
		where order_id in (select order_id from np_order where order_status='3')group by goods_info_id) o on o.goods_info_id=i.goods_info_id 
		where i.goods_id in (select goods_id from np_goods where cat_id = #{catId}) 
		and i.goods_info_delflag='0' and i.goods_info_added='1'
		order by o.count desc
		limit 0,#{rowCount}
   </select>
   
    <!-- 根据货品ID查询销量最高的货品 -->
   <select id="queryTopSalesInfoByProductId" parameterType="java.util.Map" resultMap="BaseResultMap">
   	select <include refid="List_Column_list" /> from np_goods_info i left join (select sum(goods_info_num) as count, np_order_goods.goods_info_id from np_order_goods 
		where order_id in (select order_id from np_order where order_status='3')group by goods_info_id) o on o.goods_info_id=i.goods_info_id 
		where i.goods_id in (select goods_id from np_goods where cat_id = (
		select cat_id from np_goods where goods_id in (select goods_id from np_goods_info where goods_info_id =#{productId}))) 
		and i.goods_info_delflag='0' and i.goods_info_added='1'
		order by o.count desc
		limit 0,#{rowCount}
   </select>
   
   <!-- 根据分类查询最近一月销量最高的商品 -->
   <select id="queryHotSalesByCatId" parameterType="java.util.Map" resultMap="BaseResultMap">
       select <include refid="List_Column_list" /> from np_goods_info i left join (select sum(goods_info_num) as count, np_order_goods.goods_info_id from np_order_goods 
		where order_id in (select order_id from np_order where order_status='3') and TO_DAYS(NOW()) - TO_DAYS(buy_time) &lt;= 30  group by goods_info_id) o on o.goods_info_id=i.goods_info_id 
		where i.goods_id in (select goods_id from np_goods where cat_id = #{catId}) 
		and i.goods_info_delflag='0' and i.goods_info_added='1'
		order by o.count desc
		limit 0,#{rowCount}
   </select>
   
   <!-- 查询浏览该分类下的用户最终购买以及百分比 -->
   <select id="browCatFinalBuyAndPrecent" parameterType="java.util.Map" resultMap="ListFinalBuyResultMap">
       select b.goods_info_id,ROUND((b.count/a.sumc)*100,0) as precent
		from (select count(1) as sumc from np_order_goods where goods_info_id in (select goods_info_id from np_goods_info where goods_id in ( select goods_id from np_goods where cat_id=#{catId}) and goods_info_delflag='0') ) as a,
		(select goods_info_id,count(1) as count from np_order_goods where goods_info_id in (select goods_info_id from np_goods_info where goods_id in ( select goods_id from np_goods where cat_id=#{catId}) and   goods_info_delflag='0') group by goods_info_id) as b
		order by precent desc
		limit 0,#{rowCount}
   </select>
   <!-- 根据分类ID查询最新上架的货品 -->
   <select id="queryTopNewInfoByCatIds" parameterType="java.util.Map" resultMap="BaseResultMap">
   	select <include refid="Base_Column_List" /> from np_goods_info where goods_id in 
   		(select goods_id from np_goods where cat_id in 
			<foreach collection="catIds" open="(" close=")" separator="," item="catId">
				#{catId}
			</foreach>
		)
	and goods_info_delflag='0' and goods_info_added='1'
	order by goods_info_create_time desc
	limit 0,#{rowCount}
   </select>
   
   <!-- 根据货品ID查询详情页的Bean -->
   <select id="queryDetailByProductId" parameterType="java.lang.Long" resultMap="productDetailResultMap">
   	  select <include refid="Base_Column_List"/> from np_goods_info where goods_info_id=#{productId}
   </select>
   
   <!-- 根据商品ID查询下面的第一个货品 -->
   <select id="queryFirstProductByGoodsId" parameterType="java.lang.Long" resultMap="MiniResultMap">
   		select <include refid="Mini_Column_List"/> from np_goods_info 
   		where goods_id=#{goodsId} and goods_info_added='1' and goods_info_delflag='0' limit 0,1
   </select>
   
   <!-- 根据货品ID查询属于同一组合中的货品 -->
   <select id="queryGroupProductByProductId" parameterType="java.lang.Long" resultMap="MiniResultMap">
   		select <include refid="Mini_Column_List"/> from np_goods_info where goods_info_id in (
		select product_id from np_goods_group_rele_product where group_id in 
		(select group_id from np_goods_group_rele_product where product_id = #{productId})
		and product_id not in (#{productId}) and product_id not in
		(select goods_info_id from np_goods_info where goods_info_added='0' or goods_info_delflag='1')
		and rele_product_delflag='0')
   </select>

    <!-- 根据货品ID查询详情页的Bean -->
    <select id="queryDetailByGroupId" parameterType="java.lang.Long" resultMap="productDetailResultMap">
        select
        <include refid="Base_Column_List"/>
        from np_goods_info info INNER JOIN np_goods_group_rele_product rele on info.goods_info_id=rele.product_id
        WHERE group_id=#{groupId} and rele.rele_product_delflag='0'
    </select>
   <!-- 保存商品关注信息 -->
   <insert id="saveGoodsAtte" parameterType="com.ningpai.m.goods.bean.SiteGoodsAtte">
   		insert into np_customer_follow (customer_id,goods_id,create_time,del_flag)
   		values(#{custId},#{productId},now(),'0')
   </insert>
   
   <!-- 保存商品浏览信息 -->
   <insert id="saveGoodsBrow" parameterType="java.util.Map">
   		insert into np_customer_browserecord (customer_id,goods_id,create_time,del_flag)
   		values(#{custId},#{productId},now(),'0')
   </insert>
   
   
   <!-- 根据货品和会员ID查询是否已经关注 -->
   <select id="queryAtteHistByCustIdAndProId" parameterType="java.util.Map" resultType="java.lang.Integer">
   		select count(1) from np_customer_follow where customer_id=#{custId} and goods_id = #{productId} and del_flag='0'
   </select>
   
   <!-- 根据货品ID数组查询货品信息 -->
   <select id="queryProductsByProductIds" parameterType="java.util.ArrayList" resultMap="ListVoResultMap">
  	select  <include refid="Base_Column_List" />
    from np_goods_info where goods_info_id in 
    	<foreach collection="productIds" item="productId" open="(" close=")" separator=",">
    		#{productId}
    	</foreach>
    and goods_info_delflag='0'
   </select>

    <!-- 修改商品浏览信息状态 -->
    <insert id="updateGoodsBrowStatus" parameterType="java.util.Map">
        update np_customer_browserecord set del_flag='1'
        where customer_id=#{custId}  and goods_id=#{productId}
    </insert>

   <!-- 保存商品咨询信息 -->
   <insert id="saveAskComment" parameterType="java.util.Map">
   	insert into np_comment (customer_id,goods_id,is_consult,consult_item,comment_content,publish_time)
   	values(#{custId},#{productId},'1',#{type},#{comment},now())
   </insert>
    <!-- 保存积分兑换记录-->
    <insert id="insertExchangeCusmomer"  parameterType="java.util.Map">

        INSERT INTO np_customer_exchange_point (
        exchange_point_id,
        exchange_point_orderCode,
        exchange_customer_id,
        exchange_customer_point,
        exchange_time,
        disparityPrice,
        consumption
        )
        VALUES
        (0,
        #{orderCode,jdbcType=VARCHAR},
        #{customerId,jdbcType=BIGINT},
        #{exchangePoint,jdbcType=BIGINT},
        #{exchangeTime,jdbcType=TIMESTAMP},
        #{disparityPrice,jdbcType=VARCHAR},
        #{consumption,jdbcType=VARCHAR}
        )
    </insert>
</mapper>