<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningpai.mybatis.mapper.StoreListMapper" >

    <!--店铺街图片关系映射-->
    <resultMap id="BaseResultThirdImage" type="com.ningpai.m.store.bean.StoreStreetThirdImage">
        <id column="third_image_id" property="imageId" jdbcType="BIGINT" />
        <result column="third_store_id" property="storeId" jdbcType="BIGINT"/>
        <result column="store" property="stort" jdbcType="BIGINT"/>
        <result column="delfage" property="delfage" jdbcType="BIGINT"/>
        <result column="create_time" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="image_address" property="imageAddress" jdbcType="VARCHAR"/>
        <result column="status_image" property="status"  jdbcType="BIGINT"/>
    </resultMap>
    <!--货品表关系映射-->
    <resultMap id="BaseResultMapProduct" type="com.ningpai.goods.bean.GoodsProduct" >
        <id column="goods_info_id" property="goodsInfoId" jdbcType="BIGINT" />
        <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
        <result column="goods_info_item_no" property="goodsInfoItemNo" jdbcType="VARCHAR" />
        <result column="goods_info_name" property="goodsInfoName" jdbcType="VARCHAR"/>
        <result column="goods_info_subtitle" property="goodsInfoSubtitle" jdbcType="VARCHAR"/>
        <result column="goods_info_added" property="goodsInfoAdded" jdbcType="CHAR" />
        <result column="goods_info_added_time" property="goodsInfoAddedTime" jdbcType="TIMESTAMP" />
        <result column="goods_info_stock" property="goodsInfoStock" jdbcType="BIGINT" />
        <result column="goods_info_prefer_price" property="goodsInfoPreferPrice" jdbcType="DECIMAL" />
        <!--2015.10.22 wuyanbo 添加会员价-->
        <result column="goods_info_vip_price" property="goodsInfoVipPrice" jdbcType="DECIMAL" />

        <!--汽车配件类型：“1”表示OEM件，“2”表示常用件          杨国栋 2015.10.31-->
        <result column="goods_info_auto_parts_type" property="goodsInfoAutoPartsType" jdbcType="VARCHAR" />
        <!--OEM号     goodsInfoOem                                     杨国栋 2015.10.31-->
        <result column="goods_info_oem" property="goodsInfoOem" jdbcType="VARCHAR" />
        <!--OEM件的适配车型：用空格隔开      goodsInfoAutoStyle                   杨国栋 2015.10.31-->
        <result column="goods_info_auto_style" property="goodsInfoAutoStyle" jdbcType="VARCHAR" />




        <result column="goods_info_cost_price" property="goodsInfoCostPrice" jdbcType="DECIMAL" />
        <result column="goods_info_market_price" property="goodsInfoMarketPrice" jdbcType="DECIMAL" />
        <result column="goods_info_weight" property="goodsInfoWeight" jdbcType="DECIMAL" />
        <result column="goods_info_img_id" property="goodsInfoImgId" jdbcType="VARCHAR" />
        <result column="goods_info_create_name" property="goodsInfoCreateName" jdbcType="VARCHAR" />
        <result column="goods_info_create_time" property="goodsInfoCreateTime" jdbcType="TIMESTAMP" />
        <result column="goods_info_modified_name" property="goodsInfoModifiedName" jdbcType="VARCHAR" />
        <result column="goods_info_modified_time" property="goodsInfoModifiedTime" jdbcType="TIMESTAMP" />
        <result column="goods_info_del_name" property="goodsInfoDelName" jdbcType="VARCHAR" />
        <result column="goods_info_del_time" property="goodsInfoDelTime" jdbcType="TIMESTAMP" />
        <result column="goods_info_delflag" property="goodsInfoDelflag" jdbcType="CHAR" />
    </resultMap>

    <!--优惠券直降信息-->
    <resultMap id="BaseResultMapDown" type="com.ningpai.coupon.bean.CouponStraightDown" >
        <id column="down_id" property="downId" jdbcType="BIGINT" />
        <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
        <result column="down_price" property="downPrice" jdbcType="DECIMAL" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>


    <!--优惠券满减信息-->
    <resultMap id="BaseResultMapFull" type="com.ningpai.coupon.bean.CouponFullReduction" >
        <id column="reduction_id" property="reductionId" jdbcType="BIGINT" />
        <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
        <result column="full_price" property="fullPrice" jdbcType="DECIMAL" />
        <result column="reduction_price" property="reductionPrice" jdbcType="DECIMAL" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    </resultMap>


    <!--优惠券关系映射-->
    <resultMap id="BaseResultCouponMap" type="com.ningpai.coupon.bean.Coupon" >
        <id column="coupon_id" property="couponId" jdbcType="BIGINT" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="coupon_remark" property="couponRemark" jdbcType="VARCHAR" />
        <result column="coupon_start_time" property="couponStartTime" jdbcType="TIMESTAMP" />
        <result column="coupon_end_time" property="couponEndTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="del_flag" property="delFlag" jdbcType="CHAR" />
        <result column="business_id" property="businessId" jdbcType="BIGINT" />
        <result column="coupon_integral" property="couponIntegral" jdbcType="BIGINT" />
        <result column="coupon_is_show" property="couponIsShow" jdbcType="CHAR" />
        <result column="coupon_rules_type" property="couponRulesType" jdbcType="CHAR" />
        <result column="coupon_pic" property="couponPic" jdbcType="VARCHAR" />
        <result column="code_id" property="codeId" jdbcType="BIGINT" />
        <result column="code_no" property="codeNo" jdbcType="VARCHAR" />
        <result column="customer_id" property="customerId" jdbcType="BIGINT" />
        <result column="code_status" property="codeStatus" jdbcType="CHAR" />
        <result column="code_get_type" property="codeGetType" jdbcType="CHAR" />
        <result column="code_get_time" property="codeGetTime" jdbcType="TIMESTAMP" />
        <result column="code_use_order_id" property="codeUseOrderId" jdbcType="BIGINT" />
        <result column="coupon_get_no" property="couponGetNo" jdbcType="BIGINT" />
        <result column="coupon_getted_no" property="couponGettedNo" jdbcType="BIGINT" />

        <!--表链接查询直降优惠券信息-->
        <association property="couponStraightDown" column="coupon_id" select="selectStraightDown"></association>
        <!--表链接查询满减优惠券信息-->
        <association property="couponFullReduction" column="coupon_id" select="selectFullReduction"></association>

    </resultMap>

    <!--店铺关系映射-->
    <resultMap id="BaseResultStoreMap" type="com.ningpai.m.store.bean.StoreInfoVo" >
        <id column="store_id" property="storeId" jdbcType="BIGINT" />
        <result column="customerId" property="customerid" jdbcType="BIGINT" />
        <result column="store_name" property="storeName" jdbcType="VARCHAR" />
        <result column="store_status" property="storeStatus" jdbcType="CHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_cre_time" property="companyCreTime" jdbcType="VARCHAR" />
        <result column="company_addr" property="companyAddr" jdbcType="VARCHAR" />
        <result column="company_addr_id" property="companyAddrId" jdbcType="VARCHAR" />
        <result column="buss_addr_id" property="bussAddrId" jdbcType="VARCHAR" />
        <result column="bank_addr_id" property="bankAddrId" jdbcType="VARCHAR" />
        <result column="company_addr_del" property="companyAddrDel" jdbcType="VARCHAR" />
        <result column="company_tel" property="companyTel" jdbcType="VARCHAR" />
        <result column="company_emp_num" property="companyEmpNum" jdbcType="BIGINT" />
        <result column="company_capital" property="companyCapital" jdbcType="DECIMAL" />
        <result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
        <result column="company_type" property="companyType" jdbcType="CHAR" />
        <result column="company_contact_name" property="companyContactName" jdbcType="VARCHAR" />
        <result column="company_contact_tel" property="companyContactTel" jdbcType="VARCHAR" />
        <result column="company_research_url" property="companyResearchUrl" jdbcType="VARCHAR" />
        <result column="bank_url" property="bankUrl" jdbcType="VARCHAR" />
        <result column="card_url" property="cardUrl" jdbcType="VARCHAR" />
        <result column="company_sku" property="companySku" jdbcType="DECIMAL" />
        <result column="company_avg" property="companyAvg" jdbcType="CHAR" />
        <result column="return_addr" property="returnAddr" jdbcType="VARCHAR" />
        <result column="return_mail" property="returnMail" jdbcType="VARCHAR" />
        <result column="return_contact_name" property="returnContactName" jdbcType="VARCHAR" />
        <result column="return_contact_tel" property="returnContactTel" jdbcType="VARCHAR" />
        <result column="buss_id" property="bussId" jdbcType="VARCHAR" />
        <result column="buss_addr" property="bussAddr" jdbcType="VARCHAR" />
        <result column="BUSS_DATE" property="bussDate" jdbcType="VARCHAR" />
        <result column="buss_dept_no" property="bussDeptNo" jdbcType="VARCHAR" />
        <result column="buss_tax_regist_id" property="bussTaxRegistId" jdbcType="VARCHAR" />
        <result column="buss_tax_regist_url" property="bussTaxRegistUrl" jdbcType="VARCHAR" />
        <result column="buss_tax_payer_id" property="bussTaxPayerId" jdbcType="VARCHAR" />
        <result column="buss_tax_cred_url" property="bussTaxCredUrl" jdbcType="VARCHAR" />
        <result column="buss_tax_type" property="bussTaxType" jdbcType="VARCHAR" />
        <result column="buss_tax_type_id" property="bussTaxTypeId" jdbcType="VARCHAR" />
        <result column="buss_legal_name" property="bussLegalName" jdbcType="VARCHAR" />
        <result column="buss_url" property="bussUrl" jdbcType="VARCHAR" />
        <result column="buss_range" property="bussRange" jdbcType="VARCHAR" />
        <result column="bank_username" property="bankUsername" jdbcType="VARCHAR" />
        <result column="bank_card_id" property="bankCardId" jdbcType="VARCHAR" />
        <result column="bank_addr" property="bankAddr" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="bank_id" property="bankId" jdbcType="VARCHAR" />
        <result column="check_status" property="checkStatus" jdbcType="CHAR" />
        <result column="contract_url" property="contractUrl" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
        <result column="expiry_time" property="expiryTime" jdbcType="TIMESTAMP" />
        <result column="del_flag" property="delFlag" jdbcType="CHAR" />
        <result column="buss_legal_card_id" property="bussLegalCardId" jdbcType="VARCHAR" />
        <result column="is_submit" property="isSubmit" jdbcType="VARCHAR" />
        <result column="is_store_index" property="isStoreIndex" jdbcType="VARCHAR" />
        <result column="store_promise" property="storePromise" jdbcType="VARCHAR"/>
        <result column="store_qi" property="storeQi" jdbcType="CHAR" />
        <result column="billing_cycle" property="billingCycle" jdbcType="VARCHAR"/>
        <result column="collection_seller_id" property="collectionSellerId" jdbcType="BIGINT" />
        <result column="service_qq" property="serviceQq" jdbcType="VARCHAR"/>
        <!--供应商-->
        <result column="is_supplier" property="isSupplier" jdbcType="VARCHAR" />
        <!--表链接 查询当前店铺下面的所有货品-->
        <association property="storeProductList" column="store_id" select="selectStoreProduct"></association>
    </resultMap>

    <!--促销关系映射-->
    <resultMap id="BaseResultMarketingMap" type="com.ningpai.marketing.bean.Marketing">
        <id column="marketing_id" property="marketingId" jdbcType="BIGINT" />
        <result column="marketing_name" property="marketingName"
                jdbcType="VARCHAR" />
        <result column="marketing_des" property="marketingDes"
                jdbcType="VARCHAR" />
        <result column="codex_name" property="codexName"
                jdbcType="VARCHAR" />
        <result column="is_repeat" property="isRepeat"
                jdbcType="CHAR" />
        <result column="marketing_type" property="marketingType"
                jdbcType="CHAR" />
        <result column="marketing_begin" property="marketingBegin"
                jdbcType="TIMESTAMP" />
        <result column="marketing_end" property="marketingEnd"
                jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
        <result column="flag" property="flag" jdbcType="CHAR" />
        <result column="is_all" property="isAll" jdbcType="CHAR" />
        <result column="codex_id" property="codexId" jdbcType="BIGINT" />
        <result column="codex_type" property="codexType" jdbcType="CHAR" />
        <result column="business_id" property="businessId" jdbcType="BIGINT" />
        <result column="third_id" property="thirId" jdbcType="BIGINT" />
        <result column="preferential_name" property="preferentialName" jdbcType="VARCHAR" />
        <result column="info_realname" property="infoRealname" jdbcType="VARCHAR" />
        <result column="group_id" property="groupId" jdbcType="BIGINT" />
        <result column="m_group_id" property="marketGroupId" jdbcType="BIGINT" />
        <result column="add_give_type" property="addGiveType" jdbcType="CHAR" />
        <result column="give_integral" property="giveIntegral" jdbcType="INTEGER" />
        <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
        <result column="active_site_type" property="activeSiteType" jdbcType="CHAR" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="shipping_money" property="shippingMoney" jdbcType="DECIMAL" />
        <collection property="marketLogos"
                    column="marketing_id" select="com.ningpai.dao.MarketLogoMapper.queryLogoByMarketingId"></collection>
        <collection property="marketLelvels"
                    column="marketing_id" select="com.ningpai.dao.MarketLelvelMapper.queryLevelNameByMarketingId"></collection>
    </resultMap>

    <!--店铺商品-->
    <sql id="Product_Column_List" >
        goods_info_id, goods_id, goods_info_item_no,goods_info_name,goods_info_subtitle, goods_info_added, goods_info_added_time,
        goods_info_stock, goods_info_prefer_price, goods_info_vip_price, goods_info_cost_price, goods_info_market_price,
        goods_info_weight, goods_info_img_id, goods_info_create_name, goods_info_create_time,
        goods_info_modified_name, goods_info_modified_time, goods_info_del_name, goods_info_del_time,
        goods_info_delflag,is_third,third_name,third_id
    </sql>

    <!--优惠券满减-->
    <sql id="full_Column_List" >
        reduction_id, coupon_id, full_price, reduction_price, update_time
    </sql>

    <!--优惠券直降-->
    <sql id="down_Column_List" >
        down_id, coupon_id, down_price, update_time,del_flag
    </sql>


    <!--店铺-->
    <sql id="Base_Column_List_Store" >
        store_id, customerId, store_name, store_status, company_name, company_cre_time, company_addr, company_addr_del,
        company_tel, company_emp_num, company_capital, company_email, company_type, company_contact_name,
        company_contact_tel, company_research_url, company_sku, company_avg, return_addr,
        return_mail, return_contact_name, return_contact_tel, buss_id, buss_addr, BUSS_DATE,
        buss_dept_no, buss_tax_regist_id, buss_tax_regist_url, buss_tax_cred_url, buss_tax_payer_id, buss_tax_type, buss_tax_type_id,
        buss_legal_name, buss_url, buss_range, bank_username, bank_card_id, bank_addr, bank_name,
        bank_id, check_status, contract_url, create_time, mod_time, del_flag,company_addr_id,billing_cycle,expiry_time,
        buss_addr_id,bank_addr_id,bank_url,card_url,buss_legal_card_id,is_submit,store_promise,store_qi,service_qq,is_supplier
    </sql>

    <!--店铺街图片-->
    <sql id="StoreStreet_Column_List">
        third_image_id,third_store_id,store,delfage,create_time,image_address,status_image
    </sql>

    <!--优惠券-->
    <sql id="Base_Column_List_Coupon" >
        coupon_id, coupon_name, coupon_remark, coupon_start_time, coupon_end_time, create_time,
        modify_time, del_flag, business_id, coupon_integral, coupon_is_show, coupon_pic,coupon_rules_type,coupon_get_no
    </sql>

    <!--促销-->
    <sql id="Base_Column_List_Marketing">
        marketing_id, marketing_name, marketing_des, marketing_type, marketing_begin,
        marketing_end,
        create_time, mod_time, flag,is_repeat,is_all,m_group_id
    </sql>
    <!--查询查询指定店铺下面的所有货品信息-->
    <select id="selectStoreProduct" resultMap="BaseResultMapProduct" parameterType="java.lang.Long" >
        select <include refid="Product_Column_List"/>
        from np_goods_info WHERE 1=1
        AND is_third = '1'
        AND third_id = #{storeId}
        AND goods_info_delflag = '0'
        AND goods_info_added = '1'
        <!--AND show_mobile = '1'-->
        ORDER BY
        goods_info_added_time DESC
    </select>

    <!--查询所有的店铺集合-->
    <select id="selectStoreList" resultMap="BaseResultStoreMap" parameterType="java.util.Map">
        SELECT
            <include refid="Base_Column_List_Store" />
        FROM
        np_third_store_info
        WHERE
        check_status = '1'
        AND del_flag = '0'
        AND is_submit = '1'
        AND store_id IN (SELECT
        store_id
        FROM
        np_mob_home_page
        WHERE
        <![CDATA[
           store_id <> ''
        ]]>
        )
        AND store_id IN (
        SELECT DISTINCT
        (third_id)
        FROM
        np_third_grantcat
        WHERE
        cate_id IN (
        SELECT DISTINCT
        (cat_id)
        FROM
        np_goods_category
        WHERE
        cat_parent_id IN (
        SELECT DISTINCT
        (cat_id)
        FROM
        np_goods_category
        WHERE
        cat_parent_id IN (
        SELECT
        (cat_id)
        FROM
        np_goods_category
        WHERE
        cat_parent_id = '0'
        AND cat_grade = '1'
        <if test="cateId != null">
                                    AND cat_id = #{cateId}
                                </if>
                        )
                )
            )
        )
        AND store_street_is_show = '0'
        ORDER BY IF(ISNULL(store_street_sort),1,0),store_street_sort ASC
        limit #{startRowNum},#{endRowNum}
    </select>

    <!--根据商家id获取优惠券信息-->
    <select id="selectCouponByBusinessId" resultMap="BaseResultCouponMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List_Coupon" />,
        (select count(1)  from np_coupon_no no where no.coupon_id = n.coupon_id and no.code_status = '1') coupon_getted_no
        from np_coupon n
        where 1=1 and n.del_flag = '0'
        <if test="businessId != null and businessId!=''" >
            and n.business_id  =  #{businessId}
        </if>
        <if test="businessId == null" >
            and n.business_id  is null
        </if>
        order by n.create_time desc
    </select>

    <!-- 查询指定店铺下面的促销信息 -->
    <select id="selectMarketingByBusinessId" resultMap="BaseResultMarketingMap" parameterType="java.util.Map">
        select mgroup.preferential_name, m.marketing_id, m.marketing_name, m.marketing_des, m.marketing_type, m.marketing_begin,
        m.marketing_end,m.is_repeat,
        m.create_time, m.mod_time, m.flag,m.is_all,codex.codex_name,codex.codex_id,codex.codex_type
        from np_marketing m ,np_marketing_codex mc,np_codex codex,np_marketing_group mgroup
        where m.marketing_id = mc.marketing_id and mc.codex_id = codex.codex_id  and mc.flag='0'
        and codex.codex_status=mgroup.group_id
        <if test="marketingType != null ">
            and m.marketing_type = #{marketingType}
            <if test="marketingType==0">
                and codex.codex_id !=10 and codex.codex_id !=11
            </if>
        </if>
        <if test="businessId !=null and businessId!=''">
            and m.business_id = #{businessId}
        </if>
        <if test="businessId == null" >
            and m.business_id  is null
        </if>
        order by m.mod_time desc
    </select>


    <!--根据优惠券ID获取 直降信息-->
    <select id="selectStraightDown" resultMap="BaseResultMapDown" parameterType="java.lang.Long" >
        select <include refid="down_Column_List"/>
        from np_coupon_straight_down
        where 1=1
            and coupon_id = #{couponId}
        and del_flag = '0'
    </select>


    <!--根据优惠券ID获取 满减信息-->
    <select id="selectFullReduction" resultMap="BaseResultMapFull" parameterType="java.lang.Long" >
        select <include refid="full_Column_List"/>
        from np_coupon_full_reduction
        where 1=1
            and coupon_id = #{couponId}
        and del_flag = '0'
    </select>

    <!--查询指定店铺下面的最近上架的货品-->
    <select id="setStoreNewProcudtList" resultMap="BaseResultMapProduct" parameterType="java.util.Map" >

        SELECT
            <include refid="Product_Column_List"/>
        FROM
        np_goods_info
        WHERE
        1 = 1
        AND is_third = '1'
        AND third_id = #{storeId}
        AND goods_info_delflag = '0'
        AND goods_info_added = '1'
        /*AND show_mobile = '1'*/
        /*查询该店最近10天上架的商品信息*/
        <![CDATA[
        AND DATE_SUB(CURDATE(), INTERVAL 9 DAY) <= date(goods_info_added_time)
        ]]>

    </select>

    <!--查询指定店铺下面的最近上架的货品数量-->
    <select id="selectStoreNewUpProductCount" resultType="java.lang.Long" parameterType="java.util.Map" >

        <![CDATA[
        SELECT
        COUNT(1)
        FROM
        np_goods_info
        WHERE
        1 = 1
        AND is_third = '1'
        AND third_id = #{storeId}
        AND goods_info_delflag = '0'
        AND goods_info_added = '1'
        /*AND show_mobile = '1'*/
        /*查询该店最近10天上架的商品信息*/
        AND DATE_SUB(CURDATE(), INTERVAL 9 DAY) <= date(goods_info_added_time)
        ]]>

    </select>


    <!--查询有效数据的总条数  分页-->
    <select id="selectStoreNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        COUNT(1)
        FROM
        np_third_store_info
        WHERE
        check_status = '1' AND del_flag = '0'
        AND store_id IN (SELECT
        store_id
        FROM
        np_mob_home_page
        WHERE
        <![CDATA[
           store_id <> ''
          ]]>
        )
        AND store_street_is_show = '0'
        AND is_submit = '1'
        AND store_id IN (SELECT DISTINCT
        (third_id)
        FROM
        np_third_grantcat
        WHERE
        cate_id IN (SELECT DISTINCT
        (cat_id)
        FROM
        np_goods_category
        WHERE
        cat_parent_id IN (SELECT DISTINCT
        (cat_id)
        FROM
        np_goods_category
        WHERE
        cat_parent_id IN (SELECT
        (cat_id)
        FROM
        np_goods_category
        WHERE
        cat_parent_id = '0' AND cat_grade = '1'))))



    </select>


    <!--查询查询指定店铺下面的店铺街广告-->
    <select id="selectStoreStreetListImage" resultMap="BaseResultThirdImage" parameterType="java.util.Map" >
        SELECT
        <include refid="StoreStreet_Column_List"/>
        FROM
        third_store_street_image
        WHERE
        delfage = '0'
        AND third_store_id = #{storeId}
        AND status_image = '0'
        ORDER BY store ASC
    </select>
    <!--判断该商家是否被关注过-->
    <select id="IsCollection" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
            COUNT(1)
        FROM
            np_collection_seller
        WHERE 1=1
            <if test="storeId != null" >
                AND collection_third_id =  #{storeId}
            </if>
            <if test="customerId != null" >
                AND collection_customer_id =  #{customerId}
            </if>
                AND collection_del_flag = '0'
    </select>


    <!--删除关注记录-->
    <select id="deleteController" resultType="java.lang.Integer" parameterType="java.util.Map">
        DELETE
        FROM
        np_collection_seller
        WHERE
        <if test="storeId != null" >
             collection_third_id =  #{storeId}
        </if>
        <if test="customerId != null" >
            AND collection_customer_id =  #{customerId}
        </if>
    </select>



    <!-- -收藏商家-->
    <insert id="addCollectionSeller" parameterType="com.ningpai.m.store.bean.CollectionSeller" >
        insert into np_collection_seller
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                collection_third_id,
            </if>
            <if test="customerId != null" >
                collection_customer_id,
            </if>
            <if test="del != null" >
                collection_del_flag,
            </if>
            <if test="newdate != null" >
                collection_create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                #{storeId,jdbcType=BIGINT},
            </if>
            <if test="customerId != null" >
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="del != null" >
                #{del,jdbcType=CHAR},
            </if>
            <if test="newdate != null" >
                #{newdate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>