@charset "utf-8";

body {color:#666;}
a {color:#666;}
.hide {display:block; text-indent:-9999px; overflow:hidden;}

/* color */
a:hover {text-decoration:none; color:#eb6122;}
.search_text, .sort_cont, .ex_search, .side_tools .hover, .side_tools .hover span, .side_tools .cur, .side_tools .cur span, .backtotop:hover {border-color:#eb6122!important;}
.nav, .sort_line, .slides_wp .slidesjs-pagination li .active, .f_slides .slidesjs-pagination li .active, .s_slides .slidesjs-pagination li .active, .side_tools .cur, .backtotop:hover {background:#eb6122;}
.sort_list .cur a, .sort_list li a:hover {background:#cc3902;}
.sub_category dl dt a, .flr_title h2 span, .flr_tabs .cur a, .cart_empty a:hover, .sort_cont dl dd a:hover, .rec_name a:hover, .flr_menu li a:hover, .good_name a:hover, .good_price, .side_tools .hover em {color:#eb6122;}

.top {height:30px; min-width:1200px; width:100%; line-height:30px; background:url(../images/top_bg.gif) repeat-x; *position:relative; *z-index:21;}
.top_wp, .container {width:1200px; margin:0 auto;}
.collect_me {background:url(../images/collect_star.gif) no-repeat left center; padding-left:20px;}
.to_reg {color:#ff6600;}
.top_nav li {float:left;}
.top_nav li a {margin:0 5px;}
.m_store {position:relative;}
.m_store b {display:inline-block; zoom:1; *display:inline; background:url(../images/top_arrow.gif) no-repeat; width:9px; height:5px; margin-left:5px; vertical-align:middle; transition:transform .2s ease-in 0s; -webkit-transition:-webkit-transform .2s ease-in 0s;}
.ms_cont {background:#fff; left:0; top:31px; border:1px solid #e0e0e0; border-top:none; min-width:98px; left:5px; padding-bottom:5px; display:none; z-index:22;}
.ms_cont a {background:none; display:block; line-height:25px; padding-left:3px;}
.top_nav .hover .outline {display:inline-block; zoom:1; *display:inline; background:#fff; height:27px; width:98px; position:absolute; left:5px; top:3px;
border:1px solid #e0e0e0; border-bottom:none;}
.top_nav .hover .ms_cont {display:block;}
.top_nav .hover .m_store b {transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.header {padding:10px 0; *position:relative; *z-index:20;}
.logo {width:410px; height:80px;}
.search_text {width:397px; height:30px; line-height:30px\9; padding:0 5px; border-width:3px; border-style:solid; border-right:none;}
.search_btn {background:url(../images/search_btn.gif) no-repeat; width:80px; height:36px; border:none; cursor:pointer;}
.hot_word a {margin-right:10px;}
.ex_search {background:#fff; border-width:2px; border-style:solid; border-top:none; top:36px; width:407px; z-index:12; box-shadow:0 4px 8px rgba(140,140,140,.5); display:none;}
.ex_search ul {border-bottom:1px solid #ddd;}
.ex_search li {position:relative;}
.ex_search li a {display:block; height:25px; line-height:25px; padding:0 10px; color:#666;}
.ex_search li:hover {background:#f2f2f2;}
.ex_search li a span {color:#ccc; float:right;}
.ex_search li .del_history {position:absolute; top:0; right:0; color:#369; display:none;}
.ex_search p {height:25px; line-height:25px; padding:0 10px;}
.shopping_cart dt {z-index:21;}
.shopping_cart dt a {display:block; background:url(../images/shopping_cart_bg.gif) no-repeat; width:130px; height:35px; line-height:33px; text-indent:41px;}
.sc_num {position:absolute; height:17px; background:url(../images/sc_num.gif) no-repeat left 1px; padding-left:5px; line-height:17px; color:#fff; top:-8px; left:15px;}
.sc_num em {float:left; background:url(../images/sc_num.gif) no-repeat right bottom; height:17px; padding-right:5px;}
.shopping_cart .hover dt a {background:url(../images/shopping_cart_hover.gif) no-repeat;}
.shopping_cart dd {position:absolute; width:288px; border:1px solid #ddd; padding:5px; background:#eee; box-shadow:-1px 1px 4px rgba(156,156,156,.5); top:34px; right:0; z-index:20; display:none;}
.shopping_cart .hover dd {display:block;}
.cart_empty {background:#fff; padding:20px;}
.cart_empty p {background:url(../images/cart_icon.gif) no-repeat left center; padding-left:40px; line-height:150%; margin-left:8px; color:#000;}
.cart_empty a {color:#2277c8;}
.cart_list li {background:#fff; padding:5px 10px; margin-top:1px; position:relative;}
.ct_check {margin-top:22px;}
.ct_img {border:1px solid #eee;}
.ct_name {margin-bottom:8px; width:170px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ct_price {color:#dc0002; font-weight:700;}
.ct_price b, .settle_accounts b {font-weight:500; font-family:arial,tahoma; margin-right:5px;}
.cart_cout {bottom:16px; right:10px; display:none;}
.minus, .plus {width:16px; height:16px; border:1px solid #ddd; background:url(../images/cart_icons.gif) no-repeat;}
.minus {background-position:left -15px;}
.plus {background-position:left -32px;}
.min_text {border:1px solid #ddd; border-left:none; border-right:none; width:30px; height:16px; line-height:16px; text-align:center;}
.minus.disable {background-position:right -15px;}
.plus.disable {background-position:right -32px;}
.cout_text {width:66px; height:18px; line-height:18px; text-align:center; bottom:16px; right:10px;}
.cart_del {top:7px; right:7px; background:url(../images/cart_icons.gif) no-repeat left top; width:12px; height:12px; display:none;}
.cart_del:hover {background-position:-16px top;}
.cart_list li:hover .cout_text {display:none;}
.cart_list li:hover .cart_cout {display:block;}
.cart_list li:hover .cart_del {display:block;}
.settle_accounts em {font-size:14px; font-weight:700; color:#df242a; margin-left:5px;}
.settle_accounts b {font-weight:700;}
.settle_btn {display:inline-block; zoom:1; *display:inline; background:url(../images/settle_accounts_btn.gif) no-repeat; width:100px; height:30px; text-align:center; line-height:30px; color:#fff; font-weight:700;}
.settle_btn:hover {color:#fff;}
.nav {*position:relative; *z-index:19;}
.pro_sort {width:200px;}
.pro_sort h2 {line-height:38px; position:relative;}
.pro_sort h2 a {display:block; font-family:Microsoft YaHei; font-size:16px; color:#fff; padding-left:10px;}
.pro_sort h2 b {position:absolute; background:url(../images/all_sort_icon.png) no-repeat; width:12px; height:10px; top:14px; right:10px;}
.sort_list li {float:left;}
.sort_list li a {display:block; line-height:38px; font-family:Microsoft YaHei; font-size:14px; color:#fff; padding:0 25px;}
.sort_cont {width:196px; border-width:2px; border-style:solid; border-top:none; top:38px; left:0; background:#f9f9f9; *z-index:19;}
.sort_cont dl {border-bottom:1px solid #fff; position:relative; *width:196px;}
.sort_cont dl dt {height:38px; line-height:36px; background:url(../images/sort_arrow.gif) no-repeat 182px center;}
.sort_cont dl dt img {margin:0 5px 0 10px;}
.sort_cont dl dt a {display:inline-block; zoom:1; *display:inline; margin:0 5px 0 0; font-size:14px; vertical-align:middle;}
.sort_cont dl dd {margin-left:10px; padding-bottom:8px; overflow:hidden; display:none;}
.sort_cont dl dd a {float:left; margin-right:5px; color:#999;}
.sort_cont .hover .sort_line {position:absolute; width:1px; height:100%; top:0; left:0; margin-left:0; padding-bottom:0;}
.sort_cont .hover {background:#fff; box-shadow:0 0 8px rgba(140,140,140,.5); width:198px; z-index:19; *width:200px;}
.sort_cont .hover dt {background:none;}
.sort_cont .hover dd {display:block;}
.sort_cont .hover:after {content:" "; width:8px; height:100%; position:absolute; top:0; right:-8px; background:#fff;}
.sort_open {background:#fff; width:738px; min-height:490px; border:1px solid #eee; border-top:none; box-shadow:0 4px 8px rgba(140,140,140,.5); top:38px; left:200px; z-index:18; overflow:hidden; display:none;}
.ct_item {display:none;}
.sub_category {width:480px; min-height:481px; padding:5px 25px 5px 15px; background:url(../images/shadow_bg.png) repeat-y right top;}
.category_box {float:left; width:240px;}
.sub_category dl {padding:15px 0 15px 5px;}
.sub_category dl:hover {background:#fafafa;}
.sub_category dl dt {padding-left:10px;}
.sub_category dl dt a {font-size:14px; font-family:Microsoft YaHei; font-weight:700; background:url(../images/org_arrow.gif) no-repeat right center; padding-right:13px;}
.sub_category dl dd {margin-top:2px; width:235px; overflow:hidden;}
.sub_category dl dd a {float:left; padding:0 10px; line-height:20px; background:url(../images/dot_line.gif) no-repeat left center; margin-left:-1px; *white-space:nowrap;}
.sub_brands {width:218px; height:481px; padding:5px 0;}
.sub_brands dl {padding:0 15px;}
.sub_brands dl dt {font-family:Microsoft YaHei; font-weight:700; padding:5px 0;}
.sub_brands dl dd {overflow:hidden; border-right:1px solid #efefef; border-bottom:1px solid #efefef; width:178px;}
.sub_brands dl dd a {float:left; width:88px; height:38px; border-left:1px solid #efefef; border-top:1px solid #efefef; overflow:hidden;}
.sub_brands dl dd a img {margin:4px 0;}
.close_category {width:10px; height:10px; background:url(../images/close_category.gif) no-repeat; top:10px; right:10px;}
.slides_wp {margin-left:200px;}
#slides {width:770px; height:330px; position:relative; overflow:hidden;}
.slides_wp .slidesjs-pagination {position:absolute; right:30px; bottom:20px; z-index:10;}
.slides_wp .slidesjs-pagination li {float:left; margin-left:10px;}
.slides_wp .slidesjs-pagination li a {display:block; width:12px; height:12px; text-indent:-9999px; overflow:hidden; background:#eee;}
.jscroll {width:770px; height:139px; border-bottom:1px solid #ddd; *overflow:hidden;}
.jscroll_wp {width:755px; margin:0 auto; overflow:hidden;}
.jscroll_box {margin-left:-1px;}
.jscroll_list li {border-left:1px solid #ddd; width:188px; height:140px;}
.j_prev, .j_next {position:absolute; width:20px; height:40px; top:50px; background:url(../images/scroll_btns.png) no-repeat; z-index:9; display:none;}
.j_prev {background-position:left top; left:5px;}
.j_next {background-position:right top; right:5px;}
.j_prev:hover {background-position:left bottom;}
.j_next:hover {background-position:right bottom;}
.fst_rig {width:230px;}
.r_pic {height:129px; overflow:hidden; border:1px solid #ddd; border-bottom:none;}
.r_notice {height:159px; border:1px solid #ddd; border-bottom:none;}
.notice_tit {height:28px; line-height:28px; background:#f9f9f9; border-bottom:1px solid #ddd; padding:0 10px;}
.notice_tit h3 {font-family:Microsoft YaHei; font-size:14px; color:#333;}
.notice_cont {padding:5px 10px;}
.notice_list li {line-height:23px; width:200px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.r_recharge {height:180px;}
.recharge_tabs {border-top:1px solid #ddd; border-right:1px solid #ddd;}
.recharge_tabs li {float:left; border-left:1px solid #ddd;}
.recharge_tabs li a {display:block; height:28px; line-height:28px; width:75px; text-align:center; background:#f9f9f9; border-bottom:1px solid #ddd; font-size:14px; font-family:Microsoft YaHei;}
.recharge_tabs li:nth-child(2) a {width:76px;}
.recharge_tabs .cur a {background:#fff; border-bottom-color:#fff; color:#333;}
.recharge_cont {border:1px solid #ddd; border-top:none; height:149px;}
.recharge_box {padding:20px 0 0 10px; display:none;}
.charge_dl dt {float:left; width:60px; text-align:right; line-height:22px;}
.charge_dl dd {margin:0 0 13px 50px;}
.charge_text {width:108px; height:20px; line-height:20px\9; padding:0 5px; border:1px solid #ddd; border-top-color:#aaa; border-left-color:#aaa;}
.charge_sel {padding:2px;}
.charge_info {color:#cc3300; font-weight:700;}
.charge_btn {width:70px; height:21px; background:url(../images/charge_btn.gif) no-repeat; border:none; cursor:pointer; color:#fff;}
.hot_recommend h2 {font-family:Microsoft YaHei; font-size:20px; color:#323232;}
.recommend_list {border-right:1px solid #ddd; width:1200px;}
.recommend_list li {float:left; border:1px solid #ddd; border-right:none; width:239px; height:238px; text-align:center;}
.rec_wp {border:5px solid #fff; height:218px; padding:5px;}
.recommend_list li:hover .rec_wp {border-color:#eee;}
.rec_name a {font-family:Microsoft YaHei; font-size:14px; color:#333;}
.floor_wp {margin-bottom:10px;}
.flr_title {border-bottom:2px solid #999; height:38px; line-height:38px;}
.flr_title h2 {font-family:Microsoft YaHei; font-size:20px; color:#323232; width:200px;}
.flr_title h2 span {font-family:arial,tahoma; margin-right:10px;}
.flr_tabs li {float:left;}
.flr_tabs li a {display:block; width:200px; text-align:center; font-family:Microsoft YaHei; font-size:14px; color:#5c5c5c;}
.tabs_arrow {width:200px; height:7px; background:url(../images/tabs_arrow.gif) no-repeat; bottom:-2px;}
.rec_show {width:1209px;}
.rec_show a {float:left; margin-right:9px;}
.flr_left {width:200px; height:500px;}
.flr_img {height:260px;}
.flr_img a {position:absolute; right:0; bottom:0;}
.flr_img img, .flr_promotion img {display:block;}
.flr_menu {height:129px; background:#eee; border:1px solid #ddd; border-bottom:none; padding:10px 0 0 20px; overflow:hidden;}
.flr_menu li {float:left; width:80px; line-height:24px;}
.flr_menu li a {color:#333;}
.flr_promotion {height:98px; border:1px solid #ddd; overflow:hidden;}
.flr_cont {width:1000px;}
.flr_box {display:none;}
.f_slides {width:599px; height:299px; position:relative; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.f_slides .slidesjs-pagination, .s_slides .slidesjs-pagination {position:absolute; bottom:18px; width:100%; text-align:center; z-index:10;}
.f_slides .slidesjs-pagination li, .s_slides .slidesjs-pagination li {display:inline-block; zoom:1; *display:inline; margin:0 5px;}
.f_slides .slidesjs-pagination li a, .s_slides .slidesjs-pagination li a {display:inline-block; zoom:1; *display:inline; width:12px; height:12px; text-indent:-9999px; overflow:hidden; background:#eee;}
.f_item li {float:left; border-right:1px solid #ddd; border-bottom:1px solid #ddd; overflow:hidden;}
.flr_line_01 .f_item li {width:199px; height:299px;}
.flr_line_02 .f_item li {width:199px; height:199px;}
.f_item li a:hover img {opacity:0.8; filter:alpha(opacity=80);}
.goods_list li {float:left; width:169px; height:229px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px 15px;}
.goods_list li:hover {box-shadow:0 0 5px rgba(140,140,140,.5);}
.good_name {line-height:150%; height:36px;}
.good_name a {color:#333;}
.good_price {font-family:Microsoft YaHei; font-size:14px;}
.s_slides {width:399px; height:249px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}
.brands_list {width:600px;}
.brands_list li {float:left; width:199px; height:61px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.brands_list li a {display:block; text-align:center; padding:10px 0;}
.flr_banner {margin-bottom:10px;}
.club_box {width:595px;}
.club_box h2 {font-family:Microsoft YaHei; font-size:20px; color:#333;}
.club_cont {border:1px solid #ddd; border-top-width:2px; padding:20px 0px 0 20px; height:332px; overflow:hidden;}
.club_list li {float:left; overflow:hidden; margin:0 19px 20px 0;}
.p_img img {border:1px solid #dfdfdf;}
.p_info {width:170px;}
.p_name {color:#a1051c; width:170px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.p_name a {color:#a1051c;}
.p_info p {color:#999; line-height:150%; margin-top:5px;}
.wp {width:1200px; margin:0 auto;}
.service {border-top:1px solid #dbdbdb; border-bottom:1px solid #f0f0f0; padding:10px 20px;}
.svc_box {padding-left:40px; width:150px; margin-top:5px;}
.svc_box dt {font-size:14px; font-weight:700; font-family:Microsoft YaHei;}
.svc_box dd {margin-top:5px;}
.svc_box dd div {line-height:20px;}
.svc_01 {background:url(../images/svc_01.gif) no-repeat left top;}
.svc_02 {background:url(../images/svc_02.gif) no-repeat left top;}
.svc_03 {background:url(../images/svc_03.gif) no-repeat left top;}
.svc_04 {background:url(../images/svc_04.gif) no-repeat left top;}
.svc_05 {background:url(../images/svc_05.gif) no-repeat left top;}
.service_intro {width:205px; height:150px; background:url(../images/map_img.gif) no-repeat; padding-top:5px;}
.service_intro h3 {font-size:14px; font-weight:700; font-family:Microsoft YaHei;}
.service_intro p {line-height:20px; margin-top:5px;}
.service_intro .view_more {color:#005ea7;}
.footer {padding-bottom:30px;}
.ft_links li {display:inline-block; zoom:1; *display:inline; margin:0 5px;}
.auth_wp a {margin:0 5px;}
.side_tools {width:40px; background:#fff; position:fixed; right:20px; display:none;}
.side_tools li {float:left; width:38px; border-style:solid; border-width:0 1px; border-color:#ddd; text-align:center; cursor:pointer;}
.side_tools li span {display:block; height:30px; border-top:1px solid #fff; border-bottom:1px solid #eee;}
.side_tools .first_tool span {border-top:1px solid #ddd;}
.side_tools .last_tool span {border-bottom-color:#ddd;}
.side_tools li em {display:none; padding:0 5px; line-height:14px; padding:2px 5px\0; *padding:2px 5px;}
.side_tools li img {padding:5px 0;}
.side_tools .hover em {display:block;}
.side_tools .hover img {display:none;}
.side_tools .cur em {display:block; color:#fff;}
.side_tools .cur img {display:none;}
.backtotop {margin-top:5px; border:1px solid #ddd; cursor:pointer;}
.backtotop {display:block; width:38px; height:33px; text-align:center;}
.backtotop em {display:none;}
.backtotop b {display:block; width:38px; height:33px; background:url(../images/backtotop.gif) no-repeat;}
.backtotop:hover b {display:none;}
.backtotop:hover em {display:block; padding:0 5px; margin-top:2px; line-height:14px; color:#fff!important;}