body {
  font-family: "Helvetica Neue", "Helvetica", "tahoma", "arial", "\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53";
  font-size: 12px;
  color: #666;
}
a:hover{color: #df1738;}
.col6{ color: #666;}
/*品牌专区*/
.brandMenu{width: 224px;background: #fff; height: 500px; overflow: hidden;}
.brandMenu .title{ color: #333; font-size: 14px; line-height: 34px; border-bottom: 1px solid #dddddd; text-indent: 10px;}
.brandMenu .title span{color: #f0375e;}
.brandMenu-list dl dt{ background: url(../images/fen_arrow.jpg) no-repeat left center; font-size: 14px; line-height: 25px; font-weight: bold;}
.brandMenu-list dl dt a{color: #000;  padding-left: 20px;}
.brandMenu-list dl dd a{ font-size: 12px; color: #333; line-height: 22px; padding: 0px 5px; word-break: break-word; white-space: nowrap;}
.brandAd{width: 976px; overflow:hidden;}
.b-slide{
    position: relative;
    width: 976px;
    height: 500px;
    overflow: hidden;
}
.b-slide .slidesjs-pagination {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 98;
}
.b-slide .slidesjs-pagination li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.b-slide .slidesjs-pagination li a{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: #666;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -9999px;
}
.b-slide .slidesjs-pagination li a.active{
    background: #f0375e;
}
.brandList .title{
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.brandList-con{
    background: #fff;
    padding: 0px 25px;
    padding-bottom: 20px;
}
.brandList-con ul{
    width:1200px;

}
.brandList-con ul li{
    width: 126px;
    height: 88px;
    border: 1px solid #eeeeee;
    margin-top: 20px;
    margin-right: 18px;
    float: left;
}
.brandList-con ul li:hover{
    border: 1px solid #f0375e;
}
.brandImg{
    width: 1220px;
    margin-top: 20px;
}
.brandImg a{
    display: block;
    margin-right: 20px;
    width: 285px;
    height: 180px;
    float: left;
}
.brandImg a:hover img{
    opacity: 0.8;
}
.brandImg a img{
    width: 285px;
    height: 180px;
}

.new_operation_bar {
    height: 96px;
    background: #fff;
    border:1px solid #eee;
}

.operation_wp {
    padding: 0 0px 0 15px;
    border-bottom: 1px solid #eee;
}

.sorting_box {
    line-height: 49px;
}

.sorting_box em, .sorting_box a {
    float: left;
}

.sorting_box a {
    height: 24px;
    line-height: 24px;
    border: 1px solid #eee;
    padding: 0 3px;
    background: #fff;
    margin: 12px 5px 0 0;
}

.sorting_box .checked {
    color: #fff;
    background: #df1738;
    border: #df1738;
}

.sorting_box a span {
    padding: 0 10px;
}

.sorting_box .checked.s_up span {
    background: url(../images/sort_up.gif) no-repeat right center;
    padding: 0 13px 0 7px;
}

.sorting_box .checked.s_down span {
    background: url(../images/sort_down.gif) no-repeat right center;
    padding: 0 13px 0 7px;
}

.op_pages {
    height: 26px;
    line-height: 26px;
    border-left: 1px solid #fff;
    margin-top: 12px;
    padding-left: 15px;
}

.op_pages a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 24px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.op_pages b{
    color: #df1738;
}
.op_prev {
    background: url(../images/op_prev.gif) no-repeat 4px center;
    padding: 0 8px 0 14px;
}

.op_next {
    background: url(../images/op_next.gif) no-repeat 49px center;
    padding: 0 14px 0 8px;
}

.no_pages {
    color: #ccc !important;
    cursor: default;
}

.op_prev.no_pages {
    background-image: url(../images/no_prev.gif);
}

.op_next.no_pages {
    background-image: url(../images/no_next.gif);
}

.goods_num {
    height: 26px;
    line-height: 26px;
    margin-top: 12px;
    border-right: 1px solid #e7e3e7;
    padding-right: 15px;
    color: #df1738;
}

.goodsTip {
    padding-top: 12px;
    padding-left:15px;
}

.m_check {
    background: url(../images/no_check.gif) no-repeat left center;
    *padding-left: 15px;
}

.m_check.checked {
    background: url(../images/checked_img.gif) no-repeat left center;
}

.m_check input {
    opacity: 0;
    filter: alpha(opacity=0);
    *position: absolute;
}
.brandGoods{
    width: 1220px;
}
.brandItem{
    width: 283px;
    height:450px;
    border:1px solid #e3e3e3;
    background: #fff;
    box-shadow: 0px 0 3px 3px #eee;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.brandItem:hover{
    border-color:#f0375e;
}
.brandItem .b-img{
    width: 283px;
    height:283px;
}
.brandItem .b-img img{
    width: 283px;
    height:283px;
}
.brandItem .b-price{
    color: #db5858;
    font-size: 24px;
}
.brandItem .b-price span{
    font-size: 14px;
    font-family: "Verdana";
}
.brandItem .b-name a{
    display: block;
    height: 44px;
    overflow: hidden;
    line-height: 22px;
    font-size: 12px;
}
.brandItem .b-name a:hover{
    color: #f0375e;
}
.brandItem .b-star{
    line-height: 30px;
}
.brandItem .b-star .blue{
    color: #0066cc;
    margin-left: 10px;
}
.put {
    float: left;
    margin-left: 5px;
}

.put .commstar {
    position: relative;
    width: 75px;
    height: 15px;
    margin-top: 8px;
    background: url(../images/star-red.png) 0 0 repeat-x;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    zoom: 1;
}

.put .commstar a {
    position: absolute;
    float: left;
    height: 15px;
}

.put .commstar .selected {
    background: url(../images/star-red.png) 0 -17px repeat-x;
}
.put .commstar .star1 {
    width: 15px;
    z-index: 9;
}

.put .commstar .star2 {
    width: 30px;
    z-index: 8;
}

.put .commstar .star3 {
    width: 45px;
    z-index: 7;
}

.put .commstar .star4 {
    width: 60px;
    z-index: 6;
}

.put .commstar .star5 {
    width: 75px;
    z-index: 5;
}
.nw-btn{
    height: 30px;
    border: 1px solid #eeeeee;
    line-height: 30px;

}
.nw-btn a{
    display: inline-block;
    border-left: 1px solid #eee;
    padding: 0 5px;
    text-align: right;
    margin-left: -1px;
    font-size: 14px;
}
.nw-btn .n_check{
    background: url(../images/no-check.jpg) no-repeat left center;
    padding-left: 26px;
    *padding-left:20px;
}
.nw-btn .n_check.checked{
    background: url(../images/checked.jpg) no-repeat left center;
}
.nw-btn .attentionG i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/g-love.png) no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.nw-btn .attentionG.liked i{
    background: url(../images/r-love.png) no-repeat;
}
.nw-btn .Joincart i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/cart.png) no-repeat;
    margin-right: 5px;
    vertical-align: middle;
}
.nw-btn .Joincart{color: #f0375e;}
.pages a{background: #fff;}
.pages .pg_prev {background:url(../images/op_prev.gif) no-repeat 5px center #fff; padding-left:15px;}
.pages .pg_next {background:url(../images/op_next.gif) no-repeat 57px center #fff; padding-right:15px;}
.pages .cur {border:none; cursor:default; background: none; color:#f0375e;}
.goods_contrast{border-color:#f0375e;}


/* 列表页 */
.page_locate em {font-family:Microsoft YaHei; font-size:14px; font-weight:700;}
.left_wp {width:200px;}
.sortList {border:1px solid #ccc; margin-bottom:10px;}
.sortItem {border-bottom:1px solid #eee; background:#f7f7f7;}
.sortItem h3 {height:29px; line-height:29px; padding-left:10px; font-family:Microsoft YaHei; font-size:14px; cursor:pointer;}
.sortItem h3 b {float:left; width:16px; height:16px; background:url(../images/sort_ops.gif) no-repeat left top; margin:7px 8px 0 0;}
.sortItem ul {padding:5px 19px; display:none;}
.sortItem ul li {float:left; width:80px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:25px;}
.sortList .current {background:url(../images/gradient_bg.gif) repeat-x;}
.sortList .current h3 b {background-position:right top;}
.sortList .current ul {display:block;}
.left_box {border:1px solid #eee; margin-bottom:10px; background: #fff;}
.left_box h3 {font-family:Microsoft YaHei; font-size:14px; line-height:38px; border-bottom: 1px solid #eee; color: #666;text-indent: 10px;}
.show_list,.ranking_list {padding: 0px 8px;}
.show_list li{border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:10px; overflow:hidden; text-align: center;}
.left_box li:last-child {margin-bottom:0;}
.browse_img a {display:inline-block;*display:inline; *zoom:1;}
.browse_name {line-height:150%; text-align: left;}
.browse_name span {font-weight:700;}
.browse_price {font-family:Microsoft YaHei; font-size:14px; font-weight:700; color: #df1738;}
.charts-list{border-bottom:1px solid #eee;padding:0px 8px; }
.charts-list li{cursor: pointer;width: 48px;height:23px;background: #fafafa; color: #666666; line-height: 23px; text-align: center;border:1px solid #eeeeee; border-bottom:none;float:left; margin: 0px 5px;}
.charts-list li.current{background: #fff; color:#df1738; font-weight:bold; height: 24px; margin-bottom: -1px; border-bottom: none;}
.ranking_list li {border-bottom:1px solid #eee;padding: 6px 0px; margin-bottom:10px; overflow:hidden; text-align:left;}
.ranking_list em{display: inline-block; color: #999999;background: #dddddd; border-radius: 50%;*display:inline;*zoom:1; float:left; padding: 1px 4px;}
.ranking_list em.pre-top{background: #df1738; color: #fff;}
.ranking_img img, .sellers_img img {display: block;}
.ranking_info {width:96px; line-height:150%;}
.right_wp {width:990px;}
.best_sellers {background:#f2f2f2; padding:20px;}
.sellers_list{width:1220px;}
.sellers_list li {float:left; overflow:hidden; margin-right:20px; width:240px;padding:10px 18px; background:#fff;}
.sellers_info {width:140px;}
.sellers_name {line-height:150%; height:36px; margin-top: 10px; overflow: hidden;}
.sellers_price {color:#999; margin:3px 0 5px;}
.sellers_price em {font-family:"Verdana"; font-size:14px; color: #df1738;}
.sellers_btn {display:inline-block; zoom:1; *display:inline; background:#df1738;border-radius: 3px;width:72px; height:24px; line-height:24px; text-align:center; color:#fff!important;}
.pro_filter {border:1px solid #eee; overflow:hidden;padding: 0px 10px;}
#selected_filter li a em{color:#df1738;}
.filterBox {margin-top:-1px;}
.filterBox dl {border-top:1px solid #eee;}
.filterBox dt {float:left; width:95px; line-height:40px; padding-right:25px; text-align:right;}
.filterBox dd {float:left; width:1042px; padding:9px 0px 9px 15px; background:#fff; vertical-align:middle;}
.filterList {float:left; width:900px; height:22px; overflow:hidden;}
.filterBox li {float:left; margin-right:30px; line-height:22px;}
.filterBox li a:hover{ text-decoration: underline; color: #df1738;}
.filter_wp {display:none;}
.filter_wp dd {padding-bottom:4px; *padding-bottom:9px;}
.filter_wp .filterList {height:auto;}
.filter_wp li {margin:0 10px 5px 0;}
.filter_wp li a {display:inline-block; zoom:1; *display:inline; height:20px; line-height:20px; border:1px solid #e6e6e6; padding:0 6px; color:#333;}
.filter_wp li a:hover {border-color:#bbb;}
.filter_wp li a em {font-weight:700;}
.filter_wp li a b {display:inline-block; zoom:1; *display:inline; background:url(../images/close_filter.gif) no-repeat right center; width:7px; height:7px; margin-left:8px;}
.cancel_filter, .filter_op {color:#005aa0; float:right; line-height:22px; white-space:nowrap;}
.cancel_filter {margin-bottom:5px; *margin-bottom:0;}
.filter_op b, .filter_handle a b {display:inline-block; zoom:1; *display:inline; width:9px; height:6px; margin-left:5px;}
.filter_handle .show_less {display:none;}
.f_more b, .show_more b {background:url(../images/filter_down.gif) no-repeat center center;}
.f_less b, .show_less b {background:url(../images/filter_up.gif) no-repeat center center;}
.filter_handle {margin-top:-1px;}
.filter_handle a {display:inline-block; zoom:1; *display:inline; width:80px; height:23px; line-height:23px; border:1px solid #eee; border-top-color:#fff; color:#888;}
.filter_handle a b {margin-left:8px;}
.more_filter {display:none;}

.gd_wp {padding:5px;}
.gd_wp .nw-btn a{ font-size: 12px;}
.goodsList {width:1020px; margin-left:-1px;}
.goodsList .b-price{color: #df1738;font-size: 24px;}
.goodsList .b-price span{ font-size: 16px;}
.goodsList .goodsBox {float:left; width:232px; height:400px; margin-bottom:5px; border:1px solid #fff; margin-right: 19px;}
.goodsList .goodsBox:hover {border-color:#df1738; box-shadow:0 2px 5px #ddd; position:relative;}
.g-scroll-wrap {float:left; width:155px; height:31px; overflow:hidden; *position:relative; *z-index:9;}
.g-scroll-wrap ul {position:relative; left:0;}
.g-scroll-wrap li {float:left; margin:0 1px; width:29px;}
.g-scroll-wrap li img {width:25px; height:25px; padding:1px; border:1px solid #eee;}
.g-scroll-wrap li.cur img{border-color:#df1738;}
.g-scroll-prev, .g-scroll-next {width:16px; height:29px; float:left; background:url(../images/scroll_btns.gif) no-repeat;}
.g-scroll-prev {background-position:left top; margin-right:3px;}
.g-scroll-next {background-position:-17px top; margin-left:1px;}
.g-scroll .disabled {cursor:not-allowed;}
.g-scroll .disabled.g-scroll-prev {background-position:-34px top;}
.g-scroll .disabled.g-scroll-next {background-position:-51px top;}
.g-name {line-height:150%; height:25px; font-size: 14px; overflow: hidden; color:#999;}
.no-goods{color:#999;}
.g-price {font-family:Microsoft YaHei; font-size:12px;color:#999;}
.g-price em{color: #005aa0;}
.good-operation a {display:inline-block; zoom:1; *display:inline; background:#f7f7f7; color:#333; height:18px; line-height:17px; border:1px solid #d0d0d0; padding:0 10px; border-radius:2px;}
.good-operation a label {cursor:pointer;}
.shop_name {height:25px; line-height:25px; width:100%; background:#f7f7f7; position:absolute; bottom:0; left:0; display:none;}
.shop_name a {color:#005aa0;}
.goodsList .goodsBox:hover .shop_name {display:block;}
.pages a {display:inline-block; zoom:1; *display:inline; height:26px; line-height:26px; border:1px solid #ccc; border-radius:3px; padding:0 10px; font-size:14px;}
.pages .cur {border-color:#fff; cursor:default;}
.pages .pg_prev {background:url(../images/op_prev.gif) no-repeat 5px center; padding-left:15px;}
.pages .pg_next {background:url(../images/op_next.gif) no-repeat 57px center; padding-right:15px;}
.pg_prev.no_pages {background-image:url(../images/no_prev.gif);}
.pg_next.no_pages {background-image:url(../images/no_next.gif);}
.goods_contrast {width:966px; border-width:2px; border-style:solid; background:#fff; padding:10px; position:fixed; bottom:0; z-index:10000; display:none;}
.gc_tit {border-bottom:1px dotted #ddd; padding:0 5px 5px;}
.gc_tit h3 {font-family:microsoft YaHei; font-size:14px;}
.hide_ct {color:#005aa0;}
.contrast_items dl {padding:5px 10px 5px 0; border-right-width:1px; border-right-style:dotted; margin-right:10px;}
.contrast_items dl dt {float:left;}
.contrast_items dl dd {float:left; margin-left:5px; width:140px; line-height:150%;}
.ct-item-price {font-family:microsoft YaHei;}
.del-ct-item {color:#005aa0; margin-left:10px; display:none;}
.has_item:hover .del-ct-item {display:inline;}
.empty_item dt {width:50px; height:50px; background:#f6f6f6; text-align:center; line-height:50px; color:#ccc; font-size:30px;}
.empty_item dd {color:#ccc;}
.ct_operation {width:85px; margin-left:10px; padding-top:5px;}
.contrast_btn {display:inline-block; zoom:1; *display:inline; width:54px; height:24px; line-height:24px; border-width:1px; border-style:solid; border-radius:3px; font-weight:700; color:#fff!important;}
.contrast_btn.dis_ct {background:#fff; border-color:#ddd!important; color:#ccc!important; cursor:default;}
.ct_operation .del-items a {color:#005aa0;}
/* 详情页 */
.product_wp {min-height:510px; background: #fff; padding:20px;}
.img_preview {width:352px;}
.big_img {}
.big_img a, .big_img img {display:block;}
#wrap {z-index:99!important;}
.mousetrap {z-index:9!important;}
.cloud-zoom-lens {border:1px solid #f60; margin:-1px; background-color:#fe9; cursor:move; z-index:8!important;}
.cloud-zoom-big {border:1px solid #ddd; overflow:hidden;}
.thumb_scroll_prev, .thumb_scroll_next {width:19px; height:53px; background:url(../images/thumb_btns.gif) no-repeat; position:absolute; top:1px;}
.thumb_scroll_prev {background-position:left bottom; left:0;}
.thumb_scroll_next {background-position:right bottom; right:0;}
.thumb_img .disabled {cursor:default;}
.disabled.thumb_scroll_prev {background-position:left top;}
.disabled.thumb_scroll_next {background-position:right top;}
.thumb_scroll_wp {width:295px; margin:0 auto; overflow:hidden; *width:290px; *position:relative; *z-index:9;}
.thumb_scroll_wp ul {position:relative;}
.thumb_scroll_wp li {float:left; margin:0 3.5px;}
.thumb_scroll_wp img {padding:1px;}
.thumb_scroll_wp .cur img {padding:0px; border:1px solid #df1738;}
.cloud-zoom-loading {display:none;}
.add_contrast {width:95px; height:28px; background:url(../images/balance_bg.gif) no-repeat left top; line-height:27px; text-indent:30px;}
.add_contrast.checked {background-position:left bottom; color:#fff;}
.share_wp {position:absolute; background:#fff; white-space:nowrap; left:0px; top:0; height:26px; line-height:25px; font-size: 14px;}
.bdsharebuttonbox {min-width:130px; width:130px; display:inline-block; zoom:1; *display:inline; overflow:hidden; *min-width:135px; *width:135px;}
.bdsharebuttonbox a {margin:0 3px 0 2px!important; float:none!important; display:inline-block; zoom:1; *display:inline; vertical-align:middle;}
.more_share {display:inline-block; zoom:1; *display:inline; width:28px; height:26px; vertical-align:top; background:url(../images/more_share_open.gif) no-repeat center center;}
.sh_open .bdsharebuttonbox {width:auto; overflow:visible;}
.sh_open .more_share {background:url(../images/more_share_close.gif) no-repeat center center;}
.product_info {width:560px;}
.pd_title h2 {font-family:microsoft YaHei; font-size:16px; color:#333; line-height:150%;font-weight: bold;}
.pd_title strong {font-family:microsoft YaHei; font-size:14px; font-weight:500; display:block; line-height:150%; color: #df1738;}
.pd_info, .buy_info {border-bottom:1px solid #eee; padding-bottom:15px;}
.pd-bg{background:#f5f5f5; padding: 10px 20px;}
.pd_info {*position:relative; *z-index:98;}
.pd_info dt, .buy_info dt {float:left; width:70px; line-height:25px; clear:both; font-size: 14px; text-align: right;}
.pd_info dd, .buy_info dd {float:left; margin:0 0 5px 0px; line-height:25px; color:#333; *width:450px;}
.pd_info dd a {color:#333;}
.store-goods{width:105px; font-size: 14px; margin-top: 3px;}
.store-goods.liked i{ background: url(../images/loved.png) no-repeat;}
.store-goods i{display: inline-block; vertical-align: middle; width: 20px; height: 16px; background: url(../images/s-love.png) no-repeat; padding-left:7px;}
.main_price {font-family:"Verdana";font-size:26px; color: #df1738;}
.main_price span{font-size: 18px;}
.promotion_info{ font-size: 14px; color: #df1738;}
.sales_label {display:inline-block; zoom:1; *display:inline; color:#fff; padding:3px 5px; line-height:12px; margin-right:5px; background: #ea5870;}
.star_wp {display:inline-block; zoom:1; *display:inline; width:75px; height:14px; background:url(../images/star_bg.png) no-repeat left bottom;}
.star {float:left; background:url(../images/star_bg.png) no-repeat left top; height:14px;}
.star_0_5 {width:8px;}
.star_1_0 {width:15px;}
.star_1_5 {width:23px;}
.star_2_0 {width:30px;}
.star_2_5 {width:38px;}
.star_3_0 {width:45px;}
.star_3_5 {width:53px;}
.star_4_0 {width:60px;}
.star_4_5 {width:68px;}
.star_5_0 {width:75px;}
.pd_info dd .star_wp {position:relative; top:2px;}
.area_text {height:24px; line-height:24px; border:1px solid #ddd; padding:0 6px; cursor:pointer; position:relative; z-index:10;}
.area_text b {display:inline-block; zoom:1; *display:inline; width:12px; height:6px; background:url(../images/area_arrow.gif) no-repeat; margin-left:5px;}
.choose_area_hover .area_text {border-bottom-color:#fff;}
.locate_cont {position:absolute; width:400px; border:1px solid #ddd; top:25px; left:-40px; z-index:9; padding:10px 15px; background:#fff; display:none;}
.choose_area_hover .locate_cont {display:block;}
.locate_tabs {border-bottom:2px solid #edd28b; height:25px;}
.locate_tabs li {float:left; margin-right:5px;}
.locate_tabs li a {display:block; height:23px; line-height:23px; padding:0 10px 1px 10px; border:1px solid #ddd; border-bottom:none;}
.locate_tabs a b {display:inline-block; zoom:1; *display:inline; width:7px; height:4px; background:url(../images/arrow_down.png) no-repeat; margin-left:5px;}
.locate_tabs .cur a {height:24px; line-height:21px; border:2px solid #edd28b; border-bottom:none; background:#fff;}
.locate_list {padding-top:5px; display:none;}
.locate_list li {float:left; width:80px; line-height:20px; padding:2px 0 2px 15px;}
.locate_list li a {float:left; padding:2px 5px 2px 5px;}
.locate_list li a:hover {color:#fff; background: #df1738;}
.store-prompt em {font-size:14px; font-weight:700; color:#666; margin-right:15px;}
.wx_prompt {padding-top:3px; font-size: 14px;}
.wx_prompt a {line-height:17px; margin-right:12px;}
.installment {background:url(../images/installment_bg.gif) no-repeat; width:78px; text-align:right;}
.no_freight {background:url(../images/mian.gif) no-repeat left center; padding-left:22px;}
.g_return {background:url(../images/tui.gif) no-repeat left center; padding-left:27px;}
.buy_info {border-bottom:none; padding-bottom:0;}
.buy_info dd {margin-bottom:20px;}
.by_cart{margin-left:90px;}
.choose_item {float:left; line-height:normal; position:relative;}
.choose_item.disabled {cursor:not-allowed; color:#ccc;}
.choose_item.disabled img {opacity:.5; filter:alpha(opacity=50);}
.choose_item img, .choose_item em {vertical-align:middle;}
.choose_item img {margin-right:5px;}
.choose_img .choose_item {padding:2px 8px 2px 2px; border:1px solid #ddd; margin-right:7px;}
.choose_type .choose_item {padding:3px 8px; border:1px solid #ddd; margin-right:12px; font-family:microsoft YaHei; font-size:14px;}
.choose_item.selected {border-width:2px; padding:2px 7px;border-color:#df1738;}
.choose_img .selected {padding:1px 7px 1px 1px; border-color:#df1738;}
.choose_item.selected b {position:absolute; width:11px; height:11px; background:url(../images/selected_icon.png) no-repeat; right:-1px; bottom:0;}
.num_minus, .num_plus {display:inline-block; zoom:1; *display:inline; width:40px; height:26px; background-position:left top; border:none; vertical-align:middle;}
.num_minus {background:url(../images/num_minus.gif) no-repeat;}
.num_plus {background:url(../images/num_plus.gif) no-repeat;}
.num_text {width:50px; height:25px; text-align: center;line-height:25px\9; border:1px solid #ddd; vertical-align:middle; font-family:microsoft YaHei; font-size:18px; color:#868686; margin:0 10px;}
.selected_type {*margin-top:15px;}
.add_cart {float:left; width:140px; height:40px; overflow:hidden; white-space:nowrap; background:#df1738; color: #fff;text-indent: 15px; font-size: 16px; border-radius:3px; line-height: 40px;}
.add_cart i{ width: 20px;height: 17px; background: url(../images/w-cart.png) no-repeat; display: inline-block; vertical-align: middle; *display:inline;*zoom:1; margin-right: 10px;}
.add_cart:hover {color:#fff;}
.contrast-new{ border:1px solid #dddddd; height: 38px; background: #fff; color: #666; width: 58px; line-height: 38px; text-align: center; font-size: 18px; margin-left: 20px; float:left; border-radius:3px;}
.contrast-new.con-b{background: #f8f7f7;}
.collect_pro {float:left;border-radius:3px;width:118px; height:38px; overflow:hidden; white-space:nowrap; background: #fcdde2; border:1px solid #f58b9d; color: #df1738; font-size: 18px; text-align: center; line-height: 38px;}
.collect_pro:hover {background-position:left bottom;}
.business_wp {width:210px;}
.sidepd {padding:10px 15px; border:1px solid #ddd;}
.business_name {border-bottom:none; background:#f7f7f7;}
.business_name a {font-weight:700;}
.business_score {position:relative; border-bottom:none;}
.business_score .star_wp {position:relative; top:2px;}
.score_btn {position:absolute; right:-1px; bottom:-1px; width:22px; height:20px; background:url(../images/score_btn.gif) no-repeat left bottom;}
.score_down {background-position:left top;}
.score_detail {border-bottom:none; padding:10px 0 0px 15px; color:#999; *padding-bottom:10px;}
.sd_tit .lt {width:120px;}
.sd_cont dl dt {float:left; width:120px;}
.sd_cont dl dd {float:left; margin-bottom:12px;}
.sd_cont dd b {display:inline-block; zoom:1; *display:inline; width:8px; height:7px; background:url(../images/score_arrow.gif) no-repeat; margin-right:5px; position:relative; top:-1px;}
.sd_cont .eva_up b {background-position:left bottom;}
.sd_cont .eva_down b {background-position:left top;}
.eva_down {color:#00ba97;}
.business_info {border-bottom:none;}
.business_info p {margin-bottom:10px;}
.enter_shop {display:block; width:180px; height:33px; background:url(../images/enter_shop.gif) no-repeat left top; margin:15px auto 0; text-align:center; line-height:33px; color:#fff!important; font-family:microsoft YaHei; font-size:18px;}
.enter_shop:hover {background-position:left bottom;}
.good_shops {border:1px solid #ddd;}
.good_shops .all_shops {display:block; font-weight:700; padding:10px 15px; background:#f7f7f7; color:#666;}
.gd-shops li {border-top:1px solid #ddd; position:relative;}
.gd-shops li a {color:#666; display:block; padding:10px 15px;}
.gd-shops li a:hover {background:#faf9f9;}
.gsPrice {font-family:microsoft YaHei; font-size:14px; font-weight:700;}
.gsTags i {font-style:normal; color:#999;}
.gsTags {line-height:20px;}
.shop_extra {width:112px; background:#fff; border:1px solid #ddd; top:0; left:-130px; padding:5px 10px 5px 6px; line-height:150%; display:none;}
.shop_extra em {font-weight:700;}
.shop_extra .star_wp {position:relative; top:2px;}
.shop_extra span {color:#333;}
.ex_arrow {position:absolute; width:10px; height:12px; right:-10px; top:20px; background:url(../images/ex_arrow.png) no-repeat;}
.group_box { margin-bottom:10px; background: #fff; margin-top: 20px;}
.groups_tabs {border-bottom-width:1px; border-bottom-style:solid; padding-top: 10px; border-color:#eeeeee; height:39px;}
.groups_tabs li {float:left; width: 140px; }
.groups_tabs li a {display:block; line-height:40px;font-family:microsoft YaHei; font-size:16px; text-align: center;}
.groups_tabs .cur a {background:url(../images/group_arrow.png) no-repeat center bottom; color: #df1738;}
.groups_wp {padding:15px 10px;border:1px solid #eee; border-top:none;}
.groups_cont {display:none;}
.over-len{ width: 980px;
overflow-x: scroll;
height: 188px;
}
.mobile-links{ padding-bottom: 20px;}
.mobile-links a{ display: inline; font-size: 14px; margin-left:10px; border-right: 2px solid #eee; padding-right: 10px;}
.gp_list li {float:left; width:125px; background:url(../images/plus_img.jpg) no-repeat right 50px; padding-right:53px; padding-left: 10px;margin-right:10px; position: relative;}
.epe-chose{ position: absolute; right:32px; top:5px;}
.pg_img img {padding:2px;}
.pg_name {margin-top:5px; line-height:150%; height:36px; overflow: hidden;}
.gp_list .last_item {background:none;margin-right:0;}
.gp_result {width:125px; margin:0 15px 0 0; padding-top:35px; background:url(../images/equal_img.jpg) no-repeat left 57px; padding-left:51px;}
.gp_name a {font-weight:400; font-size: 16px; color: #df1738;}
.gp_name, .gp_result p {line-height:150%;}
.gp_result p b {font-family:microsoft YaHei;}
.gp_result p span{ font-size: 14px; font-weight: bold; color: #df1738;}
.relevant{border: 1px solid #eee; background: #fff; margin-bottom: 10px;}
.relevant .title{ height: 38px; line-height: 38px; font-size: 14px; text-indent: 10px; border-bottom: 1px solid #eee;}
.relevant ul li{
    display: block;
    float:left;
    width: 85px;
    padding: 0px 5px;
    line-height: 25px;
    text-indent: 10px;
}
.buy_group {display:block; width:102px; height:30px; background:#df1738; font-family:microsoft YaHei; font-size:16px; color:#fff!important; text-align:center; line-height:30px; margin-top:5px; border-radius:3px;}
.gp_check {margin-top:5px; font-weight:700; font-family:microsoft YaHei; font-size:14px; color: #df1738;}
.tit_wp {height:41px;}
.det_title {background:#fff; height:40px; line-height:40px; border-bottom:1px solid #eeeeee;}
.det_title li {float:left;}
.det_title li a {display:block; font-family:microsoft YaHei; font-size:14px; padding:0 30px; color: #333;}
.det_title .cur a {border:2px solid #df1738; border-bottom: none; color: #df1738; font-weight: bold; height: 39px; background: #fff;}
.add-cart-btn {width:150px; height:40px; background:#df1738; color:#fff!important; font-family:microsoft YaHei; font-size:16px; line-height:40px; text-indent:20px; display:none;}
.add-cart-btn i{  width: 20px;
  height: 17px;
  background: url(../images/w-cart.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;}
.nav-mobile{width: 180px; float: right; line-height: 40px; background: url(../images/arrow-down.png) no-repeat 160px center; }
.nav-mobile.hover{background: url(../images/arrow-down.png) no-repeat 160px center #ededed; position: relative;}
.nav-mobile.hover .s-ma{display: block;}
.nav-mobile .s-ma{ border: 1px solid #eee; text-align: center; background: #fff; border-top: none; padding: 20px 25px; display: none; position: absolute; top:40px; left:0;}
.nav-mobile .s-nam{padding-left: 20px; padding-right: 10px;}
.nav-mobile .s-nam i{ display: inline-block;
    vertical-align: middle; width: 20px; height: 20px; margin-left: 5px; background: url(../images/s-erwei.png) no-repeat; margin-right: 5px;}
.detail_nav.sticky {position:fixed; width:988px; top:0; box-shadow:0 5px 5px rgba(240,240,240,.7); z-index:100;}
.detail_nav.sticky .add-cart-btn {display:inline;}
.details_box .details-more {width: 840px; float:left; background: #fff;}
.pro_introduce {border:1px solid #eee; border-top:none; padding:5px 10px;}
.pro_introduce li {float:left; width:250px; margin-right:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:5px 0;}
.intro_cont {border:1px solid #eee; border-top:none; padding:10px;}
.det_explain {border-top:1px solid #eee; margin-top:20px; padding-top:15px;}
.det_explain strong {display:block; margin-bottom:5px;}
.det_explain p {line-height:200%;}
.parameter_tb {margin-top:10px; background: #fff;}
.parameter_tb th, .parameter_tb td {border:1px solid #eee; height:30px; line-height:30px; text-indent:2em;}
.parameter_tb th {background:#fafafa; font-weight:700;}
.details_box {display:none;}
.evaluation_info {background:#fff; padding:20px 10px;}
.rate {width:85px; margin-top:10px;}
.rate strong {display:block; font-family:microsoft YaHei; font-size:36px; color: #df1738;}
.rate strong b {font-size:18px;}
.percent {width:232px; height:70px; padding:10px 0; border-right:1px solid #eee;}
.per_info dt {font-family:microsoft YaHei; font-size:14px; color:#333; width:75px; float:left;}
.per_info dd {margin:0 0 10px 75px;}
.per_info .per {color:#868686;}
.per_info .per b {font-weight:500;}
.per_bar {display:inline-block; zoom:1; *display:inline; width:134px; height:14px; background:#f7f7f7; position:relative; top:3px;}
.per_bar span {float:left; background:url(../images/percent_bg.gif) repeat-x; height:14px;}
.recommend_point {margin-left:25px; border-right:1px solid #eee; width:426px; height:70px; padding:10px 0;}
.rec_points { margin-top: 5px;}
.rec_points li {float:left; line-height:23px; background:#f7f7f7; font-size: 14px;padding:0 10px; margin:0 10px 5px 0; font-family:microsoft YaHei; color: #df1738;}
.cmt_rule{color:#df1738;}
.publish_cmt {width:168px; height:70px; padding:10px 0 0 10px; text-align:center;}
.pb_cmt {display:block; width:124px; height:30px; background: #df1738;line-height:29px; font-family:microsoft YaHei; font-size:14px; color:#fff!important; margin:10px auto;}
.comment_box {margin-top:10px; padding:20px 0; border-bottom: 1px solid #eee;}
.cmt_user {width:155px; text-align:center;}
.user_img img {padding:3px; border:1px solid #eee;}
.uname { margin-top:5px; line-height:150%;}
.uname a{display:block;}
.x-model{width:210px; padding-left: 10px; margin-top: 25px; margin-left: 10px;}
.x-model span{ color: #999; line-height: 150%;}
.user-level{color: #df1738;}
.cmt_main {width:470px; position:relative;}
.cmt_main .cmt_arrow {position:absolute; background:url(../images/cmt_arrow.gif) no-repeat; width:14px; height:20px; left:-14px; top:20px;}
.cmt_tit {padding-bottom:10px; border-bottom:1px solid #eee;}
.cmt_content {}
.cmt_content dt, .cmt_content dd {float:left; line-height:23px;}
.cmt_content dt {width:60px; text-align:right;}
.cmt_content dd {margin:0 30px 2px 5px; color:#333;}
.cmt_content dd .rec_points li {margin-bottom:0;}
.cmt-det{ line-height: 150%;color: #666;}
.buy_date {color:#999; line-height: 150%;}
.reply_btn, .replyBtn {display:inline-block; zoom:1; *display:inline; height:22px; line-height:22px; background:url(../images/reply_bg.gif) repeat-x; border:1px solid #ddd; padding:0 7px; border-radius:3px;}
.arrow {float:left; margin-left:20px; width:11px; height:6px; font:12px/12px simsun; overflow:hidden; position:relative; top:1px;}
.arrow em, .arrow span {float:left; width:12px; height:12px;}
.arrow em {color:#d9d9d9;}
.arrow span {margin-top:-11px; color:#f5f5f5;}
.reply_cont {background:#f5f5f5; border:1px solid #d9d9d9; padding:10px; clear:both;}
.reply_txa {width:725px; height:15px; padding:5px; border:1px solid #ddd; *width:705px;}
.replyBtn {padding:0 10px; color:#666; line-height:20px; margin-top:1.5px; cursor:pointer;}
.od_list li {float:left; margin:5px 10px 0 0;}
.od_list li img { border:1px solid #dedede;}
.rp-name a {padding:0 5px; color: #df1738;}
.reply_ct {border-top:1px solid #eee; padding:20px 0 0; margin-bottom:20px;}
.reply_ct strong {font-size:24px; font-family:microsoft YaHei; font-weight:700; text-align:right; color:#868686;}
.rp_wp {width:920px;}
.rp_btn {display:none; color: #df1738;}
.reply_ct:hover .rp_btn {display:inline;}
.all_cmt {padding-left: 0;}
.comment_cont {display:none; background: #fff; border:1px solid #dddddd; margin-top: 10px; padding: 0px 20px}
.consult_box {padding:10px 20px; border:1px solid #eee; border-top:none; background: #fff; margin-top:10px;}
.consult_search {width:280px; border-right:1px solid #eee; padding:5px 0;}
.consult_text {width:178px; height:25px; line-height:25px\9; border:1px solid #eee; padding:0 5px;}
.cs_search_btn {margin:-1px 0 0 7px; border:1px solid #eee; border-radius:2px; background: #fff;width:53px; height:28px;cursor:pointer; color: #333;}
.consult_prompt {width:645px; padding:10px 0 10px 20px; line-height:180%;}
.consult_prompt b{color: #df1738;}
.issued_consult{color: #df1738;}
.cs_reply{color: #df1738;}
.consult_wp {border:1px solid #eee; border-top:none; padding:10px; background: #fff;}
.consult_cont {display:none;}
.consult_item {font-family:simsun; border-bottom:1px solid #eee; padding-bottom:5px; margin-bottom:10px;}
.consult_item dt {float:left; line-height:150%;}
.consult_item dd {line-height:150%; margin-bottom:5px;}
.consult_user {color:#999;}
.cs_con dd a:hover {text-decoration:underline;}
.cs_reply dd {overflow:hidden;}
.cs_reply dd p {width:770px; line-height:150%;}
.cr_date {color:#999;}
.lazy {background:url(../images/loading.gif) no-repeat center center; background-size:20%;}
.goods-dg{width: 130px;float: right; padding-left: 20px; padding-top: 20px;}
.goods-dg ul li{ font-size: 14px; background: url(../images/g-quan.png) no-repeat left center; padding-left: 30px; line-height: 30px;}
.goods-dg ul li:hover{background: url(../images/r-quan.png) no-repeat left center;}
.goods-dg ul li:hover a{ color: #df1738;}
.goods-dg ul li a{color: #666;}
/*页脚*/
.paging_area {
    height: 32px;
    margin: 20px 0;
}

.paging {
    float: right;
    height: 32px;
}

.paging a, .paging span {
    display: block;
    float: left;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 14px;
    color: #999;
    background: #fff;
}

.paging .num_cur {
    border-color: #df1738;
    background: #df1738;
    color: #ffffff;
}

/*优惠券列表页*/
.pro-choe{
    height: 40px;
    background: #fbfbfb;
    border: 1px solid #eee;
    border-bottom: none;
    font-size: 14px;
    color: #333;
    line-height: 40px;
    padding-left: 20px;
}
.pro-choe span{
    color: #999999;
}
.pro-choe span em{
    color: #df1738;
}

.air-discountTic-n {
    position: relative;
    width: 174px;
    margin-bottom: 10px;
    padding: 10px 13px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #fff;
    font-size: 12px;
    background-color: #f4889a;
}

.air-discountTic-n:hover {
    cursor: pointer;
    background-color: #ea5870;
}
.air-discountTic-outdate-n{
    background-color: #b2b2b2;
    cursor: not-allowed;
}
.air-discountTic-outdate-n:hover{
    background-color: #b2b2b2;
}
.air-discountTic-n:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 155px;
    content: "";
    background: url(../images/discount-bd.png) 0 0 repeat-y;
}

.air-discountTic-n:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 155px;
    content: "";
    background: url(../images/discount-bd.png) -4px 0 repeat-y;
}

.air-discountTic-n .ticTitle {
    height: 25px;
    padding: 10px 0;
}

.air-discountTic-n .ticTitle div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.air-discountTic-n .ticTitle .ticValue {
    font-size: 30px;
    font-weight: bold;
}

.air-discountTic-n .ticTitle .rmb {
    font-size: 18px;
}

.air-discountTic-n ul {
}

.air-discountTic-n ul li {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
}

.air-discountTic-n .deleteTic {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -8px;
    margin-right: -8px;
    display: none;
}

.air-discountTic-n:hover .deleteTic {
    display: block;
}
