.top-container {
    width: 100%;
    border-bottom: 3px solid #2a2a2a;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
}

a {
    color: #666;
}

.col6 {
    color: #666;
}

.col9 {
    color: #999;
}

.head2 {
    width: 1000px;
    height: 43px;
    margin: 20px auto;
}

.head2 a {
    float: left;
}

.head2 h1 {
    display: block;
    float: left;
    height: 43px;
    line-height: 43px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #C8C8C8;
    font-family: "微软雅黑";
    font-size: 25px;
}

.new_login {
    float: right;
    height: 366px;
    width: 350px;
    border: 5px solid rgba(255, 255, 255, 0.4);
    margin-top: 26px;
    border-radius: 3px;
}

.new_login_con {
    background: #F8F8F8;
    height: 326px;
    padding: 20px 25px;
    border-radius: 3px;
}

.n_title{
    height: 40px;
    line-height: 40px;
}

.n_title span {
    font-size: 18px;
    font-weight: 600;
    font-family: '\5fae\8f6f\96c5\9ed1';
    color: #444444;
    float: left;
}

.n_title p {
    float: right;
    color: #888888;
    margin-top: 0px;
}

.n_title p a {
    color: #fff;
    background-color: #EC6A1E;
    width:50px;
    padding:5px 8px;
    border-radius: 2px;
    margin-left: 4px;
}

.n_row {
    position: relative;
    margin-bottom: 20px;
}

.n_tips {
    position: absolute;
    left: 0px;
    top: 41px;
    padding-left: 20px;
    color: #f2445d;
    display: none;
    background: url(../images/ero.png) no-repeat left center;
}

.n_row .n_text {
    width: 100%;
    height: 36px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    line-height: 36px;
    text-indent: 45px;
    *text-indent: 0;
    *padding-left: 45px;
    *width: 255px;
}

.n_row .n_text:focus {
    border-color: #3aa2e4;
}

input, label {
    vertical-align: middle;
    display: inline-block;
}

.n_row label {
    color: #666;
}

.n_error {
    border-color: #f2445d !important;
}

.n_row .n_btn {
    height: 40px;
    background: #ec6a1e;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    display: block;
    width: 100%;
    font-family: "微软雅黑";
    cursor: pointer;
}

.right {
    float: right;
    display: inline;
}

.left {
    float: left;
    display: inline;
}

.section_headerTop {
    height: 30px;
}

.n_head {
    width: 100%;
    border-bottom: 2px solid #f6ab02;
}

.n_logo .fore1 {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.n_logo .fore2 {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 2px;
    line-height: 20px;
    padding: 0px 10px;
}

.n_logo .fore2:hover {
    background: #fff;
    color: #ec6a1e;
}

.n_menu ul li {
    width: 110px;
    line-height: 44px;
    float: left;
    margin: 0px 10px;
}

.n_menu ul li a {
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.pr {
    position: relative;
}

.n_menu ul li .n_menu_hide {
    position: absolute;
    width: 118px;
    display: none;
    left: -1px;
    top: 40px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 55;
    border-top: none;
}

.n_menu ul li .n_menu_hide a {
    color: #666;
    line-height: 30px;
    font-size: 12px;
}

.n_menu ul li.n_hover {
    background: url(../images/xiala.png) no-repeat 95px center;
    width: 120px;
}

.n_menu ul li.n_hover:hover {
    border: 1px solid #ddd;
    width: 118px;
    background: url(../images/xiala_hover.png) no-repeat 95px center #fff;
    color: #666;
}

.n_menu ul li.n_hover:hover a {
    color: #666;
}

.n_menu ul li.n_hover:hover .n_menu_hide {
    display: block;
}

.hide {
    display: none;
}

.n_head .cartfd {
    position: absolute;
    top: 5px;
    right: 0;
    bottom: auto;
    left: auto
}

.cartfd .cartBanner {
    display: none
}

.cartfd .cartit {
    *zoom: 1;
    cursor: pointer
}

.cartfd .cartit:before, .cartfd .cartit:after {
    display: table;
    content: ""
}

.cartfd .cartit:after {
    clear: both
}

.cartfd .cartit span {
    float: left;
    width: 158px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #efefef;
    background-color: #f8f8f8;
    text-indent: 10px;
    font-size: 14px
}

.cartfd .cartit span s {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    background: url(../images/cart.png) no-repeat;
    width: 18px;
    height: 17px;
    margin-right: 10px
}

.cartfd .cartit strong {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #c33;
    font-size: 16px
}

.cartfd .cartit strong b {
    display: none
}

.miniCart {
    right: 0;
    position: absolute;
    width: 335px;
    z-index: 9999;
    *zoom: 1
}

.mCartHandler {
    background-color: #F4F4F4;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    z-index: 999998;
    border: 1px solid #c33;
    border-top: none
}

.mCartHandler h3 {
    float: left;
    color: #464646;
    font-size: 12px;
    height: 40px;
    padding-left: 24px;
    line-height: 40px
}

.mcCashier {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    padding-left: 20px;
    visibility: visible
}

.mcGenius {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    z-index: 999999
}

.mcGenius s {
    width: 12px;
    height: 12px;
    background: url(sprite.png) no-repeat -73px -375px
}

.bmcGenius s {
    background-position: -73px -360px
}

.mcTotal {
    float: left;
    height: 40px;
    margin-top: 2px;
    line-height: 40px;
    color: #ff0000;
    font-weight: 600
}

.mcGo {
    float: left;
    height: 40px;
    margin-top: 2px;
    line-height: 40px;
    color: #ff0000;
    font-weight: 600
}

.mcTotal {
    padding-right: 20px
}

.mcRmb {
    font-family: arial
}

.mcTotalFee {
    font-weight: 400
}

.mcGo {
    position: relative;
    margin-top: 0;
    width: 64px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: #c33;
    color: #ffffff
}

.mcGo a {
    color: #fff;

}

.mcGo a:hover {
    color: #fff;
}

.no-mcGo {
    background-color: #bebebe;
    color: #979797
}

.mc_e1, .mcNumTotal {
    display: none
}

.mc_e1 {
    padding: 10px 0 10px 100px
}

.mCartBox {
    background-color: #FFFFFF;
    border: 1px solid #c33;
    max-height: 364px;
    overflow-y: auto;
    padding: 0 2px;
    *position: relative
}

.emCartBox {
    padding: 20px 30px 20px 40px;
    background: url(sprite24.png) no-repeat -54px -391px
}

.mcBoxTop {
    padding: 10px 12px;
    border-bottom: 1px solid #D8D8D8;
    display: none
}

.mcBtn {
    position: absolute;
    top: 10px;
    right: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    padding: 1px 10px
}

.mcChk, .mcElect {
    float: left
}

.mcElect {
    padding-top: 2px
}

.mcBoxList {
    background-color: #fff;
    margin: 0 12px
}

.mCartError {
    position: absolute;
    bottom: 9px;
    left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    width: 272px;
    border: 1px solid #c33;
    background: #f5f5f5;
    opacity: 0.9;
    color: #9a1206
}

.mcFloat {
    position: absolute;
    top: 0
}

.mcOrder {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0;
    position: relative
}

.mcOrder .mcChk, .mcOrder .mcItem, .mcOrder .mcSqe, .mcOrder .mcAmount, .mcOrder .mcCost {
    float: left
}

.mcOrder .mcChk {
    padding-top: 15px;
    display: none
}

.mcOrder .mcItem {
    width: 52px
}

.mcOrder .mcItem .img {
    width: 50px;
    height: 50px;
    border: 1px solid #c9c8c6;
    background-color: #fff;
    display: table
}

.mcOrder .mcItem .img img {
    width: 50px;
    height: 50px
}

.mcOrder .mcSqe p {
    width: 140px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-left: 10px;
    text-align: left
}

.mcOrder .mcAmount {
    padding: 15px 6px 0;
    width: 54px;
    display: none
}

.mcAmount .minus, .mcAmount .plus {
    visibility: hidden
}

.mcOrder .mcCost {
    position: absolute;
    margin: 6px 0 0 10px;
    right: 10px;
    top: 0;
    color: #ff0000;
    font-weight: 700
}

.mcOrder .mcCost .del {
    position: absolute;
    right: 2px;
    top: 25px;
    font-weight: 500
}

.mcOrder .mcCost .mcPrice {
    padding: 5px 0 0;
    display: block
}

.totalCart {
    text-align: right;
    font-size: 14px;
    letter-spacing: -3px;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 10px 0;
    background: url(bar.png) left -883px repeat-x
}

.totalCart .totalNum {
    border: 1px solid #d3cdbf;
    padding: 10px;
    border-width: 1px 0 0 1px;
    border-radius: 2px 0 0;
    letter-spacing: 0
}

.totalCart .totalFee {
    border: 1px solid #d3cdbf;
    padding: 10px 0 10px 10px;
    border-width: 1px 1px 0 0;
    border-radius: 0 2px 0 0;
    letter-spacing: 0
}

.totalNum strong, .totalFee strong {
    padding: 0 10px;
    color: #c33
}

.totalCart .goBtn {
    color: #c33;
    padding: 10px;
    background-color: #c33;
    color: #fff;
    border-radius: 2px 0 0 2px
}

.totalCart .no-goBtn {
    color: #999;
    background-color: #bebebe
}

.n_step {
    padding-left: 100px;
}

.n_step .title {
    font-size: 20px;
    color: #666;
    padding-top: 40px;
}

.n_step_con {
    padding-top: 40px;
}

.n_step1 {
    width: 780px;
    background: url(../images/step.png) no-repeat center top;
    height: 40px;
}

.n_step2 {
    width: 780px;
    background: url(../images/step.png) no-repeat center -41px;
    height: 40px;
}

.n_step3 {
    width: 780px;
    background: url(../images/step.png) no-repeat center -82px;
    height: 40px;
}

.n_step4 {
    width: 780px;
    background: url(../images/step.png) no-repeat center -123px;
    height: 40px;
}

.n_step_con ul li {
    float: left;
    width: 100px;
    color: #999999;
    text-align: center;
    padding-right: 120px;
    line-height: 30px;
    font-size: 14px;
}

.n_step_con ul li.p100 {
    padding-right: 100px;
}

.n_step_con ul li.p130 {
    padding-right: 130px;
}

.n_step_con ul li.cur {
    color: #ec6a1e;
}

.n_step_con ul li.prev {
    color: #f1bfa3;
}

.n_password .n_item span.label {
    display: block;
    width: 120px;
    text-align: right;
    font-size: 14px;
    color: #666;
    line-height: 40px;
}

.n_password .n_item input {
    height: 38px;
    line-height: 38px;
    border: 1px solid #dddddd;
    width: 198px;
    text-indent: 10px;
}

.ne_tips {
    color: #f2445d;
    padding-top: 5px;
}

.n_password .n_item input:focus {
    border: 1px solid #3aa2e4;
}

.n_password {
    padding-top: 40px;
}

.n_password .n_item input.long_text {
    width: 320px;
}

.n_password .n_item input.short_text {
    width: 120px;
}

.n_password .n_item select {
    width: 138px;
    height: 38px;
    border: 1px solid #ddd;
    color: #999999;
}

.n_password .n_item strong {
    font-size: 14px;
    line-height: 40px;
    color: #666666;
}

.n_password .n_item img {
    display: inline-block;
    vertical-align: middle;
}

.ju_s {
    color: #ec6a1e;
}

.n_nextstep {
    font-family: "微软雅黑";
    cursor: pointer;
    height: 40px;
    width: 122px;
    background: #ec6a1e;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    border: none;
}

.hq_code {
    display: inline-block;
    background: url(../images/h_bg.jpg);
    height: 38px;
    vertical-align: middle;
    line-height: 38px;
    padding: 0px 5px;
    border: 1px solid #dddddd;
    color: #666666;
}

.n_set_over {
    background: url(../images/gou.png) no-repeat left center;
    margin-left: 219px;
    padding-left: 60px;
}

.gx_nin {
    color: #ec6a1e;
    font-size: 18px;
    font-weight: bold;
}

.col0 {
    color: #000;
}

.wp {
    width: 1200px;
    margin: 0 auto;
}

.service {
    border-top: 1px solid #dbdbdb;
    padding: 10px 20px;
}

.svc_box {
    padding-left: 40px;
    width: 150px;
    margin-top: 5px;
    min-height: 50px;
}

.svc_box dt {
    font-size: 14px;
    font-weight: 700;
    font-family: Microsoft YaHei;
    *color: #666;
}

.svc_box dd {
    margin-top: 5px;
}

.svc_box dd div {
    line-height: 20px;
}

.svc_01 {
    background: url(../images/svc_01.gif) no-repeat left top;
}

.svc_02 {
    background: url(../images/svc_02.gif) no-repeat left top;
}

.svc_03 {
    background: url(../images/svc_03.gif) no-repeat left top;
}

.svc_04 {
    background: url(../images/svc_04.gif) no-repeat left top;
}

.svc_05 {
    background: url(../images/svc_05.gif) no-repeat left top;
}

.service_intro {
    width: 205px;
    height: 150px;
    background: url(../images/map_img.gif) no-repeat;
    padding-top: 5px;
}

.service_intro h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: Microsoft YaHei;
}

.service_intro p {
    line-height: 20px;
    margin-top: 5px;
}

.service_intro .view_more {
    color: #005ea7;
}

.footer {
    padding-bottom: 30px;
    padding-top: 20px;
    *border-top: 1px solid #f0f0f0;
}

.ft_links li {
    display: inline-block;
    zoom: 1;
    *display: inline !important;
    margin: 0 5px;
}

.auth_wp a {
    margin: 0 5px;
}

.side_tools {
    width: 40px;
    background: #fff;
    position: fixed;
    right: 20px;
    display: none;
}

.side_tools li {
    float: left;
    width: 38px;
    border-style: solid;
    border-width: 0 1px;
    border-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.side_tools li span {
    display: block;
    height: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}

.side_tools .first_tool span {
    border-top: 1px solid #ddd;
}

.side_tools .last_tool span {
    border-bottom-color: #ddd;
}

.side_tools li em {
    display: none;
    padding: 0 5px;
    line-height: 14px;
    padding: 2px 5px \0;
    *padding: 2px 5px;
}

.side_tools li img {
    padding: 5px 0;
}

.side_tools .hover em {
    display: block;
}

.side_tools .hover img {
    display: none;
}

.side_tools .cur em {
    display: block;
    color: #fff;
}

.side_tools .cur img {
    display: none;
}

.backtotop, .feedback, .customer_service {
    margin-top: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    width: 38px;
    height: 33px;
    text-align: center;
}

.backtotop em, .feedback em, .customer_service em {
    display: none;
}

.backtotop b {
    display: block;
    width: 38px;
    height: 33px;
    background: url(../images/backtotop.gif) no-repeat;
}

.backtotop:hover b, .feedback:hover b, .customer_service:hover b {
    display: none;
}

.backtotop:hover em, .feedback:hover em, .customer_service:hover em {
    display: block;
    padding: 0 5px;
    margin-top: 2px;
    line-height: 14px;
    color: #fff !important;
}

.feedback b {
    display: block;
    width: 38px;
    height: 33px;
    background: url(../images/feedback.gif) no-repeat;
}

.customer_service b {
    display: block;
    width: 38px;
    height: 33px;
    background: url(../images/kefu.png) #efefef no-repeat center center;
}

.bh-mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none
}

.bh-dialog {
    width: 440px;
    min-height: 230px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -220px;
    background: #fff;
    z-index: 10000;
    border-radius: 5px;
    overflow: hidden;
    display: none
}

.bh-dialog .dia-tit {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    *zoom: 1;
    background: #ec6a1e
}

.bh-dialog .dia-tit:before, .bh-dialog .dia-tit:after {
    display: table;
    content: ""
}

.bh-dialog .dia-tit:after {
    clear: both
}

.bh-dialog .dia-tit h4 {
    float: left;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 30px
}

.bh-dialog .dia-tit .dia-close {
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    background: url(../images/close.png) no-repeat;
}

.bh-dialog .dia-cont {
    padding: 20px 30px;
    min-height: 100px
}

.bh-dialog .dia-cont p {
    font-size: 1.6em;
    line-height: 150%
}

.bh-dialog .dia-btn {
    text-align: center
}

.bh-dialog .dia-btn a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #ec6a1e;
    font-size: 1.4em
}

.fl {
    float: left
}

.reg_success {
    padding-left: 320px;
    padding-bottom: 20px;
}

.reg_success .notice2 {
    font-size: 25px;
    font-family: "微软雅黑", "宋体";
    color: #f60;
    margin-bottom: 20px;
}

.reg_success .notice2 img {
    margin-right: 20px;
}

.reg_success .notice3 {
    font-size: 16px;
}

.common_btn {
    padding: 5px 15px;
    background: #f60;
    border-radius: 5px;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 14px;
}

.common_btn:hover {
    color: #fff;
}

.reg_success .notice3 .common_btn {
    margin-right: 20px;
}

.reg_success .notice3 span a {
    color: #005AA0;
}

.success {
    border: 1px solid #eeb197;
    background: #fcebe4;
    padding: 30px 50px;
}

.scs_box {
    background: url(../images/scs_img.png) no-repeat left 20px;
    padding-left: 60px;
}

.err_box {
    background: url(../images/mod_war.png) no-repeat left 20px;
    padding-left: 60px;
}

.success .scs_word {
    color: #dd6330;
    font-family: microsoft YaHei;
    font-size: 20px;
}

.safe_level em {
    color: #dd6330;
    font-family: microsoft YaHei;
    font-size: 20px;
}

.memebr_title {
    height: 38px;
    line-height: 38px;
    border: 1px solid #E6E6E6;
    border-bottom: 1px solid #dda086;
}

.memebr_title h2 {
    color: #dd6330;
    text-indent: 20px;
    font-size: 16px;
    font-family: microsoft YaHei;
}