@charset "utf-8";

.bh_container {width:1200px; margin:10px auto;}
.bh_left, .bh_right {width:210px;}
.bh_left a, .bh_right a {display:block; margin-bottom:10px;}
.bh_center {width:760px;}
.slidesjs-navigation {display:none!important;}
.bh_slides {position:relative;}
.slidesjs-pagination {position:absolute; right:20px; bottom:10px; z-index:99;}
.slidesjs-pagination li {float:left; margin-left:10px;}
.slidesjs-pagination li a {display:block; width:20px; height:20px; text-align:center; line-height:20px; color:#fff; font-size:14px; background:url(../images/circle_bg.png) no-repeat;}
.slidesjs-pagination li a:hover {text-decoration:none;}
.slidesjs-pagination li .active {background:url(../images/cur_circle.png) no-repeat;}
.roll_list li {margin:0 2px;}
.roll_wp {margin:0 auto;}
.roll_box {padding-top:5px; height:124px; border:1px solid #ddd; border-top:none;}
.r_prev, .r_next {position:absolute; width:14px; height:23px; top:54px;}
.r_prev {background:url(../images/r_prev.gif) no-repeat; left:10px;}
.r_next {background:url(../images/r_next.gif) no-repeat; right:10px;}
.bh_title {border-bottom:2px solid #999;}
.bh_title h3 {width:190px; background:url(../images/floor_icon.png) no-repeat left center; padding-left:30px; font-family:Microsoft YaHei; font-size:20px; font-weight:700; color:#323232;}
.bh_title h3 span {font-size:30px; font-weight:500; color:#eb6122; margin-right:15px;}
.f_tabs li {float:left;}
.f_tabs li a {display:block; width:190px; padding:7px 0 12px; text-align:center; font-weight:700; color:#323232;}
.f_tabs li a:hover {text-decoration:none;}
.c_tabs {width:190px; height:7px; background:url(../images/c_tabs.gif) no-repeat; bottom:-2px; left:0;}
.fc_center {width:738px; height:458px; border:1px solid #ddd; padding:0 10px;}
.bh_list {width:760px; display:none;}
.bh_list li {float:left; width:175px; margin:0 13px 0 0;}
.pd_name a {color:#323232; line-height:150%;}
.pd_price {font-family:Microsoft YaHei; font-size:14px; color:#eb6122;}
.fc_right {width:210px;}
.fc_right a {display:block; margin-bottom:10px;}
.fc_right a img {width:210px; height:107.5px;}